.login-box{
	text-align:center;
	    font-size: 28px;
    color: #191E24;
    margin-bottom: 34px;
}
.login-title{
	    font-size: 28px;
    color: #191E24;
    margin-bottom:32px;
}
.register-now{
	    padding: 4px 0px 30px;
}
.login-email{
	
}
.element-box{
	margin-bottom:34px;
	margin-left:-60px;
}
.element-box label{
    font-weight: 400;
    width: 100px;
}
.email-input{
	padding:10px 6px;
    width: 300px;
    border-radius: 2px;
    border: 1px solid #dcdddd;
}
.error-tips{
	color: #e15f63;
    font-size: 14px;
    margin-top: 8px;
    text-align: left;
    padding-left: 430px;
}
.info-tips{
	       padding-left: 0px;
    color: #b5b5b6;
    font-size: 14px;
    margin-left: -14px;
    margin-top: 8px;
}
.login-btn-box{
	padding-left: 46px;
}
.login-btn-box button{
	padding: 8px 26px;
    border-radius: 4px;
    box-shadow: none;
    border: 0px solid #ddd;
    background-color: #ced7db;
    color: #fff;
    margin-top: 20px;
    margin-right:136px;
    cursor:default;
}
.login-btn-box button.active{
	background-color: #3794FF;
	cursor:pointer;
}
.register-now a,.login-btn-box a{
	color:#3794FF;
}
