/* init Styles start */
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #222;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
legend {
    color: #000000;
}
body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}
table {
    font-size: inherit;
}
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
input[type="submit"] {
    cursor: pointer;
}
button {
    cursor: pointer;
}
/* init Styles end */
.head_box{
	position: relative;
    background-color: #191e24;
    border-bottom: 1px solid #d9dadc;
}
.head .inner.wrp {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.head .inner {
    height: 42px;
}
.logo {
    float: left;
    padding-top: 15px;
    font-size: 24px;
    padding-left:10px;
}
/* .logo a {
    height: 20px;
	width: 76px;
	overflow:hidden;
	background-repeat: no-repeat;
	cursor: pointer;
	background-size:cover;
	display:block;
	background: url(../../img/example-icon/ruyiai-icon.svg) 0 0 no-repeat;
} */
.logo a{
	width: 80px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: pointer;
    background-image: url(../../img/example-icon/ruyiai-icon.svg);
    margin-top: -10px;
}
/* body start*/
html{
	height:100%;
	background-color: #F9F9FB;
}
body{
	background-color: #F9F9FB;
	width:100%;
	height:100%;
}
.body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 0 88px;
}
.container_box {
    background-color: #F9F9FB;
}
.container_box {
    border: 1px solid #d9dadc;
    background-color: #fff;
}
.container_box {
	min-height:600px;
	position: relative;
}
.nav-box{
	border-bottom:1px solid #dcdddd;
	overflow:hidden;
}
.nav-box li{
	float:left;
	width:25%;
	line-height:44px;
	text-align:center;
	position:relative;
	font-size:16px;
}
.nav-box li.active{
	background-color:#191e24;
	color:#fff;
}
.nav-box .out-arrow{
	height: 45px;
    width: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    background: url(../img/arrow-tab.png) -1px -124px no-repeat;
    position: absolute;
    left: 0;
}
.nav-box .cave-arrow{
	height: 45px;
    width: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    background: url(../img/arrow-tab.png) 0px -124px no-repeat;
    position: absolute;
    left: -1px;
}
.nav-box .tips-arrow{
	height: 45px;
    width: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    background: url(../img/arrow-tab.png) 0px -5px no-repeat;
    position: absolute;
    left: 0;
}
.register-info-box{
	padding-top: 60px;
    padding-bottom: 60px;
    overflow:hidden;
}
.register-info-left{
	width: 690px;
    float: left;
    border-right: 1px solid #e7e7eb;
    padding-left: 120px;
}
#help-box{
	position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    border: 0;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display:none;
}
#help-box #help-iframe{
	width: 402px; height: 530px; border: 0; overflow: hidden
}
#help-box .help-title{
    background-color: #000;
    color: #fff;
    height: 40px;
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    cursor:move;
}
#help-box .help-reduce{
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    background: url(https://dn-vbuluo-static.qbox.me/sprite1.png) -36px -189px no-repeat;
    margin-top: 12px;
    margin-left: 18px;
}
#help-box .help-reduce:hover{
	background: url(https://dn-vbuluo-static.qbox.me/sprite1.png) -20px -189px no-repeat;
}
#help-box .custom-title{
	margin-left: -31px;
}
#help-icon{
	height: 36px;
	width: 36px;
    background-repeat: no-repeat;
    cursor: pointer;
    background: url(https://dn-vbuluo-static.qbox.me/sprite1.png) -0px -225px no-repeat;
    position:absolute;
    right:40px;
    bottom:20px;
}
/* body end*/

