.register-cdkey-box{
	text-align:center;
	display:none;
}
.nav-box{
	display:none;
}
.airuyi-name{
	color:#37474F;
	font-size:20px;
	margin-top:20px;
	margin-bottom:14px;
}
.cdkey-number{
	padding:6px;
    width: 240px;
    margin-left:12px;
    border-radius:2px;
    border:1px solid #dcdddd;
}
.ruyi-qrcode{
	margin-top:20px;
	margin-bottom:12px;
}
.cdkey-submit{
	padding: 8px 22px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    background-color: #ced7db;
    margin-top:30px;
    cursor:default;
}
.cdkey-submit.active{
	cursor:pointer;
	background-color: #3794FF;
}
.error-tips{
    padding-top: 10px;
    padding-bottom: 4px;
    color: #e15f63;
    font-size:14px;
}
.email-expire{
	margin-top: 100px;
    font-size: 22px;
    text-align: center;
    display:none;
}
.email-expire a{
	color:#3794FF;
}


