.login-box{
	text-align:center;
	    font-size: 28px;
    color: #191E24;
    margin-bottom: 34px;
}
.login-title{
	    font-size: 28px;
    color: #191E24;
    margin-bottom:32px;
}
.tips-text{
	
}
.tips-email{
	color: #3794FF;
    margin: 12px 0;
}
.tips-active-text{
	    color: #B5B5B6;
}
.login-btn-box{
	padding-left: 40px;
}
.login-btn-box button{
	padding: 8px 26px;
    border-radius: 4px;
    box-shadow: none;
    border: 0px solid #ddd;
    background-color: #3794FF;
    color: #fff;
    margin-top: 50px;
    margin-right:30px;
}
