<!-- <link rel="stylesheet" type="text/css" href="css/log_statistics.css">
<link rel="stylesheet" type="text/css" href="css/loading.css"> -->
<hr>
<div class="tips-text" data-act="tips-text">
	<div class="loading" style="padding-top:24%;">
		<div class="spinner loading-icon">
		    <div class="spinner-container container1">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container2">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container3">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-sm-12 col-xs-12 right-box row-height statistics-box" style="border-left:0;">
		<!-- 右侧头部 start -->
		<section class="title" style="padding-left:4px;">
			数据统计
		</section>
		<!-- 右侧头部 end -->
		<!-- <div data-act="empty-tips" style="position:relative;display:none;">
			<div style="position: absolute; left: 34%; top: 22%; font-size: 24px; font-weight: bold;">
				通过以下方式让更多人认识你的机器人
				<a href="{{ruyi_wechat}}/ruyi-wechat/authorize.jsp?appId={{appId}}" target="_blank" style="display:block;color:#3794ff;font-size:20px;margin-top:12px;">接入微信公众号</a>
				<span ng-click="exportHtml5LinkFunc(currentRobot.appName,currentRobot.appKey)" target="_blank" style="font-weight:bold;cursor:pointer;display:block;color:#3794ff;font-size:20px;">生成H5链接</span>
			</div>
			<img src="https://dn-vbuluo-static.qbox.me/%E6%95%B0%E6%8D%AE%E7%BB%9F%E8%AE%A1%E8%83%8C%E6%99%AF.png" width="90%;" />
		</div> -->
		<div class="statistics-all-box" data-act="statistics-all-box">
			<div class="statistics-border-box">
				<div class="statistics-title">数据概要<button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="用户总数：历史上发送消息的用户。<br/>新增用户：首次与RUYI产生交互的用户数。<br/>活跃用户数：与RUYI产生交互的用户数。<br/>新增交互数：主动发送到RUYI的消息数。<br/>人均交互数：新增用户/活跃用户。"></button></div>
				<!-- 右侧主体部分 start -->
				<div class="right-box-main statistics" data-act="statistics-box" style="padding:0;">
					<!-- 问答对统计表start -->
					<ul class="nav nav-tabs" data-act="nav-tabs-statistics">
					   <li class="active app-response-weixin" data-act="today">
					   		<a>今天</a>
					   </li>
					   <li class="app-response-local" data-act="week">
					   		<a>最近7天</a>
					   </li>
					   <li class="app-response-local" data-act="month">
					   		<a>最近30天</a>
					   </li>
					</ul>
					<div class="table-responsive data-statistics-box">
					  <table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>数据来源</th>
								<th>用户总数</th>
								<th>新增用户数</th>
								<th>活跃用户数</th>
								<th>交互总数</th>
								<th>新增交互数</th>
								<th>人均交互数</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>微信</td>
								<td ng-bind="statistics.wechatUserCount"></td>
								<td ng-bind="statistics.wechatNewUsersCount"></td>
								<td ng-bind="statistics.wechatActiveUsersCount"></td>
								<td ng-bind="statistics.wechatFaqCount"></td>
								<td ng-bind="statistics.wechatNewFaqCount"></td>
								<td ng-bind="statistics.wechatAveFaqCount"></td>
							</tr>
							<tr>
								<td>硬件</td>
								<td ng-bind="statistics.otherUserCount"></td>
								<td ng-bind="statistics.otherNewUsersCount"></td>
								<td ng-bind="statistics.otherActiveUsersCount"></td>
								<td ng-bind="statistics.otherFaqCount"></td>
								<td ng-bind="statistics.otherNewFaqCount"></td>
								<td ng-bind="statistics.otherAveFaqCount"></td>
							</tr>
							<tr>
								<td>总数</td>
								<td ng-bind="statistics.allUserCount"></td>
								<td ng-bind="statistics.allNewUsersCount"></td>
								<td ng-bind="statistics.allActiveUsersCount"></td>
								<td ng-bind="statistics.allFaqCount"></td>
								<td ng-bind="statistics.allNewFaqCount"></td>
								<td ng-bind="statistics.allAveFaqCount"></td>
							</tr>
						</tbody>
						</table>
					</div>
					<!-- 问答对统计表end -->
					</div>
				</div>
				<!-- 问答对和意图图表 start -->
				<div class="row">
					<div class="col-sm-12 col-md-5 statistics-border-box" style="margin-right:20px;">
						<div class="statistics-title">技能插件调用情况<button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="查看每天（每周、每月）的问答对在各个技能插件中的分布情况。显示当前勾选的技能插件。">&nbsp;</button></div>
						<ul class="nav nav-tabs" data-act="nav-tabs-sys-robot">
						   <li class="active app-response-weixin" data-act="today">
						   		<a>今天</a>
						   </li>
						   <li class="app-response-local" data-act="week">
						   		<a>最近7天</a>
						   </li>
						   <li class="app-response-local" data-act="month">
						   		<a>最近30天</a>
						   </li>
						</ul>
		          		<div id ="call-rate"></div>
					</div>
					<div class="col-sm-12 col-md-5 statistics-border-box">
						<div class="statistics-title">趋势图<button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="点击图例说明，可以关闭或者打开这个数据曲线。">&nbsp;</button></div>
						<ul class="nav nav-tabs" data-act="nav-tabs-trend">
						   <li class="active app-response-weixin" data-act="week">
						   		<a>最近7天</a>
						   </li>
						   <li class="app-response-local" data-act="twoWeek">
						   		<a>最近14天</a>
						   </li>
						   <li class="app-response-local" data-act="month">
						   		<a>最近30天</a>
						   </li>
						</ul>
			          	<div id="tendency-chart" style="width:500px;margin-top:20px;"></div>
					</div>
				</div>
				</div>
				<!-- 问答对和意图图表 end -->
			</div>
			<!-- 右侧主体部分 end -->
		</div>
	</div>
</div>
<!-- 导出html5链接 Modal start-->
<div class="modal fade" id="export-html5-link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Html5推广链接
				</h4>
			</div>
			<div class="modal-body" style="padding:0;">
				<div class="modal-body default-answer-box" style="padding:40px 40px 20px;">
				  复制以下文本框中的链接，在浏览器打开，用户无需关注公众号即可与你的聊天机器人直接对话体验，建议在推广时使用。
			      </div>
			      <div class="form-group footer-box" style="padding:0 40px 42px;">
			      	 <input type="text" class="form-control link" style="width:100%;" ng-model="htmlLink" id="html5-link-extend"/>
			      	 <div class="pull-right btn btn-primary" data-act="copy-link" style="display:none;">复制链接</div>
			      </div>
				</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 导出html5链接 Modal end-->
<!-- <script src="js/log_statistics.js?v=20161102"></script> -->



