<div class="my_own_skill my_store">
	<h1>已发布的技能</h1>
	<ul class='my_ul'>
		<li class='card' ng-repeat='mySkill in mySkillList'>
			<div class="status" ng-class='mySkill.statuClass'>{{mySkill.statuText}}</div>
			<div class="top" data-skill-id="{{mySkill.id}}">
				<img ng-src="{{mySkill.agents[0].agent.logo}}">
				<div class="detail">
					<h2 ng-bind="mySkill.agents[0].agent.name"></h2>
					<span class="span">&nbsp;</span>
					<button ng-show='mySkill.btn_show' data-skill-id="{{mySkill.id}}" type="button" class="my_btn my_down_web">
					  	<span class="down_arrow"></span> {{mySkill.btn_Text}}
					</button>
				</div>
			</div>
		</li>
	</ul>
	<h1>
		已获取的技能
	</h1>
	<ul>
		<li class='card' ng-repeat='myHasSkill in myHasSkillList'>
			<div class="top" data-skill-id="{{myHasSkill.id}}">
				<img ng-src="{{myHasSkill.agents[0].agent.logo}}">
				<div class="detail">
					<h2 ng-bind="myHasSkill.agents[0].agent.name"></h2>
					<span class="span">&nbsp;</span>
					<button class='remove-skill-button' data-act="remove-my-skill" data-skill-id="{{myHasSkill.id}}" ng-show="myHasSkill.hasSkill == 'yes'">移除技能</button>
					<button class='my_button add_kill_button' data-act="add-my-skill" data-skill-id="{{myHasSkill.id}}" ng-show="myHasSkill.hasSkill == 'no'">获取技能</button>
				</div>
			</div>
		</li>
	</ul>

</div>