<style>
td{
	border:0 !important;
}
</style>
<hr>
<div class="row row-height all-service-box">
	<div class="col-md-12 col-sm-12 col-xs-12 center-list-box">
		<section class="center-list-title">
			<span>服务
			<button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="ruyi.ai为通用场景设计的开放服务，只需要勾选希望在机器人中使用的服务，机器人便可获得相应领域的服务能力。">
			  	&nbsp;
			</button>
			</span>
		</section>
		<div class="reference-app-box" style="padding-bottom:60px;position:relative;">
		   <div class="choose-service-type" ng-show="!referencedAppList || referencedAppList.length == 0">选择需要的服务类型</div>
		   <div class="chooseed-service" ng-show="referencedAppList && referencedAppList.length > 0">已选的服务</div>
		   <ul class="choosed-service-box clearfix">
		   	<li ng-repeat="referencedApp in referencedAppList">
		   		<div ng-bind="referencedApp.appName"></div><span ng-click="removeAppServiceFunc(referencedApp.id)">×</span>
		   	</li>
		   </ul>
		   <div class="chose-line" ng-show="referencedAppList && referencedAppList.length > 0">&nbsp;</div>
		   <table class="table service-table" data-act="service-table-set" style="margin-bottom:0;">
		      <tbody>
		         <tr ng-repeat="publicApp in publicAppList">
		            <td><input type="checkbox" ng-click="selectAppServiceFunc(publicApp.id)" ng-true-value="true" ng-false-value="false"></td>
		            <td style="padding-left:40px;width:40%;">{{publicApp.appName}}&nbsp;
		            	<button type="button" data-html="true" class="btn btn-default myhelp" ng-click="publicApp.id | helpUrlFilter">
					  	&nbsp;
						</button>
		            </td>
		            <td style="padding-left:10px;" ng-bind="publicApp.appDesc"></td>
		         </tr>
		      </tbody>
		   </table>
		   <div style="position:absolute;bottom:20px;left:42%;" class="confirm-service" ng-click="submitServiceApp()"><span>确 定</span></div>
		</div>  
	</div>
</div>
<div class="row row-height selected-service-box">
	<div class="col-md-12 col-sm-12 col-xs-12 center-list-box">
		<section class="center-list-title">
			<span>服务
			<button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="ruyi.ai为通用场景设计的开放服务，只需要勾选希望在机器人中使用的服务，机器人便可获得相应领域的服务能力。<a href='help.html#ruyi_ai_use_3' target='_blank'>更多</a>">
			  	&nbsp;
			</button>
			</span>
		</section>
		<div class="reference-app-box">
		   <div class="chooseed-service" style="display:block;margin-top:20px;">已选的服务 <span class="edit-service">&nbsp;</span></div>
		   <div class="chooseed-tips" style="display:block;margin-top:10px;">请拖动条目来排列已选的服务优先级 
		   <!--  		<button type="button" data-html="true" class="btn btn-default myhelp" ng-click="">
					  	&nbsp;
				</button>
			-->
		   </div>
		   <table class="table service-table table-hover" style="margin-bottom:0;margin-top:10px;height:100%;">
		      <tbody class="sortable">
		         <tr class="row" ng-repeat="publicApp in referencedAppList" data-act="selected-tr" data-id="{{publicApp.id}}" style="cursor:move;">
		            <td ng-bind="$index + 1"></td>
		            <td style="padding-left:40px;width:20%;">{{publicApp.appName}}&nbsp;
		            	<button type="button" data-html="true" class="btn btn-default myhelp" ng-click="publicApp.id | helpUrlFilter">
					  	&nbsp;
						</button>
					</td>
		            <td ng-bind="publicApp.appDesc" style="padding-left:10px;"></td>
		         </tr>
		      </tbody>
		   </table>
		</div>  
	</div>
</div>
<!-- <script src="js/skill_store.js"></script> -->



