<!-- <link href="https://cdn.bootcss.com/jquery-jcrop/2.0.4/css/Jcrop.min.css" rel="stylesheet"> -->
<style>
	textarea, input {
		font-family: '方正兰亭黑_GBK' !important;
		border:  1px solid #EBEEF0 !important;
		color:  #000 !important;
		font-weight: 300 !important;
	}
</style>
<div class="my_body" style="padding-top:16px;">
	<h1 class='title'>
		发布机器人至如意技能插件商店
		<button onmouseover="this.style.cssText='color:blue;'" onmouseout="this.style.cssText='color:black'" type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="top" data-content="经过如意平台审核的技能插件将会供其他机器恩开发者安装使用">&nbsp;</button>
	</h1>
	<div class='skill_settings'>
		<h2>技能设置</h2> <span class='copy_robot_attr'>一键复制机器人属性设置</span>
	</div>
	<div id="container">
		<h3>技能头像<span class='star'>*</span>:</h3>
		<img src="{{imgSrc}}" id="pickSkillImg" alt="头像" title="头像" class="skill-img"><span class="sub">点击更换头像</span>
		<!-- <input type="file" class='hide_input_img_upload'> -->
	</div>
	<div>
		<h3>技能名称<span class='star'>*</span>:</h3>
		<input type="text" placeholder="在商店中显示的名称" ng-model='robotName' class='robotName'>
	</div>
	<div>
		<h3>姓名唤醒词<span class='star'>*</span>:
			<button onmouseover="this.style.cssText='color:blue;'" onmouseout="this.style.cssText='color:black'" type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="top" data-content="唤醒词将会成为用户进入技能的方式，不可重复">&nbsp;</button>
		</h3>		
		<b ng-repeat='awake in awakes track by $index'><input type="text" placeholder="请输入唤醒词" class="small" ng-model='awake.value'><a href="javascript:void(0)" class='del_input'>&times;</a></b>
		<a ng-hide='awakes.length >= 5' href="javascript:void(0)" repeat-type='awakes' class='addCorect'> <span class='glyphicon glyphicon-plus'></span> 添加唤醒词</a>
	</div>
	<div>
		<h3>姓名语音纠错<span class='star'>*</span>:
			<button onmouseover="this.style.cssText='color:blue;'" onmouseout="this.style.cssText='color:black'" type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="top" data-content="将会帮助语音识别或者错别的唤醒">&nbsp;</button>
		</h3>
		<b ng-repeat='wrong in wrongs track by $index'><input type="text" placeholder="请输入纠错词" class="small" ng-model='wrong.value'><a href="javascript:void(0)" class='del_input'>&times;</a></b>
		<a ng-hide='wrongs.length >= 5' href="javascript:void(0)" repeat-type='wrongs' class='addCorect'> <span class='glyphicon glyphicon-plus'></span> 添加纠错词</a>
	</div>
	<div>
		<h3>技能简介<span class='star'>*</span>:</h3>
		<textarea cols="30" maxlength='100' placeholder="在技能插件商店中面向机器人开发者呈现的技能介绍。（100字以下）" ng-model='robotDesc' class='robotDesc'></textarea>
	</div>
	<div>
		<h3>技能分类<span class='star'>*</span>:</h3>
		<div class="dropdown mySel">
			<button type="button" class="btn dropdown-toggle selectedType" id="dropdownMenu1" 
				data-toggle="dropdown">
				{{selectedType}}
				<span class="glyphicon glyphicon-chevron-down myIcon"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" ng-repeat='skillType in skillTypes track by $index'>
					<a role="menuitem" tabindex="-1" href="javascript:void(0)">{{skillType.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<h3>用户使用范例<span class='star'>*</span>:</h3>
		<b ng-repeat='userSay in userSays track by $index'><input type="text" placeholder="用户说" class="small" ng-model='userSay.value'><a href="javascript:void(0)" class='del_input'>&times;</a></b>
		<a ng-hide='userSays.length >= 5' href="javascript:void(0)" repeat-type='userSays' class='addCorect'> <span class='glyphicon glyphicon-plus'></span> 添加用户说</a>
	</div>
	<div>
		<h3>开发者简介<span class='star'>*</span>:</h3>
		<textarea cols="30" placeholder="将会在技能商店中显示" ng-model='selfDesc' class='selfDesc'></textarea>
	</div>
	<div>
		<h3>开发者主页:</h3>
		<input type="text" placeholder="主页域名将会在技能商店中显示" ng-model='self_homepage'>
	</div>
	<div>
		<h3>技能审核说明<span class='star'>*</span>:</h3>
		<textarea cols="30" maxlength='2000' class='skillDesc' placeholder="为加快如意技能的审核上线，开发者可将详细的技能功能，使用范例说明以及技能边界添加至此。所写内容仅供审核使用。（2000字以下）" ng-model='skillDesc'></textarea>
		<label class='addLabel'>提示：将机器人发布为技能插件时，该机器人所获得的技能插件将不会在被引用时生效;在后台做了改进之后，需要再次提交技能插件才能在线上生效。</label>
	</div>
	<hr>
	<div>
		<h3>第三方平台接入:</h3>
		<ul class='skill-platform'>
			<li class='sbc'>
				<div class="my_btn">
					<div class="toggleBox">
			      			<input type="checkbox" autopostback='true' data-toggle="toggle" name='sbc'>
			      		</div>
				</div>
			</li>
			<li class='xm'>
				<div class="my_btn">
					<div class="toggleBox">
			      			<input type="checkbox" autopostback='true' data-toggle="toggle" name='xm'>
			      		</div>
				</div>
			</li>
			<li class='bd'>
				<div class="my_btn">
					<div class="toggleBox">
			      			<input type="checkbox" autopostback='true' data-toggle="toggle" name='bd'>
			      		</div>
				</div>
			</li>
			<li class='rk'>
				<div class="my_btn">
					<div class="toggleBox">
			      			<input type="checkbox" autopostback='true' data-toggle="toggle" name="rk">
			      		</div>
				</div>
			</li>
		</ul>
	</div>
	<button class='skill_publish'>提交发布</button>
	
	<!-- 头像裁剪 Modal start-->
	<div class="modal fade" id="cut-header">
	  <div class="modal-dialog" style="width:452px;padding-top:120px;">
	    <div class="modal-content" style="width:452px;">
	      <div class="modal-header">
	      	<h4 class="modal-title modal-title">头像裁剪</h4>
	        <div style="cursor:pointer;"><div class="close-modal">&nbsp;</div></div>
	      </div>
	      <div class="modal-body" style="padding:0 21px 21px 10px;">
			  <div style="font-size: 16px; padding-left: 13px; margin-bottom: 8px; color: #3794FF;"><!-- 选择要截取的部分，双击确认 --></div>
			  <div class="container"></div>
	      </div>
	      <div class="modal-footer" style="padding:22px;padding-top:0;">
	        <button id='clip_btn_sure' class="common-active-button" style="margin-right:4px;">确定</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<!-- 头像裁剪 Modal end-->

	<div id='uploadSuccess' class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 600px;">
				<div class="modal-header">
					
				</div>
				<div class="modal-body my-modal-body" style="text-align: center;" id='clipContainer'>
					<b class='okImg'>&nbsp;</b>
					<h1>提交成功</h1>
					<p>技能审核需要一到两个工作日，审核结果会通过手机和邮箱通知，注意查看哦！</p>
					<button id class='iKown'>确定</button>
				</div>
				<div class="modal-footer">

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

</div>
<!-- <script src='../js/skill_publish.js'></script> -->
<script src="js/external/jquery.Jcrop.min.js"></script>
<script type="text/javascript">
	setTimeout(function(){
		hljs.initHighlightingOnLoad();
	}, 500);
</script>

