.template-continer {
	color: #fff;
    max-width: 100%;
    height: 80%;
    padding: 3% 10%;
    text-align: center;
    display: none;
    padding-bottom: 20%;
}
.template-continer .title {
	text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 01rem;
}

.template-continer .question{
	margin-top: 1rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.template-continer .ul-box { 
	width: 100%;
	text-align: center;
	margin-top: 3rem;
	
}

.template-continer .ul-box .ui-item {
	display: block;
    float: left;
    width: 18%;
    color: #fff;
}

.template-continer .ul-box .ui-item .item-img {
	width: 100%;
    border-radius: 10px;
    height: 8rem;
}

.template-continer .ul-box .ui-item .item-name {
	font-size: 1.4rem;
    margin-top: 1rem;
    display: inline-block;
}

.template-continer .prompt {
	font-size: 1.3rem;
}

.template-continer .tips {
	font-size: 1rem;
	margin-top: 0.6rem;
	color: rgba(255, 255, 255, 0.6);
}

.template-continer .fixed-tips{
	font-size: 1.2rem;
    margin-top: 1.3rem;
    color: #fff;
}
.template-continer .content-box {
	width: 600px; 
	height : 225px; 
	font-size : 15px; 
	position : fixed; 
	top :50%; 
	margin-top : -112.5px; 
	left : 50%; 
	margin-left : -300px; 
    background-size: cover;
    border-radius:8px;
    background-color: #fff;
}
.template-continer .audio-box{
	background-image: url(../img/audio-icon.svg);
    background-size: cover;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
}
.template-continer .blank-space{
	height:2rem;
}
.template-continer .prompt-box{
	position: fixed;
    bottom: 0;
    width: 80%;
    padding-bottom: 1rem;
    background-color: rgba(22, 31, 47, 0.8);
}
.content-box-media{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1rem;
    width: calc(100% - 48px);
}
.template-one-continer .ul-box{
	padding:60px 0 0px 58px;
	width: 810px; 
	position: fixed; 
	top: 50%; 
	margin-top: -132.5px; 
	height: 265px; 
	left: 50%; 
	margin-left: -405px;
    background-size: cover;
    background-color: #fff;
}


