.template-two-continer{
	padding:3% 17%;
}
.template-two-continer .question{
	font-size:1.2rem;
	color:#fff;
}
.template-two-continer .fixed-tips{
	font-size:1.4rem;
	color:rgba(255, 255, 255, 0.6);
}
.template-two-continer .media-body-template{
	text-align:left;
	padding-left:20px;
	padding-right:12.5px;
}
.content-box-media{
	padding:0;
}
.template-two-continer .prompt-box{
	width:66%;
}
.template-two-continer .content-box{
    padding: 22.5px;
    text-align: left;
    color: #555;
}
.template-two-continer .content-box .media-img{
}
.template-two-continer .media-heading-template{
	font-size:20px;
	text-align:center;
	font-weight:bold;
	margin-top: 10.5px;
}
.template-two-continer .media-heading-desc{
	font-size: 15px;
    display: inline-block;
    word-break: break-all;
    display: block;
    line-height: 22px;
    width: 100%;
    padding-right: 0;
    margin-top: 18px;
    max-height: 128px;
    overflow-y: auto;
}
.template-server-tips .system-tips{
	max-height: 140px; overflow: hidden; overflow-y: auto; padding: 0 22.5px; line-height: 20px; color: #555; font-size: 15px;
}
.template-two-continer .ruyi-logo{
	position: absolute;
    bottom: 0.4rem;
    right: 2rem;
    width: 4rem;
}