<!DOCTYPE html>
<html ng-app="apiManagerApp" ng-controller="apiManagerCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">  
	
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	
	<!-- 压缩后的css start -->
	<!-- <link rel="stylesheet" type="text/css" href="css/merge.min.css?v=201708005a"> -->
	<!-- 压缩后的css end -->
	
	<link rel="stylesheet" href="https://dn-vbuluo-static.qbox.me/jquery-ui.css">
	<link rel="stylesheet" href="https://dn-vbuluo-static.qbox.me/font-awesome-ie7.min.css">
	<link rel="stylesheet" href="https://dn-vbuluo-static.qbox.me/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/robot.css?v=20161102b">
	<link rel="stylesheet" type="text/css" href="css/api_manager.css?v=20161116">
	<link rel="stylesheet" type="text/css" href="css/api_manager_two.css?v=20161104">
	<link rel="stylesheet" type="text/css" href="css/new-user.css">
	<link rel="stylesheet" type="text/css" href="css/angularDemo.css">
	<link rel="stylesheet" type="text/css" href="https://dn-vbuluo-static.qbox.me/bootstrap-submenu.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css?20161012">
	<!-- 文件中的引用 -->
	<link rel="stylesheet" type="text/css" href="css/action_set.css">
	<link rel="stylesheet" type="text/css" href="css/loading.css">
	<link rel="stylesheet" type="text/css" href="css/skill_store.css">
	<link rel="stylesheet" href="css/jquery.Jcrop.min.css" type="text/css" />
	<link rel="stylesheet" href="css/import_knowledge_base.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/log_statistics.css">
	<link rel="stylesheet" href="css/jquery.Jcrop.min.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="css/skill_store.css">
	<link rel="stylesheet" type="text/css" href="css/star-rating.min.css">
	<link rel="stylesheet" type="text/css" href="css/skill-publish.min.css">
	
	<link rel="stylesheet" type="text/css" href="css/ruyi_skill.css">
	<link rel="stylesheet" type="text/css" href="css/open_skill.css">
	<link rel="stylesheet" type="text/css" href="css/my_skill.css">
	<link rel="stylesheet" type="text/css" href="css/skill.css">
	<!-- 文件中的引用 -->
	
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_qlr8kbgvlwyiudi.css">
	<title>开发者平台</title>
	<style>
		.tooltip-inner{
			z-index: 9 !important;
		}
	</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f7ec6bda1ae48b34de486984c876bcd7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<nav class="clearfix nav-box">
	 <div class="pull-left" data-act="skip-to-index">
	 	<img src="../img/example-icon/ruyiai-icon.svg" class="ruyiai-icon">
	 </div>
	 <div class="pull-left ruyiai-beta" data-act="skip-to-index">
	 	&nbsp;&nbsp;测试版
	 </div>
	<ul class="nav nav-pills nav-box-ul">
	  <li class="active" role="presentation"><a href="../index.html">首 页<div></div></a></li>
	  <li role="presentation" id="help"><a href="http://docs.ruyi.ai/" target="_blank">开发者文档<div></div></a></li>
	  <li role="presentation" id="nav-mylogin"><a href="#" class="nav-btn-login" data-toggle="modal" data-target="#login">登录</a></li>
	  <li role="presentation" id="nav-register"><a href="#" class="nav-btn-login" data-toggle="modal" data-target="#qr-code">注册</a></li> 
	  <li role="presentation" id="nav-user-info">
		<ul class="nav navbar-nav navbar-right">
	           <li class="dropdown" id="fat-menu">
	             <a style="" aria-expanded="true" style="padding-top: 3px;" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#" id="drop3">
	               <span data-act="myemail"></span><span class="caret"></span>
	             </a>
	             <ul aria-labelledby="drop3" class="dropdown-menu" style="border-radius:0;font-size:18px;padding:0;margin-top:14px; border: none;">
	               <li><a data-toggle="modal" data-target="#appkey" href="javascript:;" id="appkey-manager">机器人列表</a></li>
	               <li><a href="#" data-toggle="modal" data-target="#change-password">修改密码</a></li>
	               <li><a href="#" id="mylogout">退出登录</a></li>
	             </ul>
	           </li>
	         </ul>
	  </li>
	</ul>
</nav>
<input type="text" id="html5-link" style="position:fixed;top:-1000px;" />
<div class="container-fluid box" id="api-manager-box">
	<div class="row row-height" style="position:relative;">
		<div style="position:absolute;left:0;top:0;width:250px;" class="left-box col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div class="assistant-box clearfix">
				<img ng-src="{{currentRobot.headUrl | robotHeadUrlFilter}}" data-act="show-app-list" data-toggle="tooltip" data-placement="bottom" title=""/>
				<span ng-bind="currentRobot.appName" data-act="appName-global" title="{{currentRobot.appName}}"></span>
				<ul class="list-group" data-act="app-list-box" ng-show="appList && appList.length > 0">
				  <li class="list-group-item" style="border-bottom:1px solid #dcdddd;" ng-click="skipAppManager()">机器人列表页面</li>
				  <li ng-repeat="appObj in appList" class="list-group-item" ng-click="goConsoleManager(appObj.id,appObj.appName,appObj.appKey)" ng-bind="appObj.appName"></li>
				</ul>
			</div>
			<ul class="list-group" style="margin-top:0;">
			  <li class="list-group-item" data-act="nav-log-statistics" ng-click="goCenterList('log_statistics')">
			  		<i class="iconfont left-icon">&#xe61c;</i>
			  		<a href="#/log_statistics">数据统计</a>
			  </li>
			  <li class="list-group-item" data-act="user_log_list" ng-click="goCenterList('user_log_list')">
			  		<i class="iconfont left-icon">&#xe619;</i>
			  		<a href="#/user_log_list">粉丝管理</a>
			  </li>
			  <li class="list-group-item scenario-box" style="padding:8px;" data-act="nav-scenario" data-toggle="collapse" data-target="#dialogScenes" aria-expanded="true" aria-controls="dialogScenes">
			  	<i class="iconfont left-icon">&#xe607;</i>
			  	<a href="javascript:;">对话场景</a>
			  	<i class="iconfont left-search" ng-click="goCenterList('intent_search')" data-toggle="tooltip" data-placement="bottom" title="搜索意图">&#xe621;</i>
			  	<i class="iconfont left-addScenario" data-toggle="tooltip" data-placement="bottom" title="添加场景">&#xe60a;</i>
			  </li>
			  <li class="collapse in dialogScenes" id="dialogScenes">
				 <ul class="list-group myListGroup">
				   <li ng-repeat="scenario in scenarioList" data-act="nav-scenario-{{scenario.id}}" class="list-group-item scenario-object" data-scenario-id="{{scenario.id}}">
				   		<!-- start  -->
				   		<span style="background: #71c737;" data-toggle='tooltip' title="{{scenario.title || '该场景已打开'}}" ng-class='scenario.isAbledClass' class='colorBtn' data-container='body' ng-hide='scenario.shouldHide'>&nbsp;</span>
				   		<!-- end -->
				   		<a class="high-hover-ctrl" href="#/intent_list/{{scenario.id}}" ng-bind="scenario.name"></a>
				   		<div class="btn-group my-btn-group pull-right" ng-hide='scenario.shouldHide'>
			  	 			<div class="dropdown-toggle glyphicon glyphicon-option-vertical btn-scenario" type="button" data-submenu="" aria-expanded="false"></div>
					   		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
					  	 		<li class="dropdown-submenu">
					  	 			<a href="javascript:;" data-act="copy-to-other-robot">复制到其他机器人</a>
					  	 			<ul class="dropdown-menu robot-list-ul">
									   <li ng-repeat="appObj in appList" ng-if="appObj.id != currentRobot.id" data-act="nav-scenario-{{scenario.id}}" class="list-group-item" ng-click="copyScenario(scenario.id,appObj.id)">
									   		<a href="javascript:;"><span ng-bind="appObj.appName"></span></a>
									   	</li>
									</ul>
					  	 		</li>
					  	 		<li class="delete-scenario" data-scenario-id="{{scenario.id}}" data-scenario-name="{{scenario.name}}"><a href="javascript:;">删除</a></li>
					  	 	</ul>
					  	</div>
				   </li>
				</ul>
			   </li>
			  <li class="list-group-item" data-act="nav-entity" ng-click="goCenterList('entity_list')">
			  	<i class="iconfont left-icon">&#xe615;</i>
			  	<a href="#/entity_list">词典实体</a>
			  </li>
			 <li class="list-group-item" data-act="nav-import-knowledge-base" ng-click="goCenterList('import_knowledge_base')">
			  	<i class="iconfont left-icon">&#xe618;</i>
			  	<a href="#/import_knowledge_base">导入知识库</a>
			  </li>
			  <li class="list-group-item" data-act="nav-robot-para" data-toggle="collapse" data-target="#robot-parament" aria-expanded="true" aria-controls="robot-parament">
			  	<i class="iconfont left-icon">&#xe61a;</i>
			  	<a href="javascript:;">机器人设置</a>
			  </li>
			  <li class="collapse dialogScenes" id="robot-parament">
				 <ul class="list-group">
					   <li data-act="nav-robot-role" ng-click="goCenterList('robot_paramenter')" class="list-group-item" style="height: 42px;">
					   		<a class="high-hover-ctrl" href="#/robot_paramenter">属性设置</a>
					   </li>
					   <li data-act="nav-action-set" ng-click="goCenterList('action_set')" class="list-group-item" style="height: 42px;">
					   		<a class="high-hover-ctrl" href="#/action_set">触发器设置</a>
					   </li>
					   <li data-act="nav-weixin" ng-click="goCenterList('nav-weixin')" class="list-group-item" style="height: 42px;">
					   		<a class="high-hover-ctrl" style="font-size:14px;" target="_blank" href="{{ruyi_wechat}}/ruyi-wechat/authorize.jsp?appId={{appId}}">微信授权</a>
					   </li>
				 </ul>
			  </li>
			  <li class="list-group-item" data-act="nav-skill-publish" ng-click="goCenterList('skill-publish')">
			  	<i class="iconfont left-icon">&#xe615;</i>
			  	<a href="#/skill_publish">技能插件发布</a>
			  </li>
			   <li class="list-group-item" data-act="nav-robot-skill" ng-click="goCenterList('skill_store')">
			  	<i class="iconfont left-icon">&#xe600;</i>
			  	<a href="#/skill_store">技能插件</a>
			  </li>
			  <li class="list-group-item" data-act="nav-resource" ng-click="goCenterList('resource')">
			  	<i class="iconfont left-icon">&#xe617;</i>
			  	<a href="#/resource">素材管理</a>
			  </li>
		</div>
		<div style="padding-left: 250px; width: 100%; padding-top: 10px;  margin-top: -10px;" class="center-box" ui-view>
		</div>
	</div>
</div>
<!-- 助理属性设定 Modal start-->
<!-- 助理属性设定 Modal end-->
<!-- 缺省回复 Modal start-->
<div class="modal fade" id="assistantAnswerModal">
  <div class="modal-dialog" style="width:490px;padding-top:120px;">
    <div class="modal-content">
      <div class="modal-header">
      	<h4 class="modal-title font-size-style modal-title">缺省回复</h4>
        <div style="cursor:pointer;"><div class="close-modal">&nbsp;</div></div>
      </div>
      <div class="modal-body default-answer-box" style="padding:40px 40px 20px;">
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="defaultResponse in defaultResponses track by $index">
		  	<input type="text" class="form-control" name="default-answer" ng-model="defaultResponse" ng-keydown="addDefaultResponseKeydownFunc($event,defaultResponse,$index)" ng-blur="addDefaultResponseFunc(defaultResponse,$index)" />
		  	<i class="delete" ng-click="deleteDefaultResponseFunc($index)"></i>
		  </li>
		  <li class="list-group-item">
		  	<input type="text" placeholder="添加缺省回复" class="form-control" ng-model="defResponse" ng-keydown="addDefaultResponseKeydownFunc($event,defResponse,$index)" ng-blur="addDefaultResponseFunc(defResponse,$index)" />
		  </li>
		</ul>
		<div class="form-group footer-box" style="padding-top:30px;padding-bottom:20px;">
		    <div class="col-md-offset-1 col-md-10 clearfix footer-modal">
		      <div class="pull-right submit-modal btn btn-primary rating-submit" ng-click="setDefaultResponseFunc()">保存</div>
		      <a class="pull-right cancel-modal btn btn-default rating-cancel" data-dismiss="modal">取消</a>
		    </div>
		 </div>
     	
      </div>
      	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 缺省回复 Modal end-->  
<!-- 导出html5链接 Modal start-->
<div class="modal fade" id="export-html5-link">
  <div class="modal-dialog" style="width:490px;padding-top:120px;">
    <div class="modal-content">
      <div class="modal-header">
      	<h4 class="modal-title font-size-style modal-title">Html5链接</h4>
        <div style="cursor:pointer;"><div class="close-modal">&nbsp;</div></div>
      </div>
      <div class="modal-body default-answer-box" style="padding:40px 40px 20px;">
		  复制H5链接：用户无需关注公众号即可与你的聊天机器人直接对话体验，建议在推广时使用。
      </div>
      <div class="form-group footer-box" style="padding:0 40px 42px;">
      	 <input type="text" class="form-control link"/>
      	 <div class="pull-right submit-modal btn btn-primary copy-link" data-act="copy-link">复制链接</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 导出html5链接 Modal end-->  
<div class="fixed-btn" data-act="try-btn">
	<i class="try-icon"></i>试一试
</div>

<!-- 试一试start -->
<div class="try-modal" id="try-try">
	<div class="try-dialog">
		<div class="try-contant">
			<div class="try-header clearfix">
				<div style="cursor:pointer;"><div class="max-modal" data-act="nav-test-try" ng-click="goCenterList('angularDemoTry')">&nbsp;</div></div>
				<div class="pull-right try-close"></div>
			</div>
			<div class="try-body">
				<ul class="nav nav-tabs try-nav" data-act="try-nav-dbclick">
					<li class="active try-weixin">
						<a href="javascript:;" data-toggle="tab">微信</a>
					</li>
					<li class="try-local">
						<a href="javascript:;" data-toggle="tab">硬件</a>
					</li>
				</ul>
				<div class="tab-content not-drag">
					<div class="center-list-box fade in active tab-pane" id="weixin-try">
						<div class="searchContain try-searchContain">
							<div class="testContain try-testContain">
								<ul class="list-unstyled" ng-repeat="talk in talks">
									<li ng-if="talk.userRight" class="clearfix userTalk">
										<img ng-src="img/ruyi-user.svg">
										<div>
											<span class="userBorder"></span>
											<span class="userContain"></span>
											{{talk.talkText}}
										</div>
									</li>
									<li ng-if="talk.serverLeft" class="clearfix serverTalk">
										<img ng-src="img/ruyi-avatar.svg">
										<div class="{{talk.type}}">
											<span class="serverBorder"></span>
											<span class="serverContain"></span>
											<span class="talk-content" ng-if="talk.talkType == '微信文本' || talk.talkType == '未匹配到意图'" ng-bind-html="talk.talkText"></span>
											<img class="talk-content" ng-if="talk.talkType == '微信图片'" ng-src="{{talk.url}}"  style="width:200px;"/>
											<audio class="talk-content" ng-src="{{talk.url | trustUrlFilter}}" ng-if="talk.talkType == '微信音乐' || talk.talkType == '微信音频'" controls="controls" preload="load" style="height:30px;width:200px;margin-top:5px;" ></audio>
											<video class="talk-content" ng-src="{{talk.url | trustUrlFilter}}" ng-if="talk.talkType == '微信视频' && talk.mediaId == null" controls="controls" preload="load" style="height:150px;width:200px;margin-top:-2px;" ></video>
											<ul class="talk-content wechat-multi-news" ng-if="talk.talkType == '微信图文' && talk.list.length > 1" style="padding-left: 0; border: 1px solid #ccc;width:200px;">
												<li class="wechat-news-single" ng-repeat="list in talk.list"  go_url="{{list.url}}">
													<img ng-src="{{list.pic_url | trustUrlFilter}}">
													<p>{{list.title}}</p>
												</li>
											</ul>
											<div class="talk-content wechat-single-news wechat-news-single" ng-if="talk.talkType == '微信图文' && talk.list.length == 1" style="width:200px;"  go_url="{{talk.list[0].url}}">
												<p>{{talk.list[0].title}}</p>
												<img ng-src="{{talk.list[0].pic_url | trustUrlFilter}}">
												<p>{{talk.list[0].description}}</p>
												<span>查看全文</span>
											</div>
											<img class="talk-content wechat-image" talkType="{{talk.talkType}}" talkURL="{{talk.mediaId}}" ng-if="talk.talkType == '微信视频' && talk.mediaId != null" src="https://dn-vbuluo-static.qbox.me/background_image.png"/>
											<!--  
											<span class="talkType" ng-show="talk.talkType != '微信文本'" style="background-color: {{talk.backgroundcolor}}">{{talk.talkType}}</span>
											<span class="talk-content" talkType="{{talk.talkType}}" talkURL="{{talk.url}}" talkBackgroundcolor="{{talk.backgroundcolor}}" talkText="{{talk.talkText}}" Type="{{talk.type}}">{{talk.talkText}}</span>
											-->
										</div>
									</li>
								</ul>
							</div>
						</div>
				
						<div class="testTextarea try-testTextarea" style="height:68px !important;margin-bottom:-57px;">
							<textarea data-act="sendMsg" rows="4" ng-model="userSaysTextTry" style="height:82px;" placeholder="请填写你要说的话"></textarea>
							<button type="button" class="btn btn-primary" ng-click="testSubmit($event)" style="margin-bottom:7px;">发 送</button>
						</div>
					</div>
					<div class="center-list-box fade tab-pane" id="local-try">
						<div class="searchContainLocal try-searchContain">
							<div class="testContainLocal try-testContain-local">
								<ul class="list-unstyled" ng-repeat="localTalk in localTalks">
									<li ng-if="localTalk.userRight" class="clearfix userTalk">
										<img ng-src="img/ruyi-user.svg">
										<div>
											<span class="userBorder"></span>
											<span class="userContain"></span>
											{{localTalk.talkText}}
										</div>
									</li>
									<li ng-if="localTalk.serverLeft" class="clearfix serverTalk">
										<img ng-src="img/ruyi-avatar.svg">
										<div class="{{localTalk.type}}">
											<span class="serverBorder"></span>
											<span class="serverContain"></span>
											<span class="talk-content" ng-if="localTalk.talkType == '硬件文本' || localTalk.talkType == '未匹配到意图'" ng-bind-html="localTalk.talkText"></span>
											<img class="talk-content" ng-if="localTalk.talkType == '硬件图片'" ng-src="{{localTalk.url}}" style="width:200px;"/>
											<audio class="talk-content" ng-src="{{localTalk.url | trustUrlFilter}}" ng-if="localTalk.talkType == '硬件音频'" controls="controls" style="height:30px;width:200px;margin-top:5px;" ></audio>
											<video class="talk-content" ng-src="{{localTalk.url | trustUrlFilter}}" ng-if="localTalk.talkType == '硬件视频'" controls="controls" style="height:150px;width:200px;margin-top:-2px;" ></video>
											<!-- 
											<span class="talkType" ng-show="localTalk.talkType != '硬件文本'" style="background-color: {{localTalk.backgroundcolor}}">{{localTalk.talkType}}</span>
											<span class="talk-content" talkType="{{localTalk.talkType}}" talkURL="{{localTalk.url}}" talkBackgroundcolor="{{localTalk.backgroundcolor}}" talkText="{{localTalk.talkText}}" Type="{{localTalk.type}}">{{localTalk.talkText}}</span>
											-->
										</div>
									</li>
								</ul>
							</div>
						</div>
				
						<div class="testTextarea try-testTextarea testTextareaLocal" style="height:68px !important;margin-bottom:-57px;">
							<textarea data-act="sendMsg" rows="4" ng-model="userSaysTextTryLocal" style="height:82px;" placeholder="请填写你要说的话"></textarea>
							<button type="button" class="btn btn-primary" style="margin-bottom:7px;" ng-click="testSubmitLocal($event)" style="margin-bottom:0;">发 送</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 试一试end -->
<!-- change-password Modal start-->
<div class="modal fade" id="change-password">
  <div class="modal-dialog mydialog">
    <div class="modal-content register">
      <div class="modal-header">
        <div style="cursor:pointer;"><div class="close-modal">&nbsp;</div></div>
        <h4 class="modal-title font-size-style modal-title">修改密码</h4>
      </div>
      <div class="modal-body">
       	<form class="form-horizontal" autocomplete="off">
		  <div class="form-group" style="margin-bottom: 0;">
		    <div class="col-md-10  col-md-offset-1">
		      <input style="border-radius: 0px; box-shadow: none;" type="password" required="required" class="form-control" id="oldpasswd" placeholder="输入原始密码">
		    </div>
		  </div>
		  <div class="form-group" style="margin-bottom: 0;">
		    <div class="col-md-10  col-md-offset-1">
		      <input style="border-radius: 0px; box-shadow: none;" type="password" required="required" class="form-control" id="newpasswd" placeholder="输入新密码">
		    </div>
		  </div>
		  <div class="form-group" style="margin-bottom: 25px;"> 
		    <div class="col-md-10  col-md-offset-1">
		      <input style="border-radius: 0px; box-shadow: none;" type="password" required="required" class="form-control add-bottom" id="re-newpasswd" placeholder="确认新密码">
		    </div>
		  </div>
		  <div class="form-group footer-box">
		    <div class="col-md-offset-1 col-md-10 clearfix footer-modal">
		      <div class="pull-right submit-modal" data-act="change-password">保存</div>
		      <a class="pull-right cancel-modal">取消</a>
		    </div>
		  </div>
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- change-password Modal end-->
<!-- 帮助 start -->
<!-- <div id="help-box">
  <div class="help-title">
    <span class="pull-left help-reduce"></span>
	<span class="custom-title">ruyi.ai 客服</span>
  </div>
	<iframe name="help-iframe" id="help-iframe" src="../webim-index.html"></iframe>
</div>
<div id="help-icon">
&nbsp;
</div> -->
<!-- 帮助 end -->
<!-- 创建机器人引导 头部 start -->
<ul class="nav-robot-box" style="display:none;">
	<li class="active">1.选择机器人类型</li>
	<li class="active"><i class="out-arrow">&nbsp;</i>2.角色属性设置</li>
	<li><i class="cave-arrow">&nbsp;</i>3.添加能力技巧</li>
</ul>
<!-- 创建机器人引导 头部 end -->
<!-- 创建机器人引导 底部 start -->
<div class="create-robot-foot" style="display:none;">
	<button class="common-active-button create-robot-next">下一步</button>
	<button class="common-blank-button create-robot-skip">跳出引导</button>
</div>
<!-- 创建机器人引导 底部 end -->
<!-- 创建机器人引导 左侧 start -->
<div class="create-robot-left" style="display:none;">
	&nbsp;
</div>
<!-- 创建机器人引导 左侧 end -->
<!-- 首次提示 start-->
<div class="para-action-tips" style="display:none;">
	<p>进入属性页面,可修改默认系统设置,完成后点下一步继续</p>
	<div class="create-robot-under-arrow">&nbsp;</div>
</div>
<!-- 首次提示 end-->  
<!-- 首次提示 end-->
<div data-act="new-user-guide-box" style="display:none;">
	<!--新手入门引导 头部 start -->
	<ul class="new-user-box">
		<li class="active">1.创建场景</li>
		<li><i class="cave-arrow">&nbsp;</i>2.创建意图</li>
		<li><i class="tips-arrow">&nbsp;</i>3.用户说填写</li>
		<li><i class="tips-arrow">&nbsp;</i>4.机器人答填写</li>
		<li><i class="tips-arrow">&nbsp;</i>5.试试</li>
	</ul>
	<!--新手入门引导 头部 end -->
	<!--新手入门引导 主体 start -->
	<div class="new-user-main">
		&nbsp;
	</div>
	<!--新手入门引导 主体 end -->
	<!--新手入门引导 底部 start -->
	<div class="new-user-foot">
		<button class="common-default-button new-user-prev">上一步</button>
		<button class="common-active-button new-user-next">下一步</button>
		<button class="common-active-button new-user-complete" style="display:none;">完成</button>
		<button class="common-blank-button new-user-skip">跳出引导</button>
	</div>	
	<!--新手入门引导 底部 end -->
	<!--新手入门提示 start -->
	<div class="action-tips">
		<p>创建场景“打招呼”</p>
		<div class="new-user-under-arrow">&nbsp;</div>
	</div>
	<!--新手入门提示 end --> 
</div>
<!-- 新用户提示 start-->
<div class="modal fade" style="padding-right: 15px; top: 0; margin-top: 0;" id="finish-baseinfo-set">
  <div class="modal-dialog mydialog" style="width:600px;">
    <div class="modal-content register" style="width:600px;height:262px;margin-top:120px;">
      <div class="modal-body">
		  <div class="form-group clearfix">
		    	<div style="font-size:17px;text-align: center;margin-top: 30px;">
		    		<i class="iconfont icon-xingxing xingxing-guide" style="margin-right:2px;"></i><i class="iconfont icon-xingxing xingxing-guide"></i>
		    		恭喜，您已完成机器人的基本设置！
		    	</div>
		    	<div style="text-align:center;">
			    	<button class="new-user-guide" ng-click="continueGuide()" style="margin-right:80px;">继续探索</button>
			    	<a target="_blank" href="{{ruyi_wechat}}/ruyi-wechat/authorize.jsp?appId={{appId}}" class="new-user-guide" ng-click="insertWechat()">接入微信公众号</a>
			    </div>
		  		<div><span class="old-user-text" ng-click="continueGuide()">继续学习问答编写</span></div>
		  		<div class="exit-guide-modal" ng-click="exitContinueGuide()">退出引导，自己探索</div>
		  </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 新用户提示 end-->

<!-- 压缩的js文件 start-->
<!-- <script src="js/merge/merge_external.min.js"></script>
<script src="../js/global-util.js"></script>
<script src="js/merge/common.min.js?v=20170818a"></script>
<script src="js/enter/api_manager.js?v=20170818a"></script>
<script src="js/merge/merge_local.min.js?v=20170818a"></script> -->
<!-- 压缩的js文件 end-->
<!-- 分开的js start-->
<script src="js/merge/merge_external.min.js"></script>
<script src="../js/global-util.js"></script>
<script src="js/common/common.js"></script>
<script src="js/enter/api_manager.js"></script>
<script src="js/intent_list.js"></script>
<script src="js/intent_detail.js"></script>
<script src="js/intent_search.js"></script>
<script src="js/action_set.js"></script>
<script src="js/angularDemo.js"></script>
<script src="js/angularDemoTry.js"></script>
<script src="js/assistantPara.js"></script>
<script src="js/data_statistics.js"></script>
<script src="js/delete_robot.js"></script>
<script src="js/entity_detail.js"></script>
<script src="js/entity_list.js"></script>
<script src="js/import_knowledge_base.js"></script>
<script src="js/log_statistics.js"></script>
<script src="js/skill_store.js"></script>
<script src="js/resource.js"></script>
<script src="js/robot_paramenter.js"></script>
<script src="js/skill_store.js"></script>
<script src="js/user_log_list.js"></script>
<script src="js/toggle.js"></script>
<script src="js/user_logs.js"></script>
<script src='js/intent_timeout_detail.js'></script>
<script src='js/intent_repeat_detail.js'></script>
<script src='js/skill_publish.js'></script>
<script src="js/ruyi_skill.js"></script>
<script src="js/open_skill.js"></script>
<script src="js/my_skill.js"></script>
<script src="js/skill.js"></script>
 <!-- 分开的js end -->
</body>
</html>
