<hr>
<div class="row row-height" id="assistantParaModal">
	<div class="col-md-12 col-sm-12 center-list-box" style="min-width: 640px;">
		<section class="center-list-title">
			<span style="border-bottom: 0;">助理角色属性设置</span>
			<div style="cursor:pointer;"><div class="close-assistantPara" ng-click="closeAssistantPara()">&nbsp;</div></div>
		</section>
		<div class="assistantPara-box col-md-12 col-sm-12">
			<div class="physical-attributes-title" style="margin-top:0;">基本属性
				<div class="pull-right delete-tips">
					<label>删除时是否提示？</label>
					<label style="margin-right:20px;">
					    <input type="radio" name="delete" check="checked" ng-model="agent.deleteTip" value="是" />
					    是
					</label>
					<label>
					    <input type="radio" name="delete" ng-model="agent.deleteTip" value="否" />
					  否
					</label>
				</div>
			</div>
	         <ul class="list-group assistant-para-box assistant-para-basic">
	          <li class="list-group-item group-head" style="display: block;">
	          	基本信息
	          	<span>(请点击标签，添加您要设置的助理属性)</span>
	          </li>
	          <li class="list-group-item" style="display: block;">
	          	<button class="btn btn-default name">姓名</button>
	          	<button class="btn btn-default whyname">姓名渊源</button>
	          	<button class="btn btn-default sex">性别</button>
	          	<button class="btn btn-default birthday">生日</button>
	          	<button class="btn btn-default bloodtype">血型</button>
	          	<button class="btn btn-default sexuality">性取向</button>
	          </li>
			  <li class="list-group-item name">
			  	<span>姓&nbsp&nbsp&nbsp&nbsp名</span>
			  	<ul>
				  <li class="alert alert-default alert-dismissable" ng-repeat="name in agent.name track by $index">
					<p ng-bind="name"></p>
					<span class="close" ng-click="deleteMultiFeatureFunc(name,'name')">&times;</span>
				  </li>
				</ul>
				<input type="text" class="name" ng-model="addName" ng-blur="addMultiFeatureFunc(addName,'name','addName')" ng-keydown="addMultiFeatureKeydownFunc($event,addName,'name','addName')" style="width:160px;" placeholder="请输入助理姓名"/>
			  <!-- <button type="button" style="margin-top:0;" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="加分号（英文模式）可实现别名的设置">
					  	&nbsp;
				 </button>
			  -->	
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item whyname">
			  	<span>渊&nbsp&nbsp&nbsp&nbsp源</span>
			  	<input type="text" class="whyname" ng-model="agent.whyname" style="width:160px;" placeholder="姓名渊源"/>
			  	<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item sex">
			  	<span>性&nbsp&nbsp&nbsp&nbsp别</span>
			  	  <label style="margin-right:20px;">
				    <input type="radio" name="sex" ng-model="agent.sex" value="男生" />
				    男
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="sex" ng-model="agent.sex" value="女生" />
				    女
				  </label>
				  <label>
				    <input type="radio" name="sex" ng-model="agent.sex" value="" />
				    保密
				  </label>
				  <i class="delete">&nbsp</i>
			  </li>
			  
			  <li class="list-group-item birthday">
			  	<span>生&nbsp&nbsp&nbsp&nbsp日</span>
			  	<input type="text" name="birthday" ng-change="setBirthdayFunc(agent.birthdayDate)" ng-model="agent.birthdayDate" />
			  	<label style="margin-left:20px;">
				    <input type="checkbox" ng-click="isGrowthFunc(agent.isgrowth)" ng-model="agent.isgrowth"/>
				    成长 
				    <!--
				    <button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="成长问号：
				<br/>1.勾选成长后，助理的年龄着随之时间的变化而变化。
				<br/>2.不勾选成长，则助理年龄需要自行输入，且不会发生改变。
				<br/>3.备注：在不改变出生年份的前提下，中途勾选成长，会按照日历自动推算出年龄。因此，如要修改起始年龄，需更改出生年月日中的年份。">
					  	&nbsp;
					</button>
					  -->
				</label>
				<input type="text" class="age" name="age-year" ng-model="agent.ageyear" ng-disabled="agent.isgrowth || agent.isgrowth=='true'"/>&nbsp;&nbsp;&nbsp;岁&nbsp;&nbsp;&nbsp;<input class="age" type="text" name="age-month" ng-model="agent.agemonth"  ng-disabled="agent.isgrowth || agent.isgrowth=='true'"/>&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;
			  	属<input type="text" class="zodiac" name="zodiac" ng-model="agent.zodiac" value="猴" disabled/>&nbsp;&nbsp;&nbsp;
			  	<input type="text" class="constellation" name="constellation" ng-model="agent.constellation" value="射手" disabled/>
			  	<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item bloodtype">
			  	<span>血&nbsp&nbsp&nbsp&nbsp型</span>
			  	  <label style="margin-right:20px;">
				    <input type="radio" name="bloodtype" ng-model="agent.bloodtype" value="A" />
				    A
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="bloodtype" ng-model="agent.bloodtype" value="B" />
				    B
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="bloodtype" ng-model="agent.bloodtype" value="AB" />
				    AB
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="bloodtype" ng-model="agent.bloodtype" value="O" />
				    O
				  </label>
				  <label>
				    <input type="radio" name="bloodtype" ng-model="agent.bloodtype" value="" />
				    未知
				  </label>
				  <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item sexuality">
			  	<span>取&nbsp&nbsp&nbsp&nbsp向</span>
			  	  <label style="margin-right:20px;">
				    <input type="radio" name="sexuality" ng-model="agent.sexuality" value="异性恋" />
				    异性恋
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="sexuality" ng-model="agent.sexuality" value="同性恋" />
				    同性恋
				  </label>
				  <label>
				    <input type="radio" name="sexuality" ng-model="agent.sexuality" value="" />
				    保密
				  </label>
				  <i class="delete">&nbsp</i>
			  </li>
			</ul>
			<ul class="list-group assistant-para-box assistant-para-personal">
	          <li class="list-group-item group-head" style="display: block;">
	          	个人信息
	          	<span>(请点击标签，添加您要设置的助理属性)</span>
	          </li>
	          <li class="list-group-item" style="display: block;">
	          	<div class="btn-group appearance">
	          		<button class="btn btn-default appearance dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">外貌</button>
	          		<ul class="dropdown-menu">
					    <li class="face"><a href="#">脸型</a></li>
					    <li class="brow"><a href="#">眉毛</a></li>
					    <li class="eye"><a href="#">眼睛</a></li>
					    <li class="nose"><a href="#">鼻子</a></li>
					    <li class="mouth"><a href="#">嘴唇</a></li>
					    <li class="skincolor"><a href="#">肤色</a></li>
					    <li class="haircolor"><a href="#">发色</a></li>
					    <li class="personaltrait"><a href="#">形象总体</a></li>
					    <li class="habitualaction"><a href="#">习惯性动作</a></li>
					</ul>
	          	 </div>
	          		
	          	<button class="btn btn-default height">身高</button>
	          	<button class="btn btn-default weight">体重</button>
	          	<div class="btn-group favorite">
	          		<button class="btn btn-default favorite dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">爱好</button>
	          		<ul class="dropdown-menu">
					    <li class="play"><a href="#">玩</a></li>
					    <li class="eat"><a href="#">吃</a></li>
					    <li class="drink"><a href="#">喝</a></li>
					    <li class="thing"><a href="#">事</a></li>
					    <li class="people"><a href="#">人</a></li>
					    <li class="book"><a href="#">书</a></li>
					    <li class="movie"><a href="#">电影</a></li>
					    <li class="tv"><a href="#">电视剧</a></li>
					    <li class="sport"><a href="#">运动</a></li>
					    <li class="music"><a href="#">音乐</a></li>
					    <li class="color"><a href="#">颜色</a></li>
					    <li class="place"><a href="#">地方</a></li>
					</ul>
	          	 </div>
	          	<button class="btn btn-default dislike">讨厌</button>
	          	<button class="btn btn-default ability">能力</button>
	          	<button class="btn btn-default skill">特长</button>
	          	<button class="btn btn-default IQ">智商</button>
	          	<button class="btn btn-default idol">偶像</button>
	          	<button class="btn btn-default dream">梦想</button>
	          	<button class="btn btn-default belief">信仰</button>
	          	<button class="btn btn-default secret">秘密</button>
	          	<button class="btn btn-default nationality">国籍</button>
	          	<button class="btn btn-default language">语言</button>
	          	<button class="btn btn-default birthplace">出生地</button>
	          	<button class="btn btn-default motto">座右铭</button>
	          </li>
	          <li class="list-group-item appearance" id="physical-attributes">
	          	<span>外&nbsp;&nbsp;&nbsp;&nbsp;貌</span>
	          	 <!-- 脸型 start -->
				  <div class="panel panel-default title face deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#face-box" class="clearfix title-action">
				           <span>脸型：</span><span ng-bind="agent.face"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				      
				    </div>
				    <div id="face-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="国字脸" />&nbsp;&nbsp;国字脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="圆形脸" />&nbsp;&nbsp;圆形脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="梨形脸" />&nbsp;&nbsp;梨形脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="锥子脸" />&nbsp;&nbsp;锥子脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="鹅蛋脸" />&nbsp;&nbsp;鹅蛋脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="瓜子脸" />&nbsp;&nbsp;瓜子脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="心形脸" />&nbsp;&nbsp;心形脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.face" value="" />&nbsp;&nbsp;空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.face"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我有一个&face</span></div>
				        	<div class="question">问：你的脸长得怎么样呀？</div>
				        	<div class="answer" ng-show="!agent.face || agent.face.length == 0">答：我也不知道是什么脸型呀！</div>
				        	<div class="answer" ng-show="agent.face && agent.face.length > 0">答：我有一个{{agent.face}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 脸型 end -->
				   <!-- 眉毛 start -->
				  <div class="panel panel-default title brow deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#brow-box" class="clearfix title-action">
				           <span>眉毛：</span><span ng-bind="agent.brow"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="brow-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.brow" value="一字眉" />&nbsp;&nbsp;一字眉</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.brow" value="八字眉" />&nbsp;&nbsp;八字眉</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.brow" value="剑眉" />&nbsp;&nbsp;剑眉</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.brow" value="柳叶眉" />&nbsp;&nbsp;柳叶眉</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.brow" value="粗眉" />&nbsp;&nbsp;粗眉</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.brow" value="" />&nbsp;&nbsp;空&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.brow"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我有一对&brow</span></div>
				        	<div class="question">问：你的眉长得怎么样呀？</div>
				        	<div class="answer" ng-show="!agent.brow || agent.brow.length == 0">答：我也不知道我的眉毛长得怎么样。</div>
				        	<div class="answer" ng-show="agent.brow && agent.brow.length > 0">答：我有一对{{agent.brow}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 眉毛 end -->
				  <!-- 眼睛 start -->
				  <div class="panel panel-default title eye deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#eye-box" class="clearfix title-action">
				           <span>眼睛：</span><span ng-bind="agent.eye"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="eye-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="桃花眼" />&nbsp;&nbsp;桃花眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="丹凤眼 " />&nbsp;&nbsp;丹凤眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="杏眼" />&nbsp;&nbsp;杏&nbsp;&nbsp;&nbsp;眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="圆眼" />&nbsp;&nbsp;圆&nbsp;&nbsp;&nbsp;眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="细长眼" />&nbsp;&nbsp;细长眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="金鱼眼" />&nbsp;&nbsp;金鱼眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="三角眼" />&nbsp;&nbsp;三角眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="眯眯眼" />&nbsp;&nbsp;眯眯眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="卧蚕眼" />&nbsp;&nbsp;卧蚕眼</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="face" ng-model="agent.eye" value="" />&nbsp;&nbsp;空</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.eye"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我有一双&eye</span></div>
				        	<div class="question">问：你的眼睛长得怎么样呀？</div>
				        	<div class="answer" ng-show="!agent.eye || agent.eye.length == 0">答：我也不知道我的眼睛长得怎么样。</div>
				        	<div class="answer" ng-show="agent.eye && agent.eye.length > 0">答：我有一双{{agent.eye}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 眼睛 end -->
				  <!-- 鼻子 start -->
				  <div class="panel panel-default title nose deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#nose-box" class="clearfix title-action">
				           <span>鼻子：</span><span ng-bind="agent.nose"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="nose-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="nose" ng-model="agent.nose" value="鹰钩鼻" />&nbsp;&nbsp;鹰钩鼻</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="nose" ng-model="agent.nose" value="塌鼻" />&nbsp;&nbsp;塌鼻</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="nose" ng-model="agent.nose" value="驼峰鼻" />&nbsp;&nbsp;驼峰鼻</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="nose" ng-model="agent.nose" value="朝天鼻" />&nbsp;&nbsp;朝天鼻</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="nose" ng-model="agent.nose" value="高鼻梁" />&nbsp;&nbsp;高鼻梁</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="nose" ng-model="agent.nose" value="" />&nbsp;&nbsp;空</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.nose"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我有个&nose</span></div>
				        	<div class="question">问：你的鼻子长得怎么样呀？</div>
				        	<div class="answer" ng-show="!agent.nose || agent.nose.length == 0">答：我也不知道我的鼻子长得怎么样。</div>
				        	<div class="answer" ng-show="agent.nose && agent.nose.length > 0">答：我有个{{agent.nose}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 鼻子 end -->
				  <!-- 嘴唇 start -->
				  <div class="panel panel-default title mouth deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#mouth-box" class="clearfix title-action">
				           <span>嘴唇：</span><span ng-bind="agent.mouth"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="mouth-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="mouth" ng-model="agent.mouth" value="樱桃小嘴" />&nbsp;&nbsp;樱桃小嘴</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="mouth" ng-model="agent.mouth" value="厚嘴唇" />&nbsp;&nbsp;厚嘴唇</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="mouth" ng-model="agent.mouth" value="薄嘴唇" />&nbsp;&nbsp;薄嘴唇</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="mouth" ng-model="agent.mouth" value="含笑唇" />&nbsp;&nbsp;含笑唇</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="mouth" ng-model="agent.mouth" value="大嘴巴" />&nbsp;&nbsp;大嘴巴</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="mouth" ng-model="agent.mouth" value="" />&nbsp;&nbsp;空</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.mouth"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我有个&mouth</span></div>
				        	<div class="question">问：你的嘴唇长得怎么样呀？</div>
				        	<div class="answer" ng-show="!agent.mouth || agent.mouth.length == 0">答：我也不知道我的嘴唇长得怎么样。</div>
				        	<div class="answer" ng-show="agent.mouth && agent.mouth.length > 0">答：我有个{{agent.mouth}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 嘴唇 end -->
				  <!-- 肤色 start -->
				  <div class="panel panel-default title skincolor deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#skincolor-box" class="clearfix title-action">
				           <span>肤色：</span><span ng-bind="agent.skincolor"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="skincolor-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="skincolor" ng-model="agent.skincolor" value="肤如凝脂" />&nbsp;&nbsp;肤如凝脂</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="skincolor" ng-model="agent.skincolor" value="亚洲黄" />&nbsp;&nbsp;亚洲黄</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="skincolor" ng-model="agent.skincolor" value="麦色" />&nbsp;&nbsp;麦色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="skincolor" ng-model="agent.skincolor" value="古铜色" />&nbsp;&nbsp;古铜色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="skincolor" ng-model="agent.skincolor" value="黑色" />&nbsp;&nbsp;黑色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="skincolor" ng-model="agent.skincolor" value="" />&nbsp;&nbsp;空</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.skincolor"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我的皮肤&skincolor</span></div>
				        	<div class="question">问：你的皮肤是什么颜色呀？</div>
				        	<div class="answer" ng-show="!agent.nose || agent.nose.length == 0">答：我也不知道我的皮肤是什么颜色。</div>
				        	<div class="answer" ng-show="agent.nose && agent.nose.length > 0">答：我的皮肤{{agent.skincolor}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 肤色 end -->
				  <!-- 发色 start -->
				  <div class="panel panel-default title haircolor deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#haircolor-box" class="clearfix title-action">
				           <span>发色：</span><span ng-bind="agent.haircolor"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="haircolor-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="黑色" />&nbsp;&nbsp;黑色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="黄色" />&nbsp;&nbsp;黄色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="白色" />&nbsp;&nbsp;白色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="咖色" />&nbsp;&nbsp;咖色</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="奶奶灰" />&nbsp;&nbsp;奶奶灰</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="光头" />&nbsp;&nbsp;光头</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="haircolor" ng-model="agent.haircolor" value="" />&nbsp;&nbsp;空</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.haircolor"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我的头发是&haircolor</span></div>
				        	<div class="question">问：你的头发是什么颜色呀？</div>
				        	<div class="answer" ng-show="!agent.haircolor || agent.haircolor.length == 0">答：我也不知道我的头发是什么颜色。</div>
				        	<div class="answer" ng-show="agent.haircolor && agent.haircolor.length > 0 && agent.haircolor != '光头'">答：我的头发是{{agent.haircolor}}</div>
				        	<div class="answer" ng-show="agent.haircolor && agent.haircolor == '光头'">答：我是一个{{agent.haircolor}}</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 发色 end -->
				  <!-- 形象总体 start -->
				  <div class="panel panel-default title personaltrait deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#personaltrait-box" class="clearfix title-action">
				           <span>形象总体：</span><span ng-bind="agent.personaltrait"></span>
				           <i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="personaltrait-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="仪表堂堂" />&nbsp;&nbsp;仪表堂堂</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="玉树临风" />&nbsp;&nbsp;玉树临风</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="短小精悍" />&nbsp;&nbsp;短小精悍</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="健壮" />&nbsp;&nbsp;健壮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="精瘦" />&nbsp;&nbsp;精瘦&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="老态龙钟" />&nbsp;&nbsp;老态龙钟</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="精神矍铄" />&nbsp;&nbsp;精神矍铄</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="虎头虎脑" />&nbsp;&nbsp;虎头虎脑</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '女生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="虎背熊腰" />&nbsp;&nbsp;虎背熊腰</label>
				        	</li>
				        	
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="小巧玲珑" />&nbsp;&nbsp;小巧玲珑</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value=" 亭亭玉立" />&nbsp;&nbsp;亭亭玉立</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="珠圆玉润" />&nbsp;&nbsp;珠圆玉润</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="憨厚老实" />&nbsp;&nbsp;憨厚老实</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="雍容华贵" />&nbsp;&nbsp;雍容华贵</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="弱不禁风" />&nbsp;&nbsp;弱不禁风</label>
				        	</li>
				        	<li class="pull-left" ng-show="agent.sex != '男生'">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="愁眉苦脸" />&nbsp;&nbsp;愁眉苦脸</label>
				        	</li>
				        	<li class="pull-left">
				        		<label><input type="radio" name="personaltrait" ng-model="agent.personaltrait" value="" />&nbsp;&nbsp;空</label>
				        	</li>
				        	<li class="pull-left">
				        		<input placeholder="自定义属性" class="custom" ng-model="agent.personaltrait"/>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>我是&personaltrait的</span></div>
				        	<div class="question">问：你是什么样子的？</div>
				        	<div class="answer" ng-show="!agent.personaltrait || agent.personaltrait.length == 0">答：我也不知道我是什么样子的。</div>
				        	<div class="answer" ng-show="agent.personaltrait && agent.personaltrait.length > 0">答：我是{{agent.personaltrait}}的</div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 形象总体 end -->
				  <!-- 习惯性动作 start -->
				  <div class="panel panel-default title habitualaction deleted">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#physical-attributes" 
				          href="#habitualaction-box" class="clearfix title-action">
				           <span>习惯性动作：</span>
				           <span ng-repeat="selectedHabitualaction in agent.habitualaction track by $index">
				           		<span ng-bind="selectedHabitualaction" style="color:#797979;"></span>&nbsp;&nbsp;
				           	</span>
				           	<i class="delete">&nbsp</i>
				           <i class="pull-right glyphicon glyphicon-triangle-left" data-act="assistant-para-arrow"></i>
				        </a>
				      </h4>
				    </div>
				    <div id="habitualaction-box" class="panel-collapse collapse">
				      <div class="panel-body">
				        <ul class="item-list clearfix">
				        	<li class="pull-left" ng-repeat="myhabitualaction in habitualactionList track by $index">
				        		<label><input type="checkbox" ng-checked="isSelected(myhabitualaction,'habitualaction')" ng-click="updateSelection($event,myhabitualaction,'habitualaction')">&nbsp;&nbsp;<span ng-bind-html="myhabitualaction"></span></label>
				        	</li>
				        </ul>
				        <div class="example-box">
				        	<div class="template">助理答（模板）<span>他们都说我喜欢&habitualaction</span></div>
				        	<div class="question">问：你习惯做什么动作？</div>
				        	<div class="answer" ng-show="!agent.habitualaction || agent.habitualaction.length == 0">答：我也不知道我习惯做什么动作。</div>
				        	<div class="answer" ng-show="agent.habitualaction && agent.habitualaction.length > 0">答：他们都说我喜欢<span ng-repeat="myhabitualaction in agent.habitualaction">{{myhabitualaction}}&nbsp;&nbsp;</span></div>
				        </div>
				      </div>
				    </div>
				  </div>
				  <!-- 习惯性动作 end -->
		  
	          </li>
	          <li class="list-group-item height">
			  	<span>身&nbsp&nbsp&nbsp&nbsp高</span>
			  	  <label style="margin-right:20px;">
				    <input type="radio" name="height"  value="cm" ng-model="agent.heightCustomize"/>
				    <input type="text" class="height" style="width:40px;" ng-disabled="agent.heightCustomize == '其他' || agent.heightCustomize == ''" ng-model="agent.heightCM"/>cm
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="height" value="其他"  ng-model="agent.heightCustomize"/>
				    其他
				    <input type="text" class="height" style="width:100px;"  ng-disabled="agent.heightCustomize == 'cm' || agent.heightCustomize == ''" ng-model="agent.heightCustom"/>
				  </label>
				  <label>
				    <input type="radio" name="height" value=""  ng-model="agent.heightCustomize"/>
				    保密
				  </label>
				  <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item weight">
			  	<span>体&nbsp&nbsp&nbsp&nbsp重</span>
			  	<label style="margin-right:20px;">
				    <input type="radio" name="weight" ng-model="agent.weight" value="偏瘦" />
				    偏瘦
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="weight" ng-model="agent.weight" value="" />
				    标准
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="weight" ng-model="agent.weight" value="偏胖" />
				    偏胖
				  </label>
				  <label>
				    <input type="radio" name="weight" ng-model="agent.weight" value="肥胖" />
				    肥胖
				  </label>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item favorite">
			  	<span>爱&nbsp&nbsp&nbsp&nbsp好</span>
			  	<div class="play deleted">
			  		<span>喜欢（玩）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="play in agent.play track by $index">
							<p ng-bind="play"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(play,'play')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="play" ng-model="addPlay" ng-blur="addMultiFeatureFunc(addPlay,'play','addPlay')" ng-keydown="addMultiFeatureKeydownFunc($event,addPlay,'play','addPlay')" style="width:160px;" placeholder="请输入你喜欢玩什么"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="eat deleted">
			  		<span>喜欢（吃）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="eat in agent.eat track by $index">
							<p ng-bind="eat"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(eat,'eat')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="eat" ng-model="addEat" ng-blur="addMultiFeatureFunc(addEat,'eat','addEat')" ng-keydown="addMultiFeatureKeydownFunc($event,addEat,'eat','addEat')" style="width:160px;" placeholder="请输入你喜欢吃的东西"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="drink deleted">
			  		<span>喜欢（喝）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="drink in agent.drink track by $index">
							<p ng-bind="drink"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(drink,'drink')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="drink" ng-model="addDrink" ng-blur="addMultiFeatureFunc(addDrink,'drink','addDrink')" ng-keydown="addMultiFeatureKeydownFunc($event,addDrink,'drink','addDrink')" style="width:160px;" placeholder="请输入你喜欢喝的东西"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="thing deleted">
			  		<span>喜欢（事）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="thing in agent.thing track by $index">
							<p ng-bind="thing"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(thing,'thing')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="thing" ng-model="addThing" ng-blur="addMultiFeatureFunc(addThing,'thing','addThing')" ng-keydown="addMultiFeatureKeydownFunc($event,addThing,'thing','addThing')" style="width:160px;" placeholder="请输入你喜欢的事物"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="people deleted">
			  		<span>喜欢（人）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="people in agent.people track by $index">
							<p ng-bind="people"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(people,'people')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="people" ng-model="addPeople" ng-blur="addMultiFeatureFunc(addPeople,'people','addPeople')" ng-keydown="addMultiFeatureKeydownFunc($event,addPeople,'people','addPeople')" style="width:160px;" placeholder="请输入你喜欢的人"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="book deleted">
			  		<span>喜欢（书）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="book in agent.book track by $index">
							<p ng-bind="book"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(book,'book')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="book" ng-model="addBook" ng-blur="addMultiFeatureFunc(addBook,'book','addBook')" ng-keydown="addMultiFeatureKeydownFunc($event,addBook,'book','addBook')" style="width:160px;" placeholder="请输入你喜欢看的书籍"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="sport deleted">
			  		<span>喜欢（运动）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="sport in agent.sport track by $index">
							<p ng-bind="sport"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(sport,'sport')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="sport" ng-model="addSport" ng-blur="addMultiFeatureFunc(addSport,'sport','addSport')" ng-keydown="addMultiFeatureKeydownFunc($event,addSport,'sport','addSport')" style="width:160px;" placeholder="请输入你喜欢的运动项目"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="music deleted">
			  		<span>喜欢（音乐）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="music in agent.music track by $index">
							<p ng-bind="music"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(music,'music')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="music" ng-model="addMusic" ng-blur="addMultiFeatureFunc(addMusic,'music','addMusic')" ng-keydown="addMultiFeatureKeydownFunc($event,addMusic,'music','addMusic')" style="width:160px;" placeholder="请输入你喜欢听的音乐"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="color deleted">
			  		<span>喜欢（颜色）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="color in agent.color track by $index">
							<p ng-bind="color"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(color,'color')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="color" ng-model="addColor" ng-blur="addMultiFeatureFunc(addColor,'color','addColor')" ng-keydown="addMultiFeatureKeydownFunc($event,addColor,'color','addColor')" style="width:160px;" placeholder="请输入你喜欢的颜色"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="place deleted">
			  		<span>喜欢（地方）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="place in agent.place track by $index">
							<p ng-bind="place"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(place,'place')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="place" ng-model="addPlace" ng-blur="addMultiFeatureFunc(addPlace,'place','addPlace')" ng-keydown="addMultiFeatureKeydownFunc($event,addPlace,'place','addPlace')" style="width:160px;" placeholder="请输入你喜欢的地方"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="movie deleted">
			  		<span>喜欢（电影）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="movie in agent.movie track by $index">
							<p ng-bind="movie"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(movie,'movie')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="movie" ng-model="addMovie" ng-blur="addMultiFeatureFunc(addMovie,'movie','addMovie')" ng-keydown="addMultiFeatureKeydownFunc($event,addMovie,'movie','addMovie')" style="width:160px;" placeholder="请输入你喜欢的电影名称"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  	<div class="tv deleted">
			  		<span>喜欢（电视剧）：</span>
				  	<ul>
				  		<li class="alert alert-default alert-dismissable" ng-repeat="tv in agent.tv track by $index">
							<p ng-bind="tv"></p>
							<span class="close" ng-click="deleteMultiFeatureFunc(tv,'tv')">&times;</span>
						</li>
				  	</ul>
				  	<input type="text" class="tv" ng-model="addTv" ng-blur="addMultiFeatureFunc(addTv,'tv','addTv')" ng-keydown="addMultiFeatureKeydownFunc($event,addTv,'tv','addTv')" style="width: 180px;" placeholder="请输入你喜欢的电视剧名称"/>
	    			<i class="delete">&nbsp</i>
			  	</div>
			  </li>
			  <li class="list-group-item dislike">
			  	<span>讨&nbsp&nbsp&nbsp&nbsp厌</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="dislike in agent.dislike track by $index">
						<p ng-bind="dislike"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(dislike,'dislike')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="dislike" ng-model="addDislike" ng-blur="addMultiFeatureFunc(addDislike,'dislike','addDislike')" ng-keydown="addMultiFeatureKeydownFunc($event,addDislike,'dislike','addDislike')" style="width:160px;" placeholder="请输入你讨厌的事物"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item ability">
			  	<span>能&nbsp&nbsp&nbsp&nbsp力</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="ability in agent.ability track by $index">
						<p ng-bind="ability"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(ability,'ability')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="ability" ng-model="addAbility" ng-blur="addMultiFeatureFunc(addAbility,'ability','addAbility')" ng-keydown="addMultiFeatureKeydownFunc($event,addAbility,'ability','addAbility')" style="width:160px;" placeholder="请输入你的能力"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item skill">
			  	<span>特&nbsp&nbsp&nbsp&nbsp长</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="skill in agent.skill track by $index">
						<p ng-bind="skill"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(skill,'skill')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="skill" ng-model="addSkill" ng-blur="addMultiFeatureFunc(addSkill,'skill','addSkill')" ng-keydown="addMultiFeatureKeydownFunc($event,addSkill,'skill','addSkill')" style="width:160px;" placeholder="请输入你的特长，如画画"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item IQ">
			  	<span>智&nbsp&nbsp&nbsp&nbsp商</span>
			  	<label style="margin-right:20px;">
				    <input type="radio" name="IQ" ng-model="agent.IQ" value="" />
				    神
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="IQ" ng-model="agent.IQ" value="天才" />
				    天才
				  </label>
				  <label style="margin-right:20px;">
				    <input type="radio" name="IQ" ng-model="agent.IQ" value="正常" />
				    正常
				  </label>
				  <label>
				    <input type="radio" name="IQ" ng-model="agent.IQ" value="愚钝" />
				    愚钝
				  </label>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item idol">
			  	<span>偶&nbsp&nbsp&nbsp&nbsp像</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="idol in agent.idol track by $index">
						<p ng-bind="idol"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(idol,'idol')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="idol" ng-model="addIdol" ng-blur="addMultiFeatureFunc(addIdol,'idol','addIdol')" ng-keydown="addMultiFeatureKeydownFunc($event,addIdol,'idol','addIdol')" style="width:160px;" placeholder="请输入你的偶像"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item dream">
			  	<span>梦&nbsp&nbsp&nbsp&nbsp想</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="dream in agent.dream track by $index">
						<p ng-bind="dream"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(dream,'dream')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="dream" ng-model="addDream" ng-blur="addMultiFeatureFunc(addDream,'dream','addDream')" ng-keydown="addMultiFeatureKeydownFunc($event,addDream,'dream','addDream')" style="width:160px;" placeholder="请输入你的梦想"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item belief">
			  	<span>信&nbsp&nbsp&nbsp&nbsp仰</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="belief in agent.belief track by $index">
						<p ng-bind="belief"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(belief,'belief')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="belief" ng-model="addBelief" ng-blur="addMultiFeatureFunc(addBelief,'belief','addBelief')" ng-keydown="addMultiFeatureKeydownFunc($event,addBelief,'belief','addBelief')" style="width:160px;" placeholder="请输入你的信仰"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item secret">
			  	<span>秘&nbsp&nbsp&nbsp&nbsp密</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="secret in agent.secret track by $index">
						<p ng-bind="secret"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(secret,'secret')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="secret" ng-model="addSecret" ng-blur="addMultiFeatureFunc(addSecret,'secret','addSecret')" ng-keydown="addMultiFeatureKeydownFunc($event,addSecret,'secret','addSecret')" style="width:160px;" placeholder="请输入你的秘密"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item nationality">
			  	<span>国&nbsp&nbsp&nbsp&nbsp籍</span>
			  	<input type="text" class="nationality" ng-model="agent.nationality" style="width:160px;" placeholder="请输入你的国籍"/>
			  	<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item language">
			  	<span>语&nbsp&nbsp&nbsp&nbsp言</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="language in agent.language track by $index">
						<p ng-bind="language"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(language,'language')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="language" ng-model="addLanguage" ng-blur="addMultiFeatureFunc(addLanguage,'language','addLanguage')" ng-keydown="addMultiFeatureKeydownFunc($event,addLanguage,'language','addLanguage')" style="width:160px;" placeholder="请输入你的语言"/>
    			<i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item birthplace">
			  	<span>出生地</span>
			  	<input type="text" class="birthplace" ng-model="agent.birthplace" style="width:160px;" placeholder="请输入你的出生地"/>
			  	<i class="delete">&nbsp</i>
			  </li>
	          <li class="list-group-item motto">
			  	<span>座右铭</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="motto in agent.motto track by $index">
						<p ng-bind="motto"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(motto,'motto')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="motto" ng-model="addMotto" ng-blur="addMultiFeatureFunc(addMotto,'motto','addMotto')" ng-keydown="addMultiFeatureKeydownFunc($event,addMotto,'motto','addMotto')" style="width:160px;" placeholder="请输入你的座右铭"/>
    			<i class="delete">&nbsp</i>
			  </li>
	         </ul>
	         
	         <ul class="list-group assistant-para-box assistant-para-family">
	          <li class="list-group-item group-head" style="display: block;">
	          	家庭信息
	          	<span>(请点击标签，添加您要设置的助理属性)</span>
	          </li>
	          <li class="list-group-item" style="display: block;">
	          	<button class="btn btn-default father">父亲</button>
	          	<button class="btn btn-default mother">母亲</button>
	          	<button class="btn btn-default bbro">哥哥</button>
	          	<button class="btn btn-default lbro">弟弟</button>
	          	<button class="btn btn-default bsis">姐姐</button>
	          	<button class="btn btn-default lsis">妹妹</button>
	          </li>
			  <li class="list-group-item father">
			  	<span>父&nbsp&nbsp&nbsp&nbsp亲</span>
			  	<input type="text" class="father" ng-model="agent.father" style="width:120px; margin-right: 20px;" placeholder="请输入姓名"/>
			  	<input type="text" class="foccupation" ng-model="agent.foccupation" style="width:120px; margin-right: 20px;" placeholder="请输入职业"/>
			  	<input type="text" class="fop" ng-model="agent.fop" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item mother">
			  	<span>母&nbsp&nbsp&nbsp&nbsp亲</span>
			  	<input type="text" class="mother" ng-model="agent.mother" style="width:120px; margin-right: 20px;" placeholder="请输入姓名"/>
			  	<input type="text" class="moccupation" ng-model="agent.moccupation" style="width:120px; margin-right: 20px;" placeholder="请输入职业"/>
			  	<input type="text" class="mop" ng-model="agent.mop" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item bbro">
			  	<span>哥&nbsp&nbsp&nbsp&nbsp哥</span>
			  	<input type="text" class="bbro" ng-model="agent.bbro" style="width:120px; margin-right: 20px;" placeholder="请输入姓名"/>
			  	<input type="text" class="bbo" ng-model="agent.bbo" style="width:120px; margin-right: 20px;" placeholder="请输入职业"/>
			  	<input type="text" class="bbop" ng-model="agent.bbop" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item lbro">
			  	<span>弟&nbsp&nbsp&nbsp&nbsp弟</span>
			  	<input type="text" class="lbro" ng-model="agent.lbro" style="width:120px; margin-right: 20px;" placeholder="请输入姓名"/>
			  	<input type="text" class="lbo" ng-model="agent.lbo" style="width:120px; margin-right: 20px;" placeholder="请输入职业"/>
			  	<input type="text" class="lbop" ng-model="agent.lbop" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item bsis">
			  	<span>姐&nbsp&nbsp&nbsp&nbsp姐</span>
			  	<input type="text" class="bsis" ng-model="agent.bsis" style="width:120px; margin-right: 20px;" placeholder="请输入姓名"/>
			  	<input type="text" class="bso" ng-model="agent.bso" style="width:120px; margin-right: 20px;" placeholder="请输入职业"/>
			  	<input type="text" class="bsop" ng-model="agent.bsop" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item lsis">
			  	<span>妹&nbsp&nbsp&nbsp&nbsp妹</span>
			  	<input type="text" class="lsis" ng-model="agent.lsis" style="width:120px; margin-right: 20px;" placeholder="请输入姓名"/>
			  	<input type="text" class="lso" ng-model="agent.lso" style="width:120px; margin-right: 20px;" placeholder="请输入职业"/>
			  	<input type="text" class="lsop" ng-model="agent.lsop" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			</ul>
			<ul class="list-group assistant-para-box assistant-para-social">
	          <li class="list-group-item group-head" style="display: block;">
	          	社会信息
	          	<span>(请点击标签，添加您要设置的助理属性)</span>
	          </li>
	          <li class="list-group-item" style="display: block;">
	          	<button class="btn btn-default friend">朋友</button>
	          	<button class="btn btn-default marry">婚恋</button>
	          	<button class="btn btn-default occupation">职业</button>
	          	<button class="btn btn-default education">教育</button>
	          </li>
			  <li class="list-group-item friend">
			  	<span>朋&nbsp&nbsp&nbsp&nbsp友</span>
			  	<ul>
			  		<li class="alert alert-default alert-dismissable" ng-repeat="friend in agent.friend track by $index">
						<p ng-bind="friend"></p>
						<span class="close" ng-click="deleteMultiFeatureFunc(friend,'friend')">&times;</span>
					</li>
			  	</ul>
			  	<input type="text" class="friend" ng-model="addFriend" ng-blur="addMultiFeatureFunc(addFriend,'friend','addFriend')" ng-keydown="addMultiFeatureKeydownFunc($event,addFriend,'friend','addFriend')" style="width:120px;" placeholder="请输入你的朋友"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item marry">
			  	<span>婚&nbsp;&nbsp;&nbsp;&nbsp;恋</span>
				<label style="margin-right:20px;">
				<input type="radio" name="marry" ng-model="agent.marry" value="单身" />
				单身
	    		</label>
				<label style="margin-right:20px;">
				<input type="radio" name="marry" ng-model="agent.marry" value="恋爱" />
				恋爱
				</label>
				<label style="margin-right:20px;">
				<input type="radio" name="marry" ng-model="agent.marry" value="已婚" />
				已婚
				</label>
				<label style="margin-right:20px;">
				<input type="radio" name="marry" ng-model="agent.marry" value="离婚" />
				 离婚
				</label>
				<label style="margin-right:20px;">
				<input type="radio" name="marry" ng-model="agent.marry" value="丧偶" />
				 丧偶
				</label>
				<label>
				<input type="radio" name="marry" ng-model="agent.marry" value="" />
				保密
				</label>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item occupation">
			  	<span>职&nbsp&nbsp&nbsp&nbsp业</span>
			  	<input type="text" class="occupation" ng-model="agent.occupation" style="width:120px; margin-right: 20px;" placeholder="请输入你的职业"/>
			  	<input type="text" class="op" ng-model="agent.op" style="width:120px;" placeholder="请输入工作地点"/>
				 <i class="delete">&nbsp</i>
			  </li>
			  <li class="list-group-item education">
			  	<span>教&nbsp&nbsp&nbsp&nbsp育</span>
			  	<input type="text" class="edu" ng-model="agent.edu" style="width:120px; margin-right: 20px;" placeholder="请输入你的学历"/>
			  	<input type="text" class="school" ng-model="agent.school" style="width:120px;" placeholder="请输入你的学校"/>
				 <i class="delete">&nbsp</i>
			  </li>
			</ul>
		</div>
		<div class="assistant-footer clearfix">
		      	<button type="button" class="btn btn-default rating-reset pull-left" ng-click="resetAgentParaFunc()">重 置</button>
		        <button type="button" class="btn btn-primary rating-submit save-and-apply pull-right" ng-click="settingAppFunc()">保 存</button>
		        <button type="button" class="btn btn-default rating-cancel pull-right"  ng-click="closeAssistantPara()">取 消</button>
		</div>
	</div>
</div>
<!-- <script src="js/assistantPara.js"></script> -->