<style>
.btn-group.open .dropdown-toggle{
	box-shadow:none;
}
.popover-content {
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
}
.toggle.btn{
	min-height: 0 !important;
	min-width: 0 !important;
	height: 10px !important;
	width: 23px !important;
	border-radius: 10px !important;
	overflow: visible !important;
	background: #bcdefc !important;
	border: none !important;
}
.toggle.btn.primary{
	background: #bcdefc !important;
}
.toggle.btn.primary:hover{
	border:none !important;
}
.toggle.btn.off{
	background: #ccc !important;
}
.toggle-handle.btn{
	width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;

    left: -14px !important;
    top: -2.7px !important;
    background: #333 !important;
    background: #3795fe !important;
}
.box .center-box .center-list-title span{
	margin-left: 29px !important;
}
.toggle-group label.btn{
	display: none !important;
}
.myNewIssue{
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
	color: gray;
	border-left: none !important;
    padding-left: 0 !important;
    color: gray;
    color: #cdcdcd;
    height: 39px;
    border: none !important;
}
.myNewIssue:focus,.myNewIssue:active{
	outline: none !important;
	border: none !important;
}
.myNewIssue.active{
	border: none !important;
	outline: none !important;
}
.myGroup.input-group{
	margin-bottom: 0px !important;
}
.myGroup .addIcon{
	border-radius: 0;
    background: #fff;
    cursor: pointer;
    padding: 0 16px !important;
    background: url(./img/plus.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 11px 12px;
    height: 39px;
    border: none !important;
}
.myGroup{
	border: 1px solid #ccc;
}
.myGroup:active{
	border-color: #3794ff;
}
</style>
<hr>
<div class="row row-height">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 center-list-box">
		<section class="center-list-title">
			<input type="text" ng-keydown="editScenarioKeydownFunc($event,scenario.name)" ng-blur="editScenarioFunc(scenario.name)" ng-model="scenario.name" class="form-control" placeholder="输入场景名称" style="background: #fff;">
	      	<div class="btn-group sort-key">
	      		<!-- 场景开关 -->
	      		<div class="toggleBox" id='toggleScene' ng-show='!isSY'>
	      			<input type="checkbox" data-toggle="toggle" id="sceneBtn" checked="">
	      		</div>
	      		<!-- end -->
	      		<div class="dropdown-toggle iconfont icon-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="bottom" data-original-title="意图排序" title="意图排序"></div>
	      		<ul class="dropdown-menu">
	      			<li class="name"><a href="javascript:;">按标题<i class="checked pull-right"></i></a></li>
	      			<li class="createTime"><a href="javascript:;">按创建时间<i class="checked pull-right"></i></a></li>
	      			<li class="updateTime"><a href="javascript:;">按更新时间<i class="checked pull-right"></i></a></li>
	      		</ul>
	      	</div>
	      	<!-- <div class="add-intent iconfont icon-add-intng-click="createIntentFunc()" data-toggle="tooltip" data-placement="bottom" data-original-title="添加意图">&nbsp;</div> -->
		</section>
		<!-- 引导页面 -->
		<div class="center-list-main" style="margin-top:-14px;">
			<div style="display:none;font-size:16px;" ng-show="!intentList || intentList.length == 0" data-act="intent-tips">
				丰富的意图有助于让你的机器人更自在地聊天。还未创建意图，点击右上角的加号，创建您的第一个意图
				<a style="display:block;color:#3399ff;cursor:pointer;margin-top:12px;width:170px;" href="http://docs.ruyi.ai/344929" target="_blank">不知道如何使用场景？</a>
			</div>
			<div class="input-group" style="position:relative;width:100%; padding-left: calc(100% - 95px);">
			</div>
			<!-- 新建意图 -->
			<div class="myGroup input-group" ng-show='!isSY'>
	            <span class="input-group-addon addIcon"></span>
	            <input type="button" class="form-control myNewIssue" value="新建意图" ng-click='createIntentFunc()'>
	            <!-- <button class="form-control myNewIssue" ng-click='createIntentFunc()'>新建意图</button> -->
	        </div>
	        <!-- <input type="button" title="创建意图寒暄" class="form-control myNewIssue" value="新建意图" ng-click='createIntentFunc()'> -->
	        <!-- end -->
			<ul class="list-group intent">
			  <li class="list-group-item" data-act="nav-intent-{{intent.id}}" ng-click="goIntentDetail(intent.scenarioId,intent.id,$event)" ng-repeat="intent in intentList">
			  	<span ng-bind="intent.name"></span>
			  	<div class="btn-group pull-right">
			  	 	<div class="dropdown-toggle glyphicon glyphicon-option-vertical btn-intent" ng-show='!isSY' type="button" data-submenu="" aria-expanded="false"></div>
			  	 	<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
			  	 		<li class="copy-intent" ng-click="copyIntentNameFunc(intent.id)"><a href="javascript:;">复制</a></li>
			  	 		<li class="dropdown-submenu">
			  	 			<a href="javascript:;">移动到其他场景</a>
			  	 			<ul class="dropdown-menu" ng-if="scenarioList.length > 1">
							   <li ng-repeat="scenario in scenarioList" ng-if="scenario.id != currentScenesId" data-act="nav-scenario-{{scenario.id}}" class="list-group-item" ng-click="moveIntentNameFunc(intent.id,scenario.id)">
							   		<a href="javascript:;"><span ng-bind="scenario.name"></span></a>
							   	</li>
							</ul>
			  	 		</li>
			  	 		<li class="delete-intent" ng-click="deleteIntentNameFunc(intent.id,intent.name)"><a href="javascript:;">删除</a></li>
			  	 	</ul>
			  	</div>
			  	<p class="{{intent.intentStatus | intentStatusFilter:intent.errorModelStr}} intent-popvoer" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="{{intent.errorModelStr}}" ></p>
			  </li>
			  <li class="list-group-item" style="display:none;">
			  	<input type="text" ng-model="intentName" ng-keydown="addIntentNameKeydownFunc($event,intentName,$index)" ng-blur="addIntentNameFunc(intentName,$index)" class="form-control" placeholder="添加意图" />
			  </li>
			</ul>
			<ul class="pagination pagination-md paging-box" ng-show="pageCount > 1">
			  <li ng-class="{true: 'disabled', false: ''}[firstNum<9]"><a href="javascript:;">&laquo;</a></li>
			  <li ng-repeat="intentPageNum in intentPageNumList" ng-class="{true: 'disabled', false: ''}[intentPageNum=='...']"><a href="javascript:;" ng-bind="intentPageNum"></a></li>
			  <li ng-class="{true: 'disabled', false: ''}[lastNum>=pageCount]"><a href="javascript:;">&raquo;</a></li>
		   </ul>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 row-height" style="padding:0;border-left:0;" ui-view>
		<img src="img/guide/创建场景.gif" ng-show="!intentList || intentList.length == 0" data-act="intent-detail-tips" style="margin-top: 82px; margin-left: 20px; width: 94%;display:none;"/>
	</div>
</div>


