<style>
td{
	border:0 !important;
}
.nav a .badge{
	background-color: #f10c0c;
}
.alert_msg{
	color: #47aa8f;
	background-color:#e8f5ec;
	position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    line-height: 1;
    padding: 7px 40px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
}
.okImg {
	background: url('../img/ok.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}
.modal-settings{
	top: 130px !important;
}
#settingSize .modal-body form{
	padding-left: 15px;
	margin-top: 15px;
}
#settingSize{
	height: inherit; !important;
	padding:0 !important;
}
.more.rightDistance{
	margin-right: 47px !important;
}
#mySettingsModal .modal-footer .btn{
	border-radius: 0 !important;
    width: 80px !important;
    border: none;
    color: white;
}
#mySettingsModal .modal-footer .btn-default{
	background-color: #d7d9db;
}
#mySettingsModal .modal-footer .btn-primary{
	background-color: #3d98fb;
}
#mySettingsModal form{
	padding-left: 14px;
	margin-top: 20px;
}
#mySettingsModal.modal .modal-title{
	font-size: 18px;
	font-weight: normal;
}
</style>
<!-- <link rel="stylesheet" type="text/css" href="css/skill_store.css?20170313">
<link rel="stylesheet" type="text/css" href="css/loading.css"> -->

<!-- 配置模块 start -->
<div class="modal fade" id="mySettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-settings">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">音乐配置</h4>
            </div>
            <div class="modal-body">
            	<form class="form-inline">
            		<div class="form-group">
	            		<label for="settingSize" class="rightDistance">每次返回歌曲列表数量</label>
	            		<input type="number" style="width: 200px;" id='settingSize' class="form-control" max="20" min="1" value="20">
	            	</div>
	            	<p><br></p>
	            	<div class="form-group" class="source" id="source">
	            		<label class="rightDistance more">api引用歌曲数据ID</label>
	            		<input type="checkbox" id="xiami" checked="" value="www.xiami.com" name="source">	<label for="xiami" style="margin-right: 10px;">虾米</label>
	            		<input type="checkbox" id="cloudMusic" value="music.163.com" name="source">	<label for="cloudMusic">网易云音乐</label>
	            	</div>
            	</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click='ensureSettings()'>确定</button>
            </div>
        </div>
    </div>
</div>
<!-- end -->


<hr>
<div class="tips-text" data-act="tips-text" ng-hide="robotList.length > 0">
	<div class="loading" style="padding-top:24%;">
		<div class="spinner loading-icon">
		    <div class="spinner-container container1">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container2">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container3">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		</div>
	</div>
</div>
<div class="row row-height">
	<div class="col-md-12 col-sm-12 col-xs-12 center-list-box">
		<section class="center-list-title">
			<span>技能插件
			<button type="button" data-html="true" class="btn btn-default myhelp" data-trigger="click" data-animation="true" data-container="body" data-toggle="popover" data-placement="right" data-content="ruyi.ai为通用场景设计的开放服务，只需要勾选希望在机器人中使用的服务，机器人便可获得相应领域的服务能力。<a href='http://docs.ruyi.ai/344884' target='_blank'>更多</a>">
			  	&nbsp;
			</button>
			</span>
			<label id='alert_msg' class='alert_msg'>
					<b class='okImg'>&nbsp;</b>	
					<b class='text'>简单的测试</b>
			</label>
		</section>
		<div class="reference-app-box" style="padding-bottom:60px;position:relative;">
		<div class="speach-response">
			<ul class="nav nav-tabs clearfix change-option" data-act="nav-tabs" style="margin-top:10px;">
			   <li data-act="my-skill">
			   		<a>我的技能 <span class="badge" style='margin-left:3px;'></span> </a>
			   </li>
			   <li data-act="skill-store">
			   		<a>技能商店</a>
			   </li>
			   <li data-act="skill-detail" style="display:none;">
			   		<a style="border-bottom: 0; margin-left: -17px; margin-top: 1px;color:#bbb;">&nbsp;>&nbsp;技能详情</a>
			   </li>
			   <!-- <li data-act="skill-create">
			   		<a>创建技能</a>
			   </li> -->
			   <!--  <li class="entry-sort">
			   		<span class="iconfont icon-sort1"></span>
			   		<span>优先级排序</span>
			   </li>	-->
			</ul>
			<div class="entry-sort">
		   		<span class="iconfont icon-sort1"></span>
		   		<span>优先级排序</span>
		   </div>
			<div id="myTabContent" class="tab-content">
			   <!-- 我的技能 start -->
			   <div class="tab-pane fade s-skill-box-nav" id="my-skill" data-act="response-type">
					<!-- <ul class="s-skill-box" id="robot-sortable"> -->
					<ul class="s-skill-box" id="robot-sortable">
						<!-- <li class="s-skill-item ui-state-default" data-id="{{robot.id}}" data-act="data-my-skill" ng-repeat="robot in referencedAppObj"> -->
						<li class="s-skill-item" data-id="{{robot.id}}" ng-click='goRobotDetail(robot.id,$event)' data-act="data-my-skill" ng-repeat="robot in referencedAppObj">
							<div class="media s-skill-item-media">
								<a class="pull-left s-skill-item-log" href="javascript:;">
									<img class="media-object" ng-src="img/skill/{{robot.circleImg}}">
								</a>
								<div class="media-body s-skill-item-content-box">
									<h4 class="media-heading s-skill-item-title" ng-bind="robot.appName"></h4>
									<div class="s-skill-item-content" ng-bind="robot.appDesc">
									</div>
								</div>
							</div>
							<p class="s-skill-intro" ng-bind="robot.tips"></p>
							<p class="s-skill-checked">&nbsp;</p>
							<!-- <a href="javascript:" class="skillSettings"></a> -->
						</li>
					</ul>
			   </div>
			   <!-- 我的技能 end -->
			   <!-- 技能商店 start -->
			   <div class="tab-pane fade s-skill-box-nav" id="skill-store" data-act="response-type">
			   		<!-- 基础技能 start -->
					<div class="skill-type">基础技能</div>
					<ul class="s-skill-box clearfix">
						<li class="s-skill-item" style="display:inline-block;" ng-click="goRobotDetail(robot.id,$event)" ng-repeat="robot in robotList" ng-show="robot.type == 'baseSkill'">
							<div class="media s-skill-item-media">
								<a class="pull-left s-skill-item-log" href="javascript:;">
									<img class="media-object" ng-src="img/skill/{{robot.circleImg}}">
								</a>
								<div class="media-body s-skill-item-content-box">
									<h4 class="media-heading s-skill-item-title" ng-bind="robot.appName"></h4>
									<div class="s-skill-item-content" ng-bind="robot.appDesc">
									</div>
								</div>
							</div>
							<p class='s-skill-unCheck'>&nbsp;</p>
							<p class="s-skill-checked" ng-show="robot.id | robotCheckedFilter:currentRobot.referencedApp">&nbsp;</p>
						</li>
					</ul>
					<!-- 基础技能 end -->
					<!-- 轮播 start -->
					<div id="myCarousel" class="carousel slide">
						<!-- 轮播（Carousel）指标 -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>   
						<!-- 轮播（Carousel）项目 -->
						<div class="carousel-inner">
							<div class="item active" ng-click="goRobotDetail('3a59359b-b40b-4581-be62-8112dbf5fb90',$event)">
								<img src="img/banner/voice-banner.png" alt="有声资源">
							</div>
							<div class="item" ng-click="goRobotDetail('cfc4488b-5c0f-4315-9ff4-fadb75f05f01',$event)">
								<img src="img/banner/weather-banner.png" alt="查询天气">
							</div>
							<div class="item" ng-click="goRobotDetail('dfd87e8d-5b93-4070-b11c-5ec5c6d78b33',$event)">
								<img src="img/banner/schedule-banner.png" alt="日程创建">
							</div>
						</div>
						<!-- 轮播（Carousel）导航 -->
						<a class="carousel-control left" href="#myCarousel" 
						   data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myCarousel" 
						   data-slide="next">&rsaquo;</a>
					</div> 
					<!-- 轮播 end -->
					<!-- 扩展技能 start -->
					<div class="skill-type">扩展技能</div>
					<ul class="s-skill-box clearfix">
						<li class="s-skill-item" style="display:inline-block;" ng-click="goRobotDetail(robot.id,$event)" ng-repeat="robot in robotList" ng-show="robot.type == 'expandSkill'">
							<div class="media s-skill-item-media">
								<a class="pull-left s-skill-item-log" href="javascript:;">
									<img class="media-object" ng-src="img/skill/{{robot.circleImg}}">
								</a>
								<div class="media-body s-skill-item-content-box">
									<h4 class="media-heading s-skill-item-title" ng-bind="robot.appName"></h4>
									<div class="s-skill-item-content" ng-bind="robot.appDesc">
									</div>
								</div>
							</div>
							<p class='s-skill-unCheck'>&nbsp;</p>
							<p class="s-skill-checked" ng-show="robot.id | robotCheckedFilter:currentRobot.referencedApp">&nbsp;</p>
						</li>
					</ul>
					<!-- 扩展技能 end -->
			   </div>
				<!-- 技能商店 end -->
				<!-- 技能详情 start -->
			   <div class="tab-pane fade s-skill-box-nav" id="skill-detail" data-act="response-type">
					<ul class="skill-detail-box">
						<div class="media s-skill-item-media">
							<a class="pull-left s-skill-item-log" href="javascript:;">
								<img class="media-object" ng-src="img/skill-rect/{{robotDetail.rectImg}}" alt="{{robotDetail.rectImg}}">
								<button class="common-active-button" ng-click="handleRobotStatusFunc(robotDetail.id,robotDetail.appName)">
									<span ng-hide="robotDetail.id | robotCheckedFilter:currentRobot.referencedApp">获 取</span>
									<span ng-show="robotDetail.id | robotCheckedFilter:currentRobot.referencedApp">移 除</span>
								</button>
							</a>
							<div class="media-body s-skill-item-content-box">
								<h4 class="media-heading s-skill-item-title">{{robotDetail.appName}}<a ng-if="robotDetail.documentUrl && robotDetail.documentUrl.length > 0" href="{{robotDetail.documentUrl}}" target="_blank" style="font-size:14px;cursor:pointer;color:#3794FF;">&nbsp;&nbsp;接入说明</a></h4>
								<div class="s-skill-item-content" ng-bind="robotDetail.appDesc">
								</div>
								<p class="skill-detail-title">屏幕快照</p>
								<ul class="skill-photo-box clearfix">
									<li class="pull-left" ng-repeat="snapshot in robotDetail.snapshot">
										<img ng-src="img/skill-cut/{{robotDetail.appName}}/{{snapshot}}" />
									</li>
								</ul>
								<p class="skill-detail-title">简介</p>
								<p class="skill-detail-example" ng-bind="robotDetail.intro"></p>
								<p class="skill-detail-title">例句</p>
								<p class="skill-detail-example" ng-bind-html="robotDetail.example"></p>
								<p class="skill-detail-title"><span ng-bind="robotDetail.version[0].title" class="skill-detail-title"></span><small ng-bind="robotDetail.version[0].updateTime"></small></p>
								<p class="skill-detail-example" ng-bind="robotDetail.version[0].desc"></p>
							</div>
						</div>
					</ul>
			   </div>
			   <!-- 技能详情 end -->
			   <!-- 创建技能 start -->
			   <div class="tab-pane fade s-skill-box-nav" id="skill-create" data-act="response-type">
					<div class="create-skill-store-box clearfix">
						<section class="left">
							<div class="skill-create-detail">
							  	<div class="skill-create-title">创建技能插件申请</div>
							      <div class="skill-create-detail-para">
								  	<form class="form-horizontal skill-create-detail-form">
									  <div class="form-group">
									    <label for="plugin-name" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">插件名称 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <input type="text" class="form-control" id="plugin-name" placeholder="比如：股票查询，售前客服">
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="hope-feature" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">期望的功能 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <textarea class="form-control" id="hope-feature" rows="2" placeholder="您希望这个机器人有什么功能，比如可以根据您的喜好显示股票信息，帮用户对比产品，推荐购买等"></textarea>
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="data-resource" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">数据资源 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <textarea class="form-control" id="data-resource" rows="2" placeholder="您的专业知识，领域信息和数据资源等"></textarea>
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="target-user" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">目标用户 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <textarea class="form-control" id="target-user" rows="2" placeholder="您打算给什么样的人群使用这个技能插件"></textarea>
									    </div>
									  </div>
									</form>
								  	<section class="skill-create-apply-success">
								  		<h3>感谢您的支持</h3>
								  		<h4>我们已收到您的申请，审核通过后会马上联系您</h4>
								  	</section>
								  </div>
							</div>
							<div class="skill-create-detail contact" style="border-top:0;">
							  	<div class="skill-create-title">联系方式<span style="font-size: 14px;margin-left: 20px;">请留下您的联系方式，方便审核通过后通知您。</span></div>
							      <div class="skill-create-detail-para">
								  	<form class="form-horizontal">
									  <div class="form-group">
									    <label for="user-name" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">姓名 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <input type="text" class="form-control" id="user-name">
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="user-telephone" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">电话 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <input type="tel" class="form-control" id="user-telephone">
									    </div>
									  </div>
									  <div class="form-group">
									    <label for="user-company" class="col-xs-4 col-sm-4 col-md-3 col-lg-2 control-label">单位名 <span class="skill-create-required">*</span></label>
									    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <input type="text" class="form-control" id="user-company">
									    </div>
									  </div>
									  <div class="form-group">
									    <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-xs-7 col-sm-7 col-md-8 col-lg-9">
									      <button type="submit" class="btn btn-primary skill-create-submit">提交申请</button>
									    </div>
									  </div>
									</form>
								  </div>
							</div>
						</section>
						<section class="right">
								<div class="skill-create-title">说明</div>
								<div style="padding:10px;background-color: #FCFEFF;">ruyi.ai即将开放技能插件的上传与发布。<br/><br/>
								如果您想创建自己的技能插件可以填写左侧的申请表。<br/><br/>	
								我们将为您提供技术支持与帮助，该功能开放后，我们也会优先邀请
								您作为该功能的内测用户。<br/><br/>
								申请提交后，我们将在24小时之内联系您。</section></div>
					</div>
			   </div>
			   <!-- 创建技能 end -->
			   <!-- 技能排序 start-->
				<div class="modal fade" id="skillSortModal">
				  <div class="modal-dialog" style="width:720px;">
				    <div class="modal-content">
				      <!-- <div class="modal-header">
				      	<h4 class="modal-title font-size-style modal-title">缺省回复</h4>
				        <div style="cursor:pointer;"><div class="close-modal">&nbsp;</div></div>
				      </div> -->
				      <div class="modal-body default-answer-box" style="">
						<div class="skill-sort clearfix">
							<div class="select-sort">
								<div class="select-sort-title">
									<h3>自主排序</h3>
								</div>
								<ul ui-sortable ng-model="mySkills" class="select-sort-list">
									<li ng-repeat="mySkill in mySkills track by $index">
										<span class="sort-id">{{$index+1}}</span>
										<span class="skill-name">{{mySkill.appName}}</span>
									</li>
								</ul>
							</div>
							<div class="recommend-sort">
								<div class="recommend-sort-title">
									<h3>推荐排序</h3>
								</div>
								<ul class="recommend-sort-list">
									<li ng-repeat="robot in recommendSkills"><span>{{$index+1}}.</span>{{robot.appName}}</li>
								</ul>
							</div>
						</div>
						 <!--<div class="form-group footer-box" style="padding-top:30px;padding-bottom:20px;">
						    <div class="col-md-offset-1 col-md-10 clearfix footer-modal">
						      <div class="pull-right submit-modal btn btn-primary rating-submit" ng-click="setDefaultResponseFunc()">确定</div>
						      <a class="pull-right cancel-modal btn btn-default rating-cancel" data-dismiss="modal">取消</a>
						    </div>
						 </div> -->
				     	<div class="skill-sort-option clearfix">
				     		<div class="select-sort-option">
				     			<a class="btn btn-primary" ng-click="recoverySort()">恢复推荐排序</a>
				     			<div class="pull-right btn btn-primary rating-submit" ng-click="changeSort()">确定</div>
				     			<a class="pull-right cancel-modal btn btn-default rating-cancel" data-dismiss="modal">取消</a>
				     		</div>
				     		<div class="recommend-sort-option">
				     		</div>
				     	</div>
				      </div>
				      	
				    </div>
				  </div>
				</div>
				 <!-- 技能排序 end  -->
			</div>
		</div>
		</div>  
	</div>
</div>
<!-- 机器人排序 start-->
<!-- <div class="modal fade" id="robotPrioritySort">
  <div class="modal-dialog mydialog" style="width:460px;">
    <div class="modal-content">
      <div class="modal-header">
        <div style="cursor:pointer;"><div class="close-modal">&nbsp;</div></div>
        <h4 class="modal-title font-size-style modal-title">机器人优先级排序</h4>
      </div>
      <div class="modal-body">
       	<form class="form-horizontal" autocomplete="off">
		  <div class="form-group" style="margin-bottom: 25px;">
		    <ul id="robot-sortable" style="overflow:hidden;overflow-y:auto;">
			  <li class="ui-state-default" ng-repeat="robot in robotList" ng-bind="robot.appName"></li>
			</ul>
		  </div>
		  <div class="form-group footer-box">
		    <div class="col-md-offset-1 col-md-10 clearfix footer-modal">
		      <div class="pull-right submit-modal" data-act="submit-rename-resource">确定</div>
		      <a class="pull-right cancel-modal">取消</a>
		    </div>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div> -->
<!-- 机器人排序 start-->
<script src="js/skill_store.js?v=2"></script>



