@charset "utf-8";
/* CSS Document 
* { font-family: Microsoft YaHei, SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif; }*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: Microsoft YaHei, SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif; }
html, body{ height: 100%; width: 100%; position: relative; overflow:hidden;background-color:#fff;}
.font-bold{ font-weight:bold; }
ul { margin: 0; padding: 0rem; list-style: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none;  color:#000;}
a:link { text-decoration: none; }
#wrap{ width:1000px; margin:0 auto;}
#l{ }
#r{ text-align: left;}
#demo_input{ width:100%; padding:10px 16px; height: 140px; font-size: 18px;}
#lwrap{ width:100%; text-align: left;}
.r_title{ margin-bottom:4px; }
.r_title_wrap{ font-size:20px;margin-bottom:4px;}
.r_content{ width: 100%;}
.result_wrap{  margin:15px 0;
 margin-top: 0; word-wrap:break-word;}
.result_content{ width:100%; border:0; background-color: #DDD; resize:none;}
.result_content:focus{ outline:none;}
.floatl{ float: left;}
.floatr{}
.clearfix{ clear:both;}
.container{max-width:5000px; height:100%;overflow:hidden;overflow-y:auto; padding-right:0;padding-left:0;}
/*lucas*/
.row-box{ margin-top:20px;}
textarea{
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
}
select{
	padding: 8px;
	border: 1px solid rgb(221, 221, 221);
	cursor:pointer;
}
input{
	padding: 6px 14px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 6px;
	font-size: 16px;
}

.title-nav{
	padding: 0;
}
.pmswrap-padding{
	padding-left: 20px;margin-top: -22px;margin-bottom: -12px;
}
.last-updated{
	padding-left:20px;padding-bottom: 10px;
}
textarea{
	padding:10px 14px;
}
@media (min-width: 992px) {
	.title-nav{
		padding:10px 17%;
	}
	.content-padding{
		padding:0 16%;
	}
	.last-updated{
		padding-left:17%;
		padding-right:17%;
		padding-bottom: 10px;
	}
}
