body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;  font-family: "Microsoft YaHei" ! important; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; }
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 
html,body{
	width:100%;
	height: 100%;
	font-size:14px;
}
.highcharts-credits{
	display:none;
}
.btn.focus, .btn:focus,.btn.active, .btn:active,button:focus{
	outline:none !important;
	border-color:none !important;
	box-shadow: none;
}
.head_box{
	position: relative;
	background-color: #191e24;
	border-bottom: 1px solid #d9dadc;
}
.head .inner.wrp {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding:0 18px;
}
.head .inner.wrp .logo span{
	padding-bottom:2px;
	cursor:pointer;
}
.head .inner.wrp .logo span.active,.head .inner.wrp .logo span:hover{
	border-bottom:2px solid #fff;
}
.head .inner {
    height: 42px;
}
.myhelp {
    border: 0;
    background-image: url(../img/help.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1px;
    height: 0px;
    padding: 8px;
    margin-left: 5px;
    margin-top: -4px;
    border-radius: 50%;
}
.myhelp:hover {
    background-image: url(../img/help-hover.svg);
    background-color: #fff;
}
.myhelp:focus, .myhelp:active {
    outline: rgba(0,0,0,0) thin solid !important;
    background-color: #fff !important;
}
.robot-list-box tr td,.robot-list-box tr th{
	border-right:1px solid #dcdddd;
	text-align:center;
}
.robot-list-box tr td:last-child,.robot-list-box tr th:last-child{
	border-right:0;
}
.loading-more-btn{
	background-color: #ddd;
	width: 100px;
	border-radius: 0 0 6px 6px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}
.loading-more-btn:hover{
	background-color: #ccc;
}
.logo{
    height: 42px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: default;
    background-size: cover;
    display: block;
    background: url(../img/ruyi-ai-icon.svg) 0 12px no-repeat;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 42px;
    /* position: absolute; */
}
a:hover, a:focus {
    text-decoration: underline;
}
.user-name-box{
	position:absolute;
	top:0;
	right: 0px;
}
.user-name-btn{
	background-color:#191e24;
}
.user-name-btn:hover,.user-name-btn:focus,.user-name-btn:active{
	color:#fff;
	outline:none !important;
}
@media (min-width: 768px){
	.head .inner.wrp {
	   width: 750px;
	}
}
@media (min-width: 992px){
	.head .inner.wrp {
	   width: 970px;
	}
}
@media (min-width: 1200px){
    .head .inner.wrp {
	   	width: 1170px;
	}
}
