html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
legend {
    color: #000000;
}
body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}
table {
    font-size: inherit;
}
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
input[type="submit"] {
    cursor: pointer;
}
button {
    cursor: pointer;
}

.body-help{
	width:100%;margin-top:80px;margin-left:0px;height:85%;
}
.nav-help{
	background-color:#000;position:fixed;width:100%;left:0;top:0;
}
.nav-title{
	color:#fff;font-size:16px;padding:16px;
}
.content-box-help{
	width:70%;margin-left:15%;min-width:500px;overflow:hidden;height:100%;
}
.content-nav-left{
	float:left;width:25%;overflow:hidden;height:100%;
}
.content-left-box{
	height:100%;overflow-y:auto;padding:0;padding-right:10000px;width:100%;margin:0;
	word-break:break-all;word-wrap:break-word;-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; box-sizing: content-box;
}
.content-right{
	float:right;width:75%;height:100%;overflow:hidden;
}
.content-right-box{
	width:94%;padding-left:30px;padding-right:10000px;height:100%;overflow:hidden;overflow-y:auto;word-break:break-all;word-wrap:break-word;-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
}








