
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_qlr8kbgvlwyiudi.eot?t=1488809738527'); /* IE9*/
  src: url('//at.alicdn.com/t/font_qlr8kbgvlwyiudi.eot?t=1488809738527#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_qlr8kbgvlwyiudi.woff?t=1488809738527') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_qlr8kbgvlwyiudi.ttf?t=1488809738527') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_qlr8kbgvlwyiudi.svg?t=1488809738527#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before { content: "\e65b"; }

.icon-down:before { content: "\e675"; }

.icon-arrow-down:before { content: "\e628"; }

.icon-iconfontzhifushibai:before { content: "\e609"; }

.icon-xingxing:before { content: "\e62c"; }

.icon-sort1:before { content: "\ea96"; }

.icon-leftlisticonscenesw:before { content: "\e607"; }

.icon-ruyiaiaddscence:before { content: "\e60a"; }

.icon-ruyiaiannex:before { content: "\e60b"; }

.icon-ruyiaiclose:before { content: "\e60c"; }

.icon-ruyiaiconfirm:before { content: "\e60d"; }

.icon-copy:before { content: "\e60e"; }

.icon-ruyiaicreatedictionary:before { content: "\e60f"; }

.icon-ruyiaicreateintent:before { content: "\e610"; }

.icon-add-intent:before { content: "\e61b"; }

.icon-delete:before { content: "\e611"; }

.icon-ruyiaidownload:before { content: "\e612"; }

.icon-edit:before { content: "\e601"; }

.icon-ruyiaienlarge:before { content: "\e613"; }

.icon-ruyiaihelp:before { content: "\e614"; }

.icon-ruyiaileftlistdictionary:before { content: "\e615"; }

.icon-ruyiaileftlisthardware:before { content: "\e616"; }

.icon-ruyiaileftlisticonmaterial:before { content: "\e617"; }

.icon-ruyiaileftlistknowledge:before { content: "\e618"; }

.icon-ruyiaileftlistmessage:before { content: "\e619"; }

.icon-ruyiaileftlistrobot:before { content: "\e61a"; }

.icon-ruyiaileftliststatistics:before { content: "\e61c"; }

.icon-ruyiaileftlisttry:before { content: "\e61d"; }

.icon-ruyiaileftlistwechat:before { content: "\e61e"; }

.icon-ruyiaimusic:before { content: "\e61f"; }

.icon-ruyiainarrow:before { content: "\e620"; }

.icon-ruyiaisearch:before { content: "\e621"; }

.icon-ruyiaisetting:before { content: "\e622"; }

.icon-sort:before { content: "\e623"; }

.icon-ruyiaisuccess:before { content: "\e624"; }

.icon-ruyiaiupload:before { content: "\e625"; }

.icon-ruyiaivideo:before { content: "\e626"; }

.icon-close:before { content: "\e627"; }

.icon-ruyiaiwidget:before { content: "\e600"; }

.icon-arrow-left:before { content: "\e629"; }

.icon-ruyi-logo:before { content: "\e63a"; }

.icon-move:before { content: "\e636"; }

.icon-arrow-right:before { content: "\e637"; }

.icon-chucuo:before { content: "\e653"; }

.icon-overall-situation:before { content: "\e62a"; }

.icon-robot-head:before { content: "\e62b"; }

.icon-childer-robot:before { content: "\e63d"; }

.icon-common-robot:before { content: "\e63e"; }

.icon-down-copy:before { content: "\ea97"; }

.icon-right-copy-copy:before { content: "\ea99"; }

.icon-search-placeholder:before { content: "\e602"; }
