.dialog-content-box{
	height: 80%;
	width: 60%;
	position: relative;
	border: 1px solid #ddd;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
.font-size-style{
	font-size:18px;
}
.testTextarea{
	width: 100%;
	height: 115px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #ddd;
}
.testTextarea textarea{
	border: none;
	resize: none;
	outline: none;
	display: block;
	width: 100%;
	padding: 12px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	overflow: hidden;
	height: 73px;
	overflow-y: auto;
}
.testTextarea button{
	float: right;
	margin-right: 15px;
	margin-bottom: 10px;
	background-color: #fafafa;
	border: 1px solid #959ea3;
	color: #959ea3;
	width:76px;
	font-size:14px;
	border-radius: 4px;
	padding: 6px;
	cursor:pointer;
}
.testTextarea button:hover{
	background-color: #fff;
	color:#000;
}
.testContain{
	width: 100%;
	height: 100%;
	padding: 10px;
	padding-right: 17px;
	overflow-y:auto;
	padding-bottom: 6%;
}
.testContain li{
	margin-bottom: 10px;
}
.serverTalk img{
	float: left;
	height: 36px;
	width: 36px;
}
.serverTalk div{
	position: relative;
	left:13px;
	max-width: 75%;
	min-height:40px;
	padding: 6px;
	border: 1px solid #d1d1d1;
	border-radius:5px;
	word-break: break-all;
	word-wrap:break-word;
	background: #fafafa;
	float: left;
	font-size: 14px;
	color: #3e3a39;
}
.serverTalk div span{
	position:absolute;
	border-style:dashed solid dashed dashed;
	font-size:0;
	line-height:0;
	background: rgba(0, 0, 0, 0) url("../img/example-icon/talk-arrow-left.png") no-repeat scroll 0 0 / 100% auto;
	float: left;
	height: 11px;
	margin-left: 1px;
	width: 9px;
}
.serverBorder{
	left:-20px;
	top:10px;
	border-width:10px;
	border-color:transparent #dcdddd transparent transparent;
}
.serverContain{
	left:-18px;
	top:11px;
	border-width: 9px;
	border-color: transparent #fafafa transparent transparent;
}
.userTalk img{
	float: right;
	height: 36px;
	width: 36px;
}
.userTalk div{
	position: relative;
	right:13px;
	max-width: 75%;
	min-height:40px;
	padding: 6px;
	border: 1px solid #84cb5f;
	border-radius:5px;
	word-break: break-all;
	word-wrap:break-word;
	background: #adf06b;
	float: right;
	font-size: 14px;
	color: #3e3a39;
}
.userTalk div span{
	position:absolute;
	/* border-style:dashed solid dashed dashed; */
	font-size:0;
	line-height:0;
	background: rgba(0, 0, 0, 0) url("../img/example-icon/talk-arrow-right.png") no-repeat scroll 0 0 / 100% auto;
	height: 13px;
	position: absolute;
	right: -9px;
	top: 8px;
	width: 9px;
}
.userBorder{
	right:-20px;
	top:10px;
	border-width:10px;
	border-color:transparent transparent transparent #dcdddd;
}
.userContain{
	/* right:-18px; */
	/* top:11px; */
	/* border-width:9px; */
	/* border-color: transparent transparent transparent #adf06b; */
}
#responseJson{
	height: 100%;
	padding: 0 10px;
	width: 100%;
	overflow-y:auto;
}
#responseJson pre{
	border: none;
	border-radius: 0;
	background-color: #fff;
	padding-bottom: 13px;
}
#responseJson li{
	padding-top: 23px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2EA7E0;
}
.searchContain{
	height: 100%;
	position: relative;
	top: -66px;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 7%;
}
.JSONContain{
	position: relative;
	top: -66px;
	padding-top: 70px;
	padding-bottom: 5px;
	height: 100%;
}
.list-unstyled{
	margin-left:10px;
}
.serverTalk textarea{
	width: 100%;
    border: 0;
    background-color: #fafafa;
    resize: none;
    overflow: hidden;
    max-height: 120px;
    overflow-y: auto;
}
@media (max-width: 768px) {
	.dialog-content-box{
		width: 99%;
		position: relative;
		border: 1px solid #ddd;
		margin: 0 auto;
		height:100%;
	}
}
