h2{
	border-top:0px;
}
.content-box{
	height: 100%;
}
.first-box p{
	 font-size: 30px;
    margin-bottom: 70px;
    margin-top: 70px;
    width: 800px;
}
.first-box{
    height:700px;position:relative;
    height:90%;
}
.first-box img{
	left: 50%;
    margin-left: -25%;
    margin-top: -100px;
    position: absolute;
    top: 42%;
    width: 50%;
}
.first-box h2{
	font-size:70px;
}
.first-box h1{
	font-size:70px;
}
.second-box{
	color:#fff;
	background-color:#09C3FF;
}
.second-box .col-md-2{
	margin-bottom: 160px;
    margin-right: -36px;
}
.second-box h3{
	//font-size: 66px;
    //padding-bottom: 20px;
    padding-top: 60px;
    text-align: center;
}
.second-box .desc{
	//font-size: 40px;
    //margin-bottom: 30px;
    text-align: center;
    padding: 0 50px;
    //line-height: 56px;
}
.second-box img{
	width:70%;
}
.third-box{
}
.third-box .dong-zhi-xing{
	width:80%;
}

.four-box h3{
	text-align: center;
    //font-size: 66px;
    margin-bottom: -30px;
    margin-top: 30px;
}
.four-box img{
	width:90%;
}
.four-box .col-md-2{
	margin-bottom:40px;
}
.split-line{
	border: 2px solid #eee;
    margin-bottom: 20px;
    margin-left: 12%;
    margin-top: 60px;
    width: 80%;
}
.third-box .dong-zhi-xing-box{
	width: 100%; height: 100%; z-index: 0; padding-left: 18%;
}
/*footer*/
.myfooter{
	background-color: #191E24;
    color: #fff;
    height: 100%;
    padding-left: 50%;
    position: relative;
    margin-top:4px;
}
.myfooter .qrcode-desc{
	text-align:center;margin-left:-100%;font-size:22px;padding-top:30px;
}
.myfooter .qrcode-img{
	width: 120%;
    margin-top: 20%;
    margin-left: -60%;
    border-radius: 14px;
}
.myfooter .qrcode-desc{
	text-align: center;
    //font-size: 350%;
    padding-top: 16%;
    line-height: 140%;
}
.myfooter .filing{    
	text-align: center;
    //font-size: 34px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20%;
 }
.icon-box{
	padding-left: 6%;
    padding-bottom: 40px;
}
.icon-box img{
	width:74%;
}
.third-box .dong-zhi-xing{
	width:100%;
}
.third-box .dong-zhi-xing-box{
	width: 100%; height: 100%; z-index: 0; padding-left: 0;
}
.entity-intro{
	padding-left: 2%;
    padding-bottom: 50px;
}
.entity-intro div{
	margin-right:-4px;
}
.row{
	margin-right: 0;
    margin-left: 0;
}
.second-box .row{
	padding-left: 40px; 
	padding-bottom: 80px;
} 

.ruyiai-icon-mobile{
	width: 100%;
}
.navbar-brand{
	padding: 0;
}
.navbar-header{
	background-color: #000;
}
.navbar{
	margin-bottom: 0;
}
.starter-template{
	height: 100%;
}
.banner-qrcode-img{
	position: absolute;
	height: 45%;
	top: 27%;
	left: 20.5%;
}
#qr-code{
	top: 0;
	margin: 0;
	background-color: rgba(36, 36, 36,0.8);
}
.qrcode-img{
	position: absolute;
	height: 70%;
	top: 16%;
	left: 7.44%;
}
.modal{
	height: 100%;
	width: 100%;
}
.modal .close-modal:hover{
	background-image: url(../img/index/close-modal-hover.svg) !important;
}
.modal .close-modal{
	background-image: url(../img/index/close-modal.svg) !important;
	top: 13%;
}
.nav>li>a{
	font-size: 16px;
}
.navbar-nav{
	margin: 0 -15px;
}
