
/* ---- general styles */

body {
  font: 16px "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", arial, sans-serif;
  line-height: 1.53846; /* 20px */
  color: rgb(104, 121, 133);
}

:focus {
  outline: 0;
}

h1,h2,h3 {
  font-weight:normal;
}

h3{
  margin-bottom:10px;
}

ul, li {
  margin:0px;
  padding:0px;
}

ul {
  margin-left:40px;
}

ul > li {
  list-style:none;
  list-style-position:inside;
  margin:10px 0px;
}

hr {
  border:none;
  width:98%;
  margin-left:-10px;
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #FFFFFF;
}

code,
pre {
  border:1px solid #CCCCCC;
  background:rgb(236, 240, 245);
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  white-space:pre-wrap;
  color:rgb(104, 121, 133);
}
code {
  padding: 0 0.2em;
}
pre {
  margin: 1em 0;
  padding: .75em;
  overflow: auto;
  padding:10px 1.2em;
  margin-top:0;
  margin-bottom:20px;
}
pre code  {
  border: medium none;
  padding: 0;
}
a code {
  text-decoration: underline;
}

a {
  text-decoration:none;
}

h4 {
  font-size: 85%;
  margin: 0;
  padding: 0;
  line-height: 1em;
  display: inline;
}
.sidebar_title{
  font-size: 1.5em !important;
  font-weight: bold;
}


/* ---- custom classes */

pre.shell,
pre.shell code {
  background:#444;
  color:#fff;
  border-width:0px;
}
pre.shell code::before {
  content: '$ ';
  display: inline;
}


/* ---- header and sidebar */

#header {

  background:#1C313C;
  height:66px;
  left:0px;
  position:absolute;
  top:64px;
  width:100%;
  z-index:1;
  font-size:0.7em;
}
/*
  background: url(../img/logo.png) no-repeat;
  padding-left:140px;
*/
#header h1 {
  display:block;
  line-height:1.4em;
  padding:0;
  margin-top:10px;
  margin-left:20px;
  color:white;
  text-transform: uppercase;
}

#sidebar {
  /* background-color: rgb(236, 240, 245); */
  /* bottom: 0; */
  /* left: 0; */
  overflow: auto;
  /* padding: 14px 6px 6px; */
  /* position: fixed; */
  /* top: 100px; */
  /* width: 280px; */
  /* z-index: 1; */
}

#content {
  overflow: hidden;
  padding-left: 40px;
  padding-bottom:80px;
  height: 100%;
  overflow-y: auto;
}

#sidebar .vertical_divider {
  background-color:#FFFFFF;
  bottom:0px;
  position:absolute;
  top:0px;
  right:0px;
  width:1px;
}

#sidebar h1 {
  font-size:1.2em;
  padding:0px;
  margin-top:15px;
  margin-bottom:3px;
}

#sidebar ul {
  font-size: 13px;
    margin: 3px 0 10px;
    padding-left: 10px;
}

#sidebar li {
  margin:0;
  padding:0;
  font-size:0.9em;
}

#sidebar li,
#sidebar li a {
  color:rgb(104, 121, 133);
  list-style:none;
  padding:1px 0px 1px 2px;
}

#sidebar li span.verb {
  	color: #aaa;
    display: block;
    float: left;
    font-family: verdana;
    font-size: 14px;
    margin-left: 0;
    padding: 2px 3px 0;
    width: 30px;
}

#sidebar li.current {
  background-image:url(../img/tab.gif);
  background-repeat: no-repeat;
  background-position:right;
}


/* ---- intro */

.intro {
  color:rgb(104, 121, 133);
  padding: 22px 25px;
  background: rgb(236, 240, 245);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom:40px;
  border:1px solid #cccccc;
}
.intro pre.base {
  background:rgb(104, 121, 133);
  color:#29231A;
  color:#fff;
  border-color:#fff;
  font-size:1.3em;
}
.intro h1 {
  color: #1C313C;
}
.intro h3 {
   font-size: 100%;
    font-weight: 100;
    margin: 5px 0 12px 3px;
}
.intro ul {
  list-style-type:disc;
  padding-left:20px;
  margin-left:0;
}
.intro ul li{
  margin:0;
}
.intro p {
  padding-left:20px;
  margin: 5px 0px 3px;
}



h2 {
  margin-top: 40px;
  border-top: 1px solid #979592;
  z-index: 3;
  padding-top:18px;
}
h1 + h2 {
  margin-top: 0px;
}

h2.fixed {
  position:fixed;
  margin-top: 0;
  border-top:none;
  right:45px;
  top:66px;
}

h2 span {
  background: #979592;
  float:right;
  color:#fff;
  margin:0;
  margin-left:3px;
  padding:0.3em 0.7em;
  font-size: 0.55em;
  word-spacing: 0.8em;  /* separate verb from path */
  color:#fff;
}




/*---- print media */

@media print {
  body { background:white; color:black; margin:0; }
  #sidebar {
    display: none;
  }
  #content {
    position: relative;
    padding: 5px;
    left: 0px;
    top: 0px;
  }
  h1, h2, h4 {
    page-break-after: avoid;
  }
  pre {
    page-break-inside: avoid;
  }
}

.table-responsive{
	border-collapse: collapse;
}
.table-responsive td{
	border:1px solid black
}
.table-responsive th{
	border:1px solid black
}
#sidebar ul li div a{
	font-size: 1.5em;
	font-weight: bold;
}
#sidebar ul li ul li div a{
	font-size: 1.2em;
	font-weight: 100;
}
#sidebar ul li div a span{
	 font-size: 14px;
    font-weight: lighter;
    margin-left: 4px;
}
h2, .h2{
	font-size: 23px;
}
h1, .h1{
	font-size: 28px;
}
h3, .h3{
	font-size:21px;
}





