<html  ng-app="wechatApp" ng-controller="wechatCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title data-act="title"></title>
    <!-- <link href="https://www.runoob.com/static/ionic/css/ionic.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/ionic.min.css">
    <link href="css/wechat.css" rel="stylesheet">
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?f7ec6bda1ae48b34de486984c876bcd7";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
  </head>
  <script>
	   //获取请求参数
	  function GetRequestTemp() {
	  	var url = location.search;
	  	var theRequest = new Object();
	  	if (url.indexOf("?") != -1) {
	  		var str = url.substr(1);
	  		strs = str.split("&");
	  		for(var i = 0; i < strs.length; i ++) {
	  			theRequest[strs[i].split("=")[0]]=decodeURIComponent(strs[i].split("=")[1]);
	  		}
	  	}
	  	return theRequest;
	  }
	  var RequestTemp = new Object();
	  RequestTemp = GetRequestTemp();
	  if(!RequestTemp.appName){
		  document.title = "艾如意";
	  }else{
		  document.title = RequestTemp.appName;
	  }
  </script>
  <body style="-webkit-overflow-scrolling:touch;" overflow-scroll='true'>
  	<div class="container selectable">
	    <div class="bar bar-header bar-positive top-nav">
	      <h1 data-act="wechat-title" class="title"></h1>
	    </div>
	    <div class="main">
			
		</div>
	    <div class="bar bar-footer bar-positive footer-nav">
	      	<input ng-model="content" ng-keydown="wechatKeydownSubmit(content,$event)" data-act="content" ng-focus="contentFocusFunc()" ng-blur="contentBlurFunc()" placeholder="发送消息..."/>
	      	<button id="wechat-submit" ng-click="wechatSubmit(content)">发送</button>
	    </div>
  	</div>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://www.runoob.com/static/ionic/js/ionic.bundle.min.js"></script> -->
    <script src='js/ionic.bundle.min.js'></script>
    <script src="https://dn-vbuluo-static.qbox.me/jquery.cookie.js"></script>
    <script src="js/scrollfix.js"></script>
    <script src="../js/global-util.js"></script>
    <script src="js/common.js"></script>
    <script src="js/wechat.js"></script>
  </body>
</html>
