body{height:100%; overflow:hidden;}
input,button,select,textarea{outline:none}
span,div,p,section{font-weight:300;}
.english-number-break{word-break: break-all;word-wrap: break-word;}
ul li{
	list-style:none;
	padding:0;
}
.dropdown-menu{
	border: 0;
}
/*tooltip start*/
.tooltip-inner{
	z-index: 9 !important;
}
/*end*/
/*火狐不兼容bug解决*/
.list-group.myListGroup li{
	position: relative;
}
.my-btn-group{
	position: absolute;
	right: 10px;
}
/*end*/
/* iconfont start */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1477031560_783277.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1477031560_783277.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1477031560_783277.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1477031560_783277.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1477031560_783277.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.myListGroup.list-group{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*左侧场景按钮*/
.myListGroup li:hover{
	background: #333
}
.colorBtn{
    vertical-align: middle;
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: -30px;
    margin-right: 20px;
    /* margin-top: -18px; */
    position: relative;
}
/*系统动作*/
/*span.sysSettings{
	margin-left: -9px;
}
.colorBtn.sysSettings{
	background: red;
	margin-left: 0px;
    margin-top: -30px;
}*/
.isAbled{
	background: #71c737 !important;
}
.unAbled{
	background: #acacae !important;
}
/*end*/
.iconfont{
	font-family:"iconfont";
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale; 
    padding-left:10px;
    color:#B5B5B6;
}
.iconfont.left-icon{
	color:#5782B6;
	margin-right:8px;
}
.active>.iconfont.left-icon{
	color:#fff;
}
.iconfont.left-search{
	font-size: 16px;
    margin-left: 10px;
}
.iconfont.left-search:hover{
	color:#3794FF;
}
.active>.iconfont.left-search{
	color:#fff;
}
.active>.iconfont.left-search:hover{
	color:#fff;
}
.iconfont.left-addScenario{
	color: #3794FF;
    font-size: 16px;
    padding-left: 12px;
}
.active>.iconfont.left-addScenario{
	color:#fff;
}
.iconfont.left-addScenario:hover{
	color:#54ADF7;
}
.active>.iconfont.left-addScenario:hover{
	color:#fff;
}
/* iconfont end */
/*box start*/
.box{
	height:100%;
	position:absolute;
	width:100%;
	padding-left: 0;
}
.box .row-height{
	height:100%;
}
/*left-box start*/
.box .left-box{
	height:100%;
	padding-right:0;
	padding-bottom: 130px;
	border-right: 1px solid #dcdddd;
}
.box .left-box .assistant-box{
	padding:10px;
	font-size:22px;
	position: relative;
	padding-left: 70px;
}
.box .left-box .assistant-box ul{
	position:absolute;
	left: 62px;
	display:none;
	z-index:999;
	border:1px solid #dcdddd;
	overflow: hidden;
	overflow-y: auto;
	top: 10px;
}
.box .left-box .assistant-box:hover ul{
	display:block;
}
.box .left-box .assistant-box ul li{
	background-color:#fff;
	width:209px;
	font-size:16px;
	border:0;
	padding: 6px 14px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box .left-box .assistant-box ul li:hover{
	color:#333;
}
.box .left-box .assistant-box img{
	width:50px;
	border-radius: 50%;
	margin-right: 6px;
	cursor:pointer;
	left: 12px;
}
.box .left-box .assistant-box span{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	float: left;
	width: 100%;
	margin-top: 12px;
	height: 30px;
	line-height: 30px;
}
.box .left-box .list-group-item{
	border-radius:0;
	border-right:0;
	border-left:0;
	padding-left: 40px;
	border: 0;
	cursor:pointer;
}
.box .left-box .list-group-item a{
	color: #3e3a39;
	text-decoration:none;
	font-size: 18px;
}
.box .left-box .list-group-item:hover a{
	color:#333;
	cursor: point;
}

.box .left-box .list-group-item.active a{
	color: #ffffff;
}

.box .left-box .list-group-item{
	/* background-color:#f7f8f8; */
}

.box .left-box .list-group-item:hover{
	background-color: #f5f5f5;
	color: #333;
}
a{
	color: #333;
	border: none;
	margin: 0;
}
.popover-content a{
	color: #337ab7;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
	border: none;
	border-bottom: 1px solid #3794FF;
	color: #3794FF;
}
.nav-tabs>li>a:hover{
	border: 1px solid rgba(0,0,0,0);
	color: #3794FF;
	cursor:pointer;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: none;
	
}
 .nav-tabs>li.active>a:hover{
 	border: none;
	border-bottom: 1px solid #3794FF;
	background: none;
	color: #3794FF;
 }

.box .left-box .list-group-item.active{
	background-color:#3794FF;
	cursor:pointer;
}
.box .left-box .list-group-item.scenario-box{
	position:relative;
}
.box .left-box .list-group-item.scenario-box:hover{
	background-color:#f5f5f5 !important;
}
.dialogScenes ul li span{
		font-size:14px;
}
.scenario-box{
	position:relative;
}
.scenario-box .select-icon{
	position: absolute;
	left: 14px;
	top: 16px;
	z-index: 1;
	color: #3e3a39;
}
.box .left-box .list-group-item.scenario-box:hover,.box .left-box .list-group-item.scenario-box.active{
	background-color:#fff !important;
}
.box .left-box .list-group-item.scenario-box #addScenario{
	width: 22px;
	height: 22px;
	top: 12px;
	right:13px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	cursor: pointer;
	background-image: url(../img/add.svg);
}
.box .left-box .list-group-item.scenario-box:hover i,.box .left-box .list-group-item.scenario-box.active i{
	/* background-image: url(../img/add-white.svg); */
}
.box .left-box>.list-group{
	margin-top: 8px;
	max-height: -moz-calc(100% - 20px);
	max-height: -webkit-calc(100% - 20px);
	max-height: calc(100% - 20px);
    overflow: auto;
}
.box .left-box .dialogScenes ul{
	margin-bottom:0;
}
.box .left-box .dialogScenes ul li{
	color: #898989;
	font-size: 18px;
	position:relative;
	word-break: break-all;
	border: 0;
	padding-left: 60px;
}
.box .left-box .dialogScenes ul li:hover i{
	width: 14px;
    height: 14px;
    top: 15px;
    right:10px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: pointer;
    background-image: url(../img/delete.svg);
}
.box .left-box .dialogScenes ul li.active i{
	background-image: url(../img/delete-white.svg);
}
/* changed by Luofan */
.box .left-box .dialogScenes ul li:hover i:hover{
	
}
.box .left-box .dialogScenes ul li:hover .colorBtn{
	/*background: #499fad !important;*/
}
.box .left-box .dialogScenes ul li:hover{
	background: #fff333;
	color: #333;
	padding-right: 10px;
}

.box .left-box .dialogScenes ul li.active{
	color: #ffffff;
	background-color: #3794FF;
}
.box .left-box .dialogScenes ul li:last-child{
	border-bottom:0;
}
/*left-box end*/
/*center-box start*/
.box .center-box{
	height:100%;
}
.box .center-box .center-list-box{
	height:100%;
	padding: 0;
	border-right: 1px solid #dcdddd;
}
.box .center-box .center-list-title{height: 70px;line-height: 70px;position: relative;}
.box .center-box .center-list-title input{font-size: 18px;padding-bottom:6px;padding-right:0;padding-left:0;margin-left:23px;border-radius:0;border:0;box-shadow:none;width:86%;margin-top: 20px;border-bottom:1px solid #fff;}
.box .center-box .center-list-title input:hover{
	border-bottom:1px solid #dcdddd;
}
.box .center-box .center-list-title input:focus{
	border-bottom:1px solid #3794FF;
}
.box .center-box .center-list-title span{
	font-size: 20px;
	padding-bottom: 6px;
	padding-right: 0;
	padding-left: 0;
	margin-left: 23px;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	width: 76%;
	border-bottom: 0;
	display: block;
}
.box .center-box .center-list-main{
	padding: 11px 20px;
	height: 90%;
}
.box .center-box .center-list-main>.input-group{
	margin-bottom: 10px;
}
.box .center-box .center-list-main>.input-group input{
	border-radius: 0;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #dcdddd;
}
.box .center-box .center-list-main>.input-group input:hover,.box .center-box .center-list-main>.input-group input:focus{
	border-bottom:1px solid #3794FF;
}
.box .center-box .center-list-main>.list-group .list-group-item{
	border-radius:0;
	border-radius:0;
	cursor:pointer;
	position: relative;
	padding: 7px 15px;
	padding-top: 10px;
	overflow: hidden;
}
.box .center-box .center-list-main>.list-group .list-group-item .error{
	width:8px;
	background-color: #ee524f;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.box .center-box .entity-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-right: 20px;
}

.box .center-box .center-list-main>.list-group .list-group-item .warning{
	width:8px;
	background-color: #ffb64c;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.box .center-box .center-list-main>.list-group .list-group-item .success{
	width:4px;
	background-color: #fff;
	top:0;
	position: absolute;
}

.box .center-box .center-list-main>.list-group .list-group-item:hover .delete{
	 background-image: url(../img/delete-white.svg); 
	 position:absolute;
	 background-size:cover; 
	 width:18px; 
	 height:18px; 
	 right: 12px; 
	 top: 12px; 
	 cursor:pointer; 

}
.box .center-box .center-list-main>.list-group .list-group-item:hover .copy{
	 background-image: url(../img/copy-white.svg); 
	 position:absolute;
	 background-size:cover; 
	 width:18px; 
	 height:18px; 
	 right: 36px; 
	 top: 12px; 
	 cursor:pointer; 

}
.box .center-box .center-list-main>.list-group .list-group-item:last-child input{
	border:0;
	/*height: 42px;*/
	border-radius: 0;
	box-shadow: none;
}
.box .center-box .center-list-main>.list-group .list-group-item:hover{
	background-color: #f4f4f4;	
	color: #333;
}

.box .center-box .center-list-main>.list-group .list-group-item.active{
	color: #fff;
	background-color: #3794FF;
	border: 0;
}
.box .center-box .center-list-main>.list-group .list-group-item.focus{
	color: #fff;
	background-color: #3794FF;
	border: 0;
}
/*center-box end*/
/*right-box start*/
.box .right-box .right-box-title .form-group button:last-child{
	margin-left:16px;
}
.box .right-box .right-box-title .form-group{
	padding-top:20px;
}
.box .right-box .right-box-title{
   overflow: hidden;
   height: 70px;
}
.box .right-box .right-box-title div i{
	  width: 30px;
	  height: 30px;
	  top: 20px;
	  right: 30px;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position:absolute;
	  cursor:pointer;
	  background-image: url(../img/save.svg);
}
.box .right-box .right-box-title div i:hover{
	background-image: url(../img/save-hover.svg);
}
.box .right-box .right-box-title div span{
	  width: 30px;
	  height: 30px;
	  top: 20px;
	  right: 30px;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position:absolute;
	  cursor:pointer;
	  background-image: url(../img/test.svg);
}
.box .right-box .right-box-title div span:hover{
	background-image: url(../img/test-hover.svg);
}
.box .right-box .right-box-title div span{
	 background-image: url(../img/test.svg);
	 display: none;
}
.box .right-box .right-box-title .form-group input{
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	border-bottom: 1px solid #fff;
	padding-left:0;
	margin-left: 8px;
}
.box .right-box .right-box-title .form-group input:hover,.box .right-box .right-box-title .form-group input:active{
	border-bottom: 1px solid #DCDDDD;
}
.box .right-box .right-box-title .form-group input:focus{
	border-bottom: 1px solid #3794FF;
}
.box .right-box .right-box-main{
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	padding: 20px;
	padding-bottom: 20px;
}
.box .right-box .right-box-main div div span:first-child{
	font-size: 18px;
	color: #3e3a39;
	margin-left: 0;
	font-size:18px;
}
.box .right-box .right-box-main .table-responsive{
   text-align: center;
   width: 80%;
   margin: 40px auto;
   border: none;
   font-size: 16px;
}
.box .right-box .right-box-main .table-responsive th{
	text-align: center;
	font-size: 14px;
	color: #415063;
	border: none;
}
.box .right-box .right-box-main .table-responsive tr{
	border: none;
}
.box .right-box .right-box-main .table-responsive td{
	border: none;
}
.box .right-box .right-box-main .table-responsive .count{
	color: #3794FF;
}
/* user-say start */
.box .right-box .right-box-main .user-says-input{
	box-shadow: none;
	font-size:14px !important;
	height:36px;
	line-height:25px;
	cursor:text;
	padding-right: 120px;
}
.box .right-box .right-box-main .user-say div.form-control{
	margin-top: 0px;
	font-size: 18px;
	overflow:hidden;
	border:0;
}
.usersay-placeholder{
	font-size:14px !important;
	color:#999 !important;
	width:90px !important;
}
.box .right-box .right-box-main .user-say .user-say-templates{
	/* overflow:hidden; */
}
.box .right-box .right-box-main .user-say .more{
	color:#3794FF;
	padding-top: 8px;
	font-size: 14px;
}
.box .right-box .right-box-main .user-say .more label{
	cursor:pointer;
	font-weight: 100;
	color: #3794FF;
}

.box .right-box .right-box-main .user-say .more i{
	font-size:8px;
	color:#3794FF;
	font-weight: 100 !important;
}
.box .right-box .right-box-main .user-say .list-group{
	margin-bottom:0;
}
.box .right-box .right-box-main .user-say .list-group li{
	border-radius:0;
	font-size:15px;
}
.box .right-box .right-box-main .user-say .list-group li{
	padding:0;
	positon:relative;
}
.box .right-box .right-box-main .user-say .list-group li i{
	position:absolute;
	display:none;
	z-index: 9999;
}
.box .right-box .right-box-main .user-say .list-group li:hover i{
	width:18px;
	height:18px;
	display:block;
	cursor:pointer;
	top: 10px;
	padding-right:20px;
	display:block;
}
.box .right-box .right-box-main .user-say .list-group li:hover i:hover{
	color:#54ADF7;
}
.box .right-box .right-box-main .user-say .list-group li .drop{
	right: 86px;
}
.box .right-box .right-box-main .user-say .list-group li .edit{
	right: 62px;
}
.box .right-box .right-box-main .user-say .list-group li .copy{
	right: 38px;
}
.box .right-box .right-box-main .user-say .list-group li .delete{
	right: 14px;
}



.box .right-box .right-box-main .user-say .list-group li:last-child:hover i{
	display:none;
}
.box .right-box .right-box-main .user-say .list-group li input{
	border: 0;
	padding: 10px 90px 10px 10px;
	box-shadow: none;
}
.box .right-box .right-box-main .user-say .progress{
	padding-bottom:0px;
	width: 150px;
	height: 5px;
	margin-top: 6px;
	margin-left: 10px;
	position:relative;
}
.box .right-box .right-box-main .user-say .level{
	position:relative;
}
.box .right-box .right-box-main .user-say  .level ul{
	position: absolute;
	/* top: 20px; */
	right: 0;
	width: 150px;
	padding-left: 0;
	padding-top: 2px;
}
.box .right-box .right-box-main .user-say  .level ul li{
	width: 25%;
	font-size: 10px;
	color: #3794FF;

}
.box .right-box .right-box-main .user-say  .level ul li i{
	width: 12px;
	height: 12px;
	display:block;
	border-radius:50%;
	background-color:#dcdddd;
	margin-bottom: 4px;
	cursor: pointer;
}
.box .right-box .right-box-main .user-say  .level ul li i:hover{
	background-color: #3794FF;
}
.box .right-box .right-box-main .user-say  .level ul li i.active{
	background-color:#3794FF;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(1){
	text-align:left;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(2){
	text-align:center;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(3){
	text-align:center;
	/* padding-left: 12px; */
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(4){
	text-align:right;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(1) i{
	margin-left: -2px;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(2) i{
	margin-left: 14px;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(3) i{
	margin-left: 22px;
}
.box .right-box .right-box-main .user-say  .level ul li:nth-child(4) i{
	margin-left: 33px;
}
.box .right-box .right-box-main .user-say .progress-bar{background-color: #3794FF;}
/* user-say end */
/* input-intent-tag start */
.intent-analysis{margin-top:20px !important;}
.intent-analysis table tr td{border-bottom:1px solid #ddd !important;}
.intent-analysis .table-responsive{width:100% !important;margin:6px auto !important;}
.box .right-box .right-box-main .input-intent-tag .alert{
	padding:6px;
	display:inline-block;
	border: 1px solid #dcdddd;
	color: #999;
	font-size: 15px;
	border-radius: 0;
	padding-right: 10px;
	margin: 4px;
	font-weight: 300;
}
.box .right-box .right-box-main .input-intent-tag .alert span{
	right: -6px;
	font-size: 20px;
	font-weight: 200;
	height: 0;
	top: -1px;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag{
	overflow: hidden;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag>ul{
    padding: 8px;
    float: left;
    padding-bottom: 0;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag>div{
	float: left;
	padding: 12px 8px 8px 0;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag>div input{
	border: 0;
	box-shadow: none;
	padding-left: 0;
}
/* input-intent-tag end */
/* intent-analysis */
.box .right-box .right-box-main .intent-analysis table{
	margin-top:10px;
	color:#595757;
	border:1px solid #dcdddd;
	font-size: 16px;
}
.box .right-box .right-box-main .intent-analysis table tr{
	position: relative;
}
.box .right-box .right-box-main .intent-analysis table tr:hover:last-child .delete{
	display:none;
}
.box .right-box .right-box-main .intent-analysis table tr:hover:last-child .copy{
	display:none;
}
.box .right-box .right-box-main .intent-analysis table tr:last-child td i{
	display:none;
}
.box .right-box .right-box-main .intent-analysis table tr th{
	border-bottom:0;
	text-align:left;
}
.box .right-box .right-box-main .intent-analysis table tr td{
	padding:0;
}
.box .right-box .right-box-main .intent-analysis table tr td .checkbox{
	margin:10px;
}
.box .right-box .right-box-main .intent-analysis table tr td input{
	border:0;
	box-shadow:none;
	padding-left: 10px;
}
.box .right-box .right-box-main .intent-analysis table tr td span{
	color:#999;
	padding-left: 30px;
}
.box .right-box .right-box-main .intent-analysis table tr td div:not(.tooltip,.tooltip-arrow){
	color:#999;
	font-size: 14px;
	cursor:pointer;
	width:100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 7px;
	margin-left: -8px;
}
.box .right-box .right-box-main .intent-analysis table tr td div:last-child:not(.tooltip,.tooltip-inner){
	    /*padding-left: 32%;*/
	    cursor: default;
	    color: #999;
	    text-align:left;
}
/* intent-action */
.box .right-box .right-box-main .intent-action{
	margin-top:12px;
	margin-bottom:24px;
}
.box .right-box .right-box-main .intent-action input{
    height: 40px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 6px;
}
.box .right-box .right-box-main .intent-action input:hover,.box .right-box .right-box-main .intent-action input:focus{
	border:1px solid #dcdddd;
}
/* intent-action */
/* intent-priority */
.box .right-box .right-box-main .intent-priority>div:FIRST-CHILD{
	margin-bottom:6px;
	margin-top:6px;
}
.right-box .save-and-apply{
	width: 100px;
	float: right;
	margin-right: 30px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	position:relative;
	height: 32px;
	background-color: #3794FF;
}
.right-box .save-and-apply .dim-div{
	position:absolute;
	z-index:4;
	height: 32px;
	width: 100px;
	background-color: rgba(0,0,0,0.1);
	cursor: default;
	display:none;
}

.right-box .save-and-apply .saveing{
	position:absolute;
	z-index: 2;
	width:0;
	background-color:#00aa88;
	transition:width 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
	height: 32px;
}
.entity-synonymous-tag .title{
	background-color: #F6F6F6;
    margin-left: -14px;
    padding-left: 14px;
    color:#231815;
}
.entity-synonymous-tag .title div:FIRST-CHILD{
	width: 177px;
    font-size: 18px;
    padding: 6px 0 !important;
}
.entity-synonymous-tag .title div:LAST-CHILD{
	width: 177px;
    font-size: 18px;
    padding: 6px 0 !important;
}
input,button,select,textarea{outline:none}
span,div,p,section{font-weight:300;}
.english-number-break{word-break: break-all;word-wrap: break-word;}
ul li{
	list-style:none;
	padding:0;
}
.fixedAlert{
	position: fixed;
	margin-top: 10px;
	z-index: 9999999999999999999;
	width: 54%;
	bottom: 0px;
	right: 20px;
}
/*box start*/
.box{
	height:100%;
	position:absolute;
	width:100%;
	padding-left: 0;
}
.left-box>hr,.center-box>hr,.user-log-box>.center-list-box>hr,.row-height>hr{
	position: relative;
	top: 91px;
	display: block;
	margin-top: -21px;
	border: 0;
	border-top: 1px solid #DCDDDD;
	width:100%;
	z-index: 0;
	padding: 0;
}
.box .row-height{
	height:100%;
}
/*left-box start*/
.box .left-box{
	height:100%;
	padding-right:0;
	padding-bottom: 130px;
	border-right: 1px solid #dcdddd;
}
.box .center-box{
	padding: 0;
}
.box .center-box .row{
	margin: 0;
}
.box .left-box .assistant-box{
	padding:10px;
	font-size:22px;
	padding-left:20px;
	border-bottom:1px solid #dcdddd;
}
.box .left-box .assistant-box ul{
	position:absolute;
	left:70px;
	display:none;
	z-index:999;
	border:1px solid #dcdddd;
	max-height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.box .left-box .assistant-box:hover ul{
	display:block;
}
.box .left-box .assistant-box ul li{
	background-color:#fff;
	width:209px;
	font-size:14px;
	border:0;
	padding: 6px 14px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box .left-box .assistant-box ul li:hover{
	color:#333;
}
.box .left-box .assistant-box img{
	width:50px;
	border-radius: 50%;
	margin-right: 6px;
	cursor:pointer;
	float: left;
}
.box .left-box .assistant-box span{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	float: left;
	width: 60%;
	margin-top: 12px;
}
.box .left-box .list-group-item{
	border-radius:0;
	border-right:0;
	border-left:0;
	padding-left: 40px;
	border: 0;
}
.box .left-box .list-group-item .icon{
	height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    left: 17px;
    top: 13px;
    margin-top:1px;
}
.box .left-box .list-group-item .message{
    background: url(../img/sprite-left.png) -128px -0px no-repeat;
}
.box .left-box .list-group-item.active .message{
    background: url(../img/sprite-left.png) -144px -0px no-repeat;
}
.box .left-box .list-group-item .statistics{
    background: url(../img/sprite-left.png) -224px -0px no-repeat;
}
.box .left-box .list-group-item.active .statistics{
	background: url(../img/sprite-left.png) -240px -0px no-repeat;
}
.box .left-box .list-group-item .scenes{
    background: url(../img/sprite-left.png) -192px -0px no-repeat;
}
.box .left-box .list-group-item.active .scenes{
	background: url(../img/sprite-left.png) -208px -0px no-repeat !important;
}
.box .left-box .list-group-item .dictionary{
    background: url(../img/sprite-left.png) -48px -0px no-repeat;
}
.box .left-box .list-group-item.active .dictionary{
	background: url(../img/sprite-left.png) -160px -0px no-repeat;
}
.box .left-box .list-group-item .knowledge{
    background: url(../img/sprite-left.png) -96px -0px no-repeat;
}
.box .left-box .list-group-item.active .knowledge{
	background: url(../img/sprite-left.png) -112px -0px no-repeat;
}
.box .left-box .list-group-item .robot-para{
    background: url(../img/sprite-left.png) -32px -0px no-repeat;
}
.box .left-box .list-group-item.active .robot-para{
	background: url(../img/sprite-left.png) -176px -0px no-repeat;
}
.box .left-box .list-group-item .weixin{
    background: url(../img/sprite-left.png) -256px -0px no-repeat;
}
.box .left-box .list-group-item.active .weixin{
	background: url(../img/sprite-left.png) -272px -0px no-repeat;
}
.box .left-box .list-group-item .nav-hardware{
    background: url(../img/sprite-left.png) -64px -0px no-repeat;
}
.box .left-box .list-group-item.active .nav-hardware{
	background: url(../img/sprite-left.png) -80px -0px no-repeat;
}
.box .left-box .list-group-item .resource{
    background: url(../img/sprite-left.png) -16px -0px no-repeat;
}
.box .left-box .list-group-item.active .resource{
	background: url(../img/sprite-left.png) -0px -0px no-repeat;
}
.box .left-box .list-group-item{
	border-radius:0;
	border-right:0;
	border-left:0;
	padding-left: 6px;
	border: 0;
}
.box .left-box .list-group-item{
	margin-bottom:0px !important;
}
.box .left-box .list-group-item a{
	color: #3e3a39;
	text-decoration:none;
	font-size: 16px;
}

.box .left-box .list-group-item:hover a{
	color: #333;
}
.box .left-box .list-group-item.active a{
	color:#fff;
}
.box .left-box .list-group-item:hover,.box .left-box .list-group-item.active{
	cursor:pointer;
	color: #333;
}
.box .left-box .list-group-item.scenario-box{
	position:relative;
}
.dialogScenes ul li span{
		font-size:14px;
}
.scenario-box{
	position:relative;
}
.scenario-box .select-icon{
	position: absolute;
	left: 14px;
	top: 16px;
	z-index: 1;
	color: #3e3a39;
}
.box .left-box .list-group-item.scenario-box:hover{
	background-color:#f5f5f5 !important;
}
.box .left-box .list-group-item.scenario-box.active{
	background-color:#3794FF !important;
	color:#fff !important;
}
.box .left-box .list-group-item.scenario-box #addScenario{
	height: 22px;
	width: 22px;
	top: 12px;
	right:13px;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	background: url(../img/sprite.png) -543px -221px no-repeat;
}
.box .left-box .list-group-item.scenario-box.active #addScenario{
	background: url(../img/add-white-two.png) -0px -0px no-repeat;
}
.box .left-box .list-group-item.scenario-box:hover i,.box .left-box .list-group-item.scenario-box.active i{
	
}
.box .left-box .dialogScenes ul{
	margin-bottom:0;
}
.box .left-box .dialogScenes ul li{
	color: #898989;
    font-size: 18px;
    padding-right: 10px;
    position: relative;
    word-break: break-all;
    border: 0;
    padding-left: 52px;
    height: 34px;
    line-height: 30px;
    padding-top: 0;
}
.box .left-box .dialogScenes ul li span{
	display: inline-block;
	max-width: -moz-calc(100% - 18px);
	max-width: -webkit-calc(100% - 18px);
	max-width: calc(100% - 18px); 
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box .left-box .dialogScenes ul li:hover i{
	width: 18px;
    height: 18px;
    top: 15px;
    right:10px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: pointer;
    background-image: url(../img/delete-white.svg);
}
.box .left-box .dialogScenes ul li:hover i:hover{
	
}
.box .left-box .dialogScenes ul li.active,.box .left-box .dialogScenes ul li:hover{
	background-color: #fff;
	color:#3399FF;
}
.box .left-box .dialogScenes ul li:last-child{
	border-bottom:0;
}
/*left-box end*/
/*center-box start*/
.box .center-box{
	height:100%;
}
.box .center-box .center-list-box{
	height:100%;
	padding: 0;
	border-right: 1px solid #dcdddd;
}
.box .center-box .center-list-title{height: 70px;line-height: 70px;position: relative;}
.box .center-box .center-list-title input{font-size: 18px;padding-bottom:6px;padding-right:0;padding-left:0;margin-left:23px;border-radius:0;border:0;box-shadow:none;width:60%;margin-top: 20px;border-bottom:1px solid #fff;}
.box .center-box .center-list-title input:hover{
	border-bottom:1px solid #dcdddd;
}
.box .center-box .center-list-title input:focus{
	border-bottom:1px solid #3794FF;
}
.box .center-box .center-list-title span{
	font-size: 20px;
	padding-bottom: 6px;
	padding-right: 0;
	padding-left: 0;
	margin-left: 23px;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	width: 76%;
	border-bottom: 0;
	display: block;
}
/* .box .center-box .center-list-title i{
	width: 124px;
    height: 18px;
	top: 9px;
	right:20px;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
	cursor:pointer;
	background-image: url(../img/create-entity.svg);
} */
.box .center-box .center-list-title i{
	height: 20px;
    width: 131px;
    overflow: hidden;
    background: url(../img/sprite.png) -236px -469px no-repeat;
    right: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
}
.box .center-box .center-list-title i:hover{
	background: url(../img/sprite.png) -105px -469px no-repeat;
}
.box .center-box .center-list-main{
	padding: 13px 0;
	height: -moz-calc(100% - 120px);
	height: -webkit-calc(100% - 120px);
	height: -ms-calc(100% - 120px);
	height: -o-calc(100% - 120px);
	height: calc(100% - 120px);
	padding: 13px 20px;
	overflow-y: auto;
}
.box .center-box .center-list-main>.input-group{
	margin-bottom:10px;
}
.box .center-box .center-list-main>.input-group input{
	border-radius: 0;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #dcdddd;
}
.box .center-box .center-list-main>.input-group input:hover,.box .center-box .center-list-main>.input-group input:focus{
	
}
.box .center-box .center-list-main>.list-group .list-group-item{
	border-radius:0;
	border-radius:0;
	cursor:pointer;
	position: relative;
	padding: 3px 15px;
	padding-top: 8px;
	overflow: hidden;
	
}

.box .center-box .center-list-main>.list-group .list-group-item .warning{
	width:4px;
	background-color: #db3434;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.box .center-box .center-list-main>.list-group .list-group-item .success{
	width:4px;
	background-color: #fff;
	top:0;
	position: absolute;
}

.box .center-box .center-list-main>.list-group .list-group-item:hover .delete{
	 background-image: url(../img/delete.svg); 
	 position:absolute;
	 background-size:cover; 
	 width:18px; 
	 height:18px; 
	 right: 12px; 
	 top: 10px; 
	 cursor:pointer; 
}
.box .center-box .center-list-main>.list-group .list-group-item:hover .delete:hover{
	 background-image: url(../img/delete-hover.svg); 
}
.box .center-box .center-list-main>.list-group .list-group-item:hover .copy{
	 background-image: url(../img/copy.svg); 
	 position:absolute;
	 background-size:cover; 
	 width:18px; 
	 height:18px; 
	 right: 36px; 
	 top: 12px; 
	 cursor:pointer; 
}
.box .center-box .center-list-main>.list-group .list-group-item:hover .copy:hover{
	background-image: url(../img/copy-hover.svg); 
}
.box .center-box .center-list-main>.list-group .list-group-item:last-child input{
	border:0;
	/*height: 42px;*/
	border-radius: 0;
	box-shadow: none;
}
.box .center-box .center-list-main>.list-group .list-group-item.active{
	color: #fff;
	background-color: #3794FF;
	border: 1px solid #3794FF;
}
/*center-box end*/
/*right-box start*/
.box .right-box{
	padding-bottom: 118px;
}
.box .right-box .right-box-title .form-group button:last-child{
	margin-left:16px;
}
.box .right-box .right-box-title .form-group{
	padding-top:20px;
}
.box .right-box .right-box-title{
   overflow: hidden;
   height: 72px;
}
.box .right-box .right-box-title div i{
	  width: 30px;
	  height: 30px;
	  /* border:1px solid red; */
	  top: 20px;
	  right: 30px;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position:absolute;
	  cursor:pointer;
	  background-image: url(../img/save.svg);
}
.box .right-box .right-box-title div i:hover{
	background-image: url(../img/save-hover.svg);
}
.box .right-box .right-box-title div span{
	  width: 30px;
	  height: 30px;
	  /* border:1px solid red; */
	  top: 20px;
	  right: 30px;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position:absolute;
	  cursor:pointer;
	  background-image: url(../img/test.svg);
}
.box .right-box .right-box-title div span:hover{
	background-image: url(../img/test-hover.svg);
}
.box .right-box .right-box-title div span{
	 background-image: url(../img/test.svg);
	 display: none;
}
.box .right-box .right-box-title .form-group input{
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	border-bottom: 1px solid #fff;
	padding-left:0;
	margin-left: 8px;
}
.box .right-box .right-box-title .form-group input:hover,.box .right-box .right-box-title .form-group input:active{
	border-bottom: 1px solid #DCDDDD;
}
.box .right-box .right-box-title .form-group input:focus{
	border-bottom: 1px solid #3794FF;
}
.box .right-box .right-box-main{
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	padding: 20px;
	/* padding-bottom: 90px; */
}
.box .right-box .right-box-main div div span:first-child{
	    font-size: 16px;
    color: #2c3545;
    /* padding: 0; */
    margin-left: 0;
    font-weight: 600;
}
.box .right-box .right-box-main>div{}

/* input-intent-tag start */
.box .right-box .right-box-main .input-intent-tag .alert{
	padding:6px;
	display:inline-block;
	border: 1px solid #dcdddd;
	color: #999;
	font-size: 15px;
	border-radius: 0;
	padding-right: 10px;
	margin: 4px;
	/* float: left; */
	font-weight: 300;
}
.box .right-box .right-box-main .input-intent-tag .alert span{
	right: -6px;
	font-size: 20px;
	font-weight: 200;
	height: 0;
	top: -1px;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag{
	overflow: hidden;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag>ul{
    padding: 8px;
    float: left;
    padding-bottom: 0;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag>div{
	float: left;
	padding: 12px 8px 8px 0;
}
.box .right-box .right-box-main .input-intent-tag .intent-tag>div input{
	border: 0;
	box-shadow: none;
	padding-left: 0;
}
/* input-intent-tag end */
/* intent-analysis */
.box .right-box .right-box-main .intent-analysis table{
	margin-top:10px;
	color:#595757;
	border:1px solid #dcdddd;
	font-size: 16px;
}
.box .right-box .right-box-main .intent-analysis table tr{
	position: relative;
}

.box .right-box .right-box-main .intent-analysis table tr td i{
	 width:18px; 
	 height:18px; 
	 cursor:pointer; 
	 display:none;
}
.box .right-box .right-box-main .intent-analysis table tr:hover td i{
	display:block; 
}
.box .right-box .right-box-main .intent-analysis table tr:hover td i:hover{
	color:#54ADF7;
}
.box .right-box .right-box-main .intent-analysis table tr td .copy{
    margin: 8px 0;
    padding-left: 0;
}
.box .right-box .right-box-main .intent-analysis table tr td .delete{
    margin: 8px -4px;
    padding-left: 0;
}


.box .right-box .right-box-main .intent-analysis table tr:hover:last-child .delete{
	display:none;
}
.box .right-box .right-box-main .intent-analysis table tr:hover:last-child .copy{
	display:none;
}
.box .right-box .right-box-main .intent-analysis table tr:last-child td i{
	display:none;
}
.box .right-box .right-box-main .intent-analysis table tr th{
	border-bottom:0;
	width: 15.5%;
	text-align: center;
}
.box .right-box .right-box-main .intent-analysis table tr td{
	padding:0;
}
.box .right-box .right-box-main .intent-analysis table tr td .checkbox{
	margin:10px auto;
}
.box .right-box .right-box-main .intent-analysis table tr td input{
	border:0;
	box-shadow:none;
	padding-left: 10px;
	text-align: center;
}
.box .right-box .right-box-main .intent-analysis table tr td span{
	color:#999;
	padding-left: 30px;
}
.box .right-box .right-box-main .intent-analysis table tr td div:not(.tooltip,.tooltip-arrow){
	color:#3794FF;
	font-size: 15px;
	cursor:pointer;
	width:100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 7px;
	padding-left: 9px;
}
.box .right-box .right-box-main .intent-analysis table tr td div.add-prompts{
	color:#3794FF;
	font-size: 15px;
	cursor:pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 7px;
	padding-left: 9px;
}
.box .right-box .right-box-main .intent-analysis table tr td div:last-child:not(.tooltip,.tooltip-inner){
	    padding-left: 32%;
	    cursor: default;
	    color: #999;
}
/* intent-action */
.box .right-box .right-box-main .intent-action{
	margin-top:12px;
	margin-bottom:24px;
}
.box .right-box .right-box-main .intent-action input{
    height: 40px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 6px;
    border-bottom: 1px solid #dcdddd;
}
.box .right-box .right-box-main .intent-action input:hover,.box .right-box .right-box-main .intent-action input:focus{
	border:1px solid #dcdddd;
}
/* intent-action */
/* intent-priority */
.box .right-box .right-box-main .intent-priority>div:FIRST-CHILD{
	margin-bottom:6px;
	margin-top:6px;
}
.right-box .save-and-apply{
	width: 100px;
	float: right;
	margin-right: 30px;
	/* padding: 6px 12px; */
	font-size: 16px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	position:relative;
	height: 32px;
	background-color: #3794FF;
}
.right-box .save-and-apply .dim-div{
	position:absolute;
	z-index:4;
	height: 32px;
	width: 100px;
	background-color: rgba(0,0,0,0.1);
	cursor: default;
	display:none;
}
.right-box .save-and-apply .save-text{
	position:absolute;
	z-index:3;
	height: 32px;
	width: 100px;
	line-height: 32px;
	color:#fff;
}
.right-box .save-and-apply .save-text:hover{
	background-color:#54ADF7;
}
.right-box .save-and-apply .to-save{
	position:absolute;
	z-index:1;
	height: 30px;
}

.right-box .save-and-apply .saveing{
	position:absolute;
	z-index: 2;
	width:0;
	background-color:#00aa88;
	transition:width 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
	height: 32px;
}
.entity-synonymous-tag .title{
	background-color: #F6F6F6;
    margin-left: -14px;
    padding-left: 14px;
    color:#231815;
}
.entity-synonymous-tag .title div:FIRST-CHILD{
	width: 177px;
    font-size: 18px;
    padding: 6px 0 !important;
}
.entity-synonymous-tag .title div:LAST-CHILD{
	width: 177px;
    font-size: 18px;
    padding: 6px 0 !important;
}

/*at start**/
.mention-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 182px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    border: 1px solid #ddd;
    background-color: #fff;
    padding-bottom:0px !important;
}
.mention-popup .writing-bg {
    border-bottom: 0;
    padding: 4px 8px;
    background: #fff;
}
.mention-popup .writing-bg input {
    width: 100%;
    outline: 0;
    border: 0;
    line-height: 13px;
    font-size: 13px;
    padding: 0;
    margin: 0;
    color: #222;
    word-wrap: break-word;
}
.user-box {
    width: auto;
    margin: 0;
    background: #fff;
    box-shadow: none;
    padding-bottom: 0px !important;
}
.user-box ul{
	padding: 0;
    max-height: 324px;
    overflow: hidden;
    overflow-y: auto;
}
.user-box ul li{
	padding: 6px 12px !important;
    font-size: 14px !important;
    cursor:pointer;
}
.user-box ul li.on{
	background-color: #eee;
}
.writing-bg{
	border-bottom: 1px solid #eee !important;
    padding-bottom: 3px !important;
}
.writing-bg #mention-input{
	padding: 6px 2px;
    border: 0;
    font-size: 12px;
}
/*at end*/
.popover{
	word-break:break-all; 
	word-wrap:break-word; 
}

/*新版助理属性 start*/
#assistantParaModal .assistant-row{
	padding-left:0;
	font-size:16px;
}
#assistantParaModal .assistant-row li{
	
}
#assistantParaModal .assistant-row li.title{
	padding-top:16px;
}
#assistantParaModal .assistant-row li.content{
	
}
#assistantParaModal .assistant-row li.content .tag-box{
	padding: 8px;
    float: left;
    padding-bottom: 0;
    margin-left: -11px;
}
#assistantParaModal .assistant-row li.content .tag-box li{
	padding: 6px;
    display: inline-block;
    border: 1px solid #dcdddd;
    color: #999;
    font-size: 15px;
    border-radius: 0;
    margin: 4px;
    font-weight: 300;
    padding-right: 22px;
    border: 1px solid #3794FF;
}
#assistantParaModal .assistant-row li.content .tag-box li span{
	right: -18px;
    font-size: 20px;
    font-weight: 200;
    height: 0;
    top: -1px;
    opacity: 0;
}
#assistantParaModal .assistant-row li.content .tag-box li p{
	
}
#assistantParaModal .assistant-row li.action{
	
}
/*新版助理属性 end*/
#help-box{
	position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    border: 0;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display:none;
}
#help-box #help-iframe{
	width: 402px; height: 530px; border: 0; overflow: hidden
}
#help-box .help-title{
    background-color: #F7F7F7;
    color: #21436D;
    height: 40px;
    position: absolute;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    cursor:move;
}
#help-box .help-reduce{
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    background: url(https://dn-vbuluo-static.qbox.me/sprite1.png) -36px -189px no-repeat;
    margin-top: 12px;
    margin-left: 18px;
}
#help-box .help-reduce:hover{
	background: url(https://dn-vbuluo-static.qbox.me/sprite1.png) -20px -189px no-repeat;
}
#help-box .custom-title{
	margin-left: -31px;
}
#help-icon{
	height: 36px;
	width: 36px;
    background-repeat: no-repeat;
    cursor: pointer;
    background: url(https://dn-vbuluo-static.qbox.me/sprite1.png) -0px -225px no-repeat;
    position:fixed;
    right:40px;
    bottom:20px;
}
.common-active-button{
	padding: 8px 20px;
    border-radius: 4px;
    box-shadow: none;
    border: 0px solid #ddd;
    background-color: #3794FF;
    color: #fff;
    cursor:pointer;
}
.common-active-button:hover{
	background-color:#459AE9;
}
.common-default-button{
	padding: 8px 20px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ddd;
    background-color: #ced7db;
    color: #fff;
    cursor:default;
}
.common-default-button:hover{
	background-color:#3794FF;
}
.common-blank-button{
	padding: 8px 20px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #333;
    cursor:pointer;
    background-color:#fff;
}
.common-blank-button:hover{
	color:#459AE9;	
	border:1px solid #459AE9;
}
.para-action-tips{
	position: fixed;
    top: 72px;
    left: 24%;
    padding: 10px 24px;
    background-color: #DCEDC8;
    color: #73BF45;
    font-size: 16px;
    z-index: 999;
    border-radius:8px;
}
.para-action-tips p{
	
}
.para-action-tips span{
	
}
.create-robot-under-arrow{
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #DCEDC8;
    position: absolute;
    top: 45px;
    left: 48%;
}
.skill-type{
	padding-top: 20px;
    font-size: 18px;
}
.d-robot-advanced-box{
	padding: 40px;
}
.d-robot-delete{
	
}
.d-robot-delete-button{
	    border: 1px solid #f44336;
    display: inline-block;
    padding: 6px 10px;
    cursor:pointer;
}
.d-robot-delete-button:hover{
	background-color:#f44336;
}
.d-robot-delete-button i{
	    color: #f44336;
    font-size: 14px;
}
.d-robot-delete-button .d-delete-text{
	    font-size: 14px;
    margin-left: 6px;
    color: #f44336;
}
.d-robot-delete-button:hover i,.d-robot-delete-button:hover .d-delete-text{
	color:#fff;
}
.d-delete-robot-desc{
	     margin-left: 20px;
    font-size: 16px;
    color: #595757;
}
.delete-confirm-tip{
	color:#3794ff;
}
.iconfont.xingxing-guide{
	color: #f9e329; font-size: 40px; margin-right: 22px; vertical-align: middle;
}
.new-user-guide{
	background-color: #3794FF; 
	color: #fff; 
	border: 1px solid #dcdddd; 
	padding: 8px 16px; 
	margin-top: 20px; 
	font-size: 16px; 
	cursor: pointer;
	margin-bottom: 4px;
}
.new-user-guide:hover,.new-user-guide:visited,.new-user-guide:active{
	background-color:#54ADF7;
	color:#fff;
}
.old-user-text{
    cursor: pointer;
    display: inline-block;
    margin-left: 100px;
    font-size: 12px;
}
.old-user-text:hover,.exit-guide-modal:hover{
	color:#54ADF7;
}
.exit-guide-modal{
	float: right; cursor: pointer; margin-top: 50px;
}
#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.action-right-arrows{
	display: inline-block;
    text-align: center!important;
    width: 40px;
    background-color: #fff;
    line-height: 38px;
    margin-left: -3px;
    border: 1px solid #dcdddd!important;
    border-left: 0!important;
    cursor: pointer;
    transform: translateY(-1px);
}
.action-right-arrows:hover{
	background-color:#eee;
}
.my-action-name-list{
	position:absolute;
	z-index:3;
	width:100%;
	height:125px;
	overflow:hidden;
	overflow-y:auto;
	margin-top:2px;
	display:none;
}
.my-action-name-list li:hover{
  background-color:#eee;
  cursor:pointer;
}
.event-choose-list{
	position:absolute;
	z-index:3;
	width:100%;
	height:310px;
	overflow:hidden;
	overflow-y:auto;
	margin-top:2px;
	display:none;
}
.event-choose-list li:hover{
  background-color:#eee;
  cursor:pointer;
}

