.my_own_skill {

}
.my_own_skill .detail .my_btn {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	background: #fff;
	border: 1px solid #D3D3D3;
	height: 32px;
	width: 184px;
	align-self: flex-end;
	text-align: center;
}
.my_own_skill .detail .my_btn:hover {
	background: #F6F6F6 !important;
}

.my_own_skill .down_arrow {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../../img/down_arrow.svg);
	height: 32px;
	vertical-align: middle;
	width: 13px;
	line-height: 32px;
	margin-top: -2px;
}
.my_own_down_div {
	text-align: center !important;
}
.down_web_label {
	font-size: 18px;
	margin-bottom: 10px;
}
.down_web_span {
	font-size: 14px;
	color: #c3c0c0;
}











