.my_own_skill {

}
.my_own_skill .detail .btn {
	border: 1px solid #ccc;
	background: transparent;
	height: 32px;
	width: 84px;
	align-self: flex-end;
	border-radius: 1px;
}
.my_own_skill .detail .btn:hover {
	background: #f1f1f1 !important;
}
.my_own_skill .removeSkill {
	font-family: PingFangSC-Regular !important;
	font-size: 14px !important;
	color: #FFFFFF !important;
	background: #B8C4D1 !important;
	border: 1px solid #B8C4D1 !important;
	height: 32px;
}
.my_own_skill .removeSkill:hover{
	background: #aab0b7 !important;
}

