.new-user-box{
	border-bottom: 1px solid #dcdddd;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
	
}
.new-user-box li{
	float:left;
	width:20%;
	line-height:44px;
	text-align:center;
	position:relative;
	font-size:16px;
}
.new-user-box li.active{
	background-color:#191e24;
	color:#fff;
}
.new-user-box .out-arrow{
	height: 45px;
    width: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    background: url(../../base/img/arrow-tab.png) -1px -124px no-repeat;
    position: absolute;
    left: 0;
}
.new-user-box .cave-arrow{
	height: 45px;
    width: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    background: url(../../base/img/arrow-tab.png) 0px -124px no-repeat;
    position: absolute;
    left: -1px;
}
.new-user-box .tips-arrow{
	height: 45px;
    width: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    background: url(../../base/img/arrow-tab.png) 0px -5px no-repeat;
    position: absolute;
    left: 0;
}
.new-user-foot{
	background-color:rgba(25,30,36,0.6);
	height:60px;
	line-height:60px;
	position:fixed;
	z-index:9999;
	width:100%;
	bottom:0;
	left:0;
	padding-left:40%;
}

.new-user-prev{
    margin-right: 10%;
    color:#000;
    cursor:pointer;
}

.new-user-prev:hover{
	background-color:#ccc;
}
.new-user-skip{
	float: right;
    margin-top: 14px;
    margin-right: 30px;
}
.new-user-main{
	background-color: rgba(25,30,36,0.6);
    height: 100%;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 44px;
    left: 0;
}

.action-tips{
	position: fixed;
    /*top: 103px;
    left: 5.3%;*/
    padding: 10px 24px;
    background-color: #DCEDC8;
    color: #73BF45;
    font-size: 16px;
    z-index: 9999;
    border-radius:8px;
}

.new-user-under-arrow{
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #DCEDC8;
    position: absolute;
    top: 45px;
    left: 48%;
}