input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #c3bebe; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
	color: #c3bebe; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
	color: #c3bebe; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
	color: #c3bebe; 
} 
.box .center-box{
	overflow: auto;
	margin-top: 0 !important;
}
.my_body {
	padding: 30px 70px;
	overflow-y: auto;
}
.title {
	margin-bottom: 30px;
	font-size: 18px;
}
.skill_settings h2 {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 10px;
	line-height: 1;
	border-left: 4px solid #3794ff;
	margin-bottom: 45px;
}
.skill_settings span {
	color: #6d9fe4;
	margin-left: 30px;
	cursor: pointer;
}
h3{
	font-size: 15px;
	padding-left: 13px;
	display: inline-block;
	width: 150px;
	margin-bottom: 30px;
}
.star {
	color: #ff2222;
	font-size: 20px;
	vertical-align: middle;
	margin-left: 2px;
}
.skill-img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 14px;
	margin-bottom: 14px;
	cursor: pointer;
	border: 1px solid #ccc;
}
.hide_input_img_upload {
	display: none !important;
}
.sub {
	color: #ccc;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: lighter;
	font-family: cursive;
}
input {
	width: 270px;
	height: 33px;
	padding-left: 15px;
	border: 1px solid #dedada;
}
input.small {
	width: 170px;
	margin-right: 25px;
}
input.wrong, textarea.wrong {
	border:  2px solid red;
}
textarea {
	resize: none;
	font-size: 14px;
	width: 700px;
	height: 150px;
	min-width: 300px;
	vertical-align: top;
	padding: 7px 10px;
	margin-bottom: 10px;
	border: 1px solid #dedada;
}
.myhelp {
	margin-left: 0;
}
.addCorect {
	color: #369ce4;
}
.addLabel {
	margin-left: 152px;
	color: #797474;
	display: block;
}
input[type='checkbox']{
	width: auto;
	vertical-align: middle;
	font-size: 16px;
}
.sbc {
	background: url('../../img/close-eye.svg');
}
.xm {
	background: url('../../img/close-eye.svg');
}
.bd {
	background: url('../../img/close-eye.svg');
}
.rk {
	background: url('../../img/close-eye.svg');
}
.operatorImg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: inline-block;
	width: 100px;
	height: 20px;
	vertical-align: middle;
}
.name {
	font-size: 14px;
	vertical-align: text-top;
	margin-right: 30px;
}
.name:hover{
	text-decoration: underline;
	color: #168fde;
	cursor: pointer;
}
.skill_publish {
	width: 135px;
	border: none;
	height: 36px;
	color: #fff;
	margin-left: 153px;
	background: #2b9cf7;
	margin-bottom: 50px;
}
.skill_publish:hover {
	background: #5daff1;
	color: #f7f7f7;
}
.mySel {
	display: inline-block;
	width: 170px;
}
.mySel button {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	text-align: left;
	border-radius: 0;
	color: #4f5463;
	font-size: 13px;
	height: 33px;
	font-weight: inherit;
}
.mySel .myIcon {
	float: right;
	/* margin-top: 5px; */
	color: #807373;
}
.mySel ul{
	min-width: 170px;
}
#clipImg {

}
hr{
	margin-left: 149px;
	margin-right: 113px;
}
@media screen and (max-width: 1529px) {
	div .small {
		margin-bottom: 25px;
	}
	div .small:nth-child(6) {
		margin-left: 153px;
	}
}
@media screen and (max-width: 1333px) {
	div .small:nth-child(6) {
		margin-left: 0;
	}
	div .small:nth-child(5) {
		margin-left: 153px;
	}
}
@media screen and (max-width: 1250px) {
	textarea {
		width: 500px;
	}
}

