.my_app_box-ref {
	margin:  0 !important;
}

.my_speach-res .nav-tabs{
	margin-left: 30px !important;
}

.s-skill-box-nav{
	height:100%;
	overflow:hidden;
	overflow-y:auto;
    padding-bottom: 30px;
}
/*修复文本过长*/
.recommend-sort-list li{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    cursor: pointer;
}
/*end*/
.s-skill-box{
	
}
.s-skill-item{
	background-color: #FAFBFE;
    padding: 12px;
    position: relative;
    margin-top: 16px;
    border: 1px solid #ddd;
    width: 98%;
    cursor:pointer;
}
.s-skill-item:hover{
	border:1px solid #3794FF;
}
.s-skill-item-media{
	
}
.s-skill-item-log{
	
}
.s-skill-item-log .media-object{
	width:48px;
}
.s-skill-item-content-box {
    padding-left: 12px;
}
.s-skill-item-title{
	    font-size: 18px;
    color: #5C5C5C;
}
.s-skill-item-content{
	font-size: 14px;
    color: #ABABAB;
    width: 60%;
}
#skill-store .s-skill-item-content{
	width:83%;
}
/*start   按钮和配置*/
.s-skill-intro{
	position: absolute;
    top: 41%;
    right: 120px;
    font-size: 18px;
    color: #ABABAB;
}
.s-skill-checked,.s-skill-unCheck{
	height: 24px;
    width: 24px;
    top: 35%;
    right: 52px;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;	
}
.s-skill-checked{
    background: url(../img/confim_blue.svg) -0px -0px no-repeat;
}
.s-skill-unCheck{
	background: url(../img/unCheck.svg) -0px -0px no-repeat;
	background-size: cover;
}
.skillSettings{
    position: absolute;
    top: 50%;
    font-size: 14px;
    font-family: cursive;
    display: inline-block;
    width: 24px;
    right: 88px;
    height: 24px;
    text-align: center;
    transform: translateY(-50%);
    background: url(../img/settings.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*.specialSettings{
    right: 44px;
}*/
.skillSettings:hover{
    color: blue;
    text-decoration: underline;
}
#musicNum{
    width: 200px;
}
/*end*/

/*配置模块框 start*/
#mySettingsModal.modal .modal-body{
    padding: 0 10px;
}
.rightDistance{
    margin-right: 20px;
}

/*end*/

#skill-store .s-skill-checked,#skill-store .s-skill-unCheck{
	right: 5%;
}
#skill-store .s-skill-item{
	width: 46%;
	margin-right: 20px;
}
#myCarousel{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 98%;
}
#myCarousel img{
	width:100%;
}
[data-act=nav-tabs] li{
	cursor:pointer;
}
.speach-response {
	position: relative;
}
.entry-sort{
	position: absolute;
	right: 20px;
	top: 0px;
	cursor: pointer;
}

.entry-sort span{
	color:#CDCDCD;
}

.entry-sort:hover span{
	color:#3794ff;
}

.sort-icon{
	display:inline-block;
	width:25px;
	height:25px;
	background:url(../img/skill-sort.svg) left top no-repeat;
	background-size:cover;
	position:relative;
	top:8px;
	left:-5px;
}
.icon-sort1{
	color:color:#CDCDCD;
	font-size:25px;
	position:relative;
	top:4px;
}
.skill-detail-box{
	padding:20px;
}
.skill-detail-box .s-skill-item-media{
	
}
.skill-detail-box .s-skill-item-log{
}
.skill-detail-box .s-skill-item-log img{
	width:100px;
}
.skill-detail-box .s-skill-item-log button{
	margin-top: 10px;
    margin-left: 1px;
    padding: 6px 33px;
    border: 1px solid #3794FF;
    background-color: #fff;
    color: #3794FF;
    font-size: 12px;
}
.skill-detail-box .s-skill-item-log button:hover{
	background-color:#3794FF;
	color:#fff;
}
.skill-detail-box .s-skill-item-content-box{
    padding-left: 24px;
}
.skill-detail-box .s-skill-item-title{
}
.skill-detail-box .s-skill-item-content{
}
.skill-detail-box .skill-detail-text{
	margin-top: 20px;
}
.skill-detail-box .skill-detail-line{
	    margin: 10px 0 15px 0;
    color: #000;
    border: 0.5px solid #ddd;
	
}
.skill-detail-box .skill-detail-title{
	       font-size: 16px;
    margin-bottom: 6px;
    margin-top: 30px;
    color: #2c3545;
    font-weight:600;
}
.skill-detail-box .skill-detail-title small{
	margin-left: 20px;
    color: #aaa;
}
.skill-detail-box .skill-photo-box{
	margin: 12px 0;
	margin-top:-12px;
}
.skill-detail-box .skill-photo-box li{
	width: 20%;
    margin-right: 4%;
    margin-top:16px;
}
.skill-detail-box .skill-photo-box li img{
	width:100%;
}
.skill-detail-box .skill-detail-example{
	font-size:14px;
	color:#555;
	width:70%;
}
.carousel-inner .item,.carousel-inner .item.active{
	cursor:pointer;
}

.my_store .icon-zuoshuangyinhao, .my_store .icon-youshuangyinhao {
	font-size: 10px;
	vertical-align: super;
	color: #6f6b6b !important;
}

/** 技能排序 **/
.skill-sort{
	width:750px;
	z-index:99999;
}
.select-sort,
.recommend-sort{
	float:left;
}
.select-sort{
	width:500px;
}
.recommend-sort{
	width:250px;
	background-color:#FAFBFE;
}
.select-sort-title h3,
.recommend-sort-title h3{
	height:35px;
	line-height:35px;
	font-size:20px;
	color:#FFFFFF;
}
.select-sort-title h3{
	background-color:#26303B;
	padding-left:20px;
}
.recommend-sort-title h3{
	text-align:center;
	background-color:#616161;
}
.select-sort-list,
.recommend-sort-list{
	padding:20px 0;
	max-height:500px;
	overflow:hidden;
	overflow-y:scroll;
}
.select-sort-list li{
	height:25px;
	margin-bottom:10px;
}
.select-sort-list .sort-id{
	display:inline-block;
	width:50px;
	text-align:center;
	font-size:16px;
	color:#3794FF;
}
.select-sort-list .skill-name{
	display:inline-block;
	height:100%;
	line-height:25px;
	width:295px;
	padding-left:10px;
	border:1px solid #DDDDDD;
	color:#4C4C4C;
	font-size:14px;
	background-color:#FAFBFE;
	cursor:pointer;
}
.recommend-sort-list li{
	padding-left:65px;
	font-size:14px;
	height:30px;
	line-height:30px;
	color:#4C4C4C;
}

.select-sort-option,
.recommend-sort-option{
	float:left;
	height:60px;
	padding:15px 45px 0 20px;
}

.select-sort-option{
	width:500px;
	background-color:#26303B;
}

.recommend-sort-option{
	width:250px;
	background-color:#616161;
}

#skillSortModal .btn{
	border-radius:2px;
	background-color:#3794ff;
	color:#FFFFFF;
	border-color:#3794ff;
	padding:6px 20px;
}

#skillSortModal .btn:hover{
	opacity:0.8;
	border-color:#3794ff;
}

#skillSortModal .rating-cancel{
	background-color:#efefef;
	color:#000;
}

#skillSortModal .rating-cancel:hover{
	color:#000!important;
}

#skillSortModal.modal.in .modal-dialog{
	margin:44px auto;
}

#skillSortModal.modal .modal-content{
	width:752px;
}
#skillSortModal.modal .modal-body{
	padding:0;
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 0px) {
	#skill-store .s-skill-item{
		width: 96%;
	}
}

@media (min-width: 768px){
	#skillSortModal .modal-dialog{
		margin:44px auto;
	}
}


@media (min-width: 846px) {
 	#skill-store .s-skill-item{
		width: 46%;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
 	#skill-store .s-skill-item{
		width: 47%;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1300px) {
	#skill-store .s-skill-item{
		width: 47%;
	}
}
@media (min-width: 1600px) {
	#skill-store .s-skill-item{
		width: 48%;
	}
}
.create-skill-store-box{
	width:100%;
	position:relative;
	margin-top:20px;
}
.create-skill-store-box .left{
	width: 100%;
    padding-right: 340px;
    height: 100%;
}
.create-skill-store-box .right{
	width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #dcdddd;
    margin-right: 20px;
    font-size: 14px;
    line-height: 24px;
}
.skill-create-detail{
	border:1px solid #dcdddd;
}
.skill-create-title{background-color:#EFF2F3;padding:6px 12px;font-size:18px;padding-left:30px;}
.skill-create-detail-para{
	padding-top:20px;
	background-color: #FCFEFF;
}
.skill-create-detail-para .form-control{
	border-radius:0;
}
.skill-create-submit{
	background-color: #3794FF; border-radius: 0; border: 1px solid #3794FF; font-size: 16px; margin-top: 16px; 
}
.skill-create-submit:hover，.skill-create-submit:focus{
	background-color: #54ADF7;
	border: 1px solid #54ADF7;
	outline:none;	
}
.skill-create-required{
	color:red;
}
.skill-create-apply-success{
	display:none;
}
.skill-create-apply-success h3{
	text-align:center;font-size:20px;margin-top: 40px;margin-bottom: 20px;
}
.skill-create-apply-success h4{
	text-align:center;font-size:16px;margin-bottom: 60px;
}

/*----------------------------------- skill-store -------------------------------------*/

.my_store {
	background: #f7f8f8;
	height: 100%;
	overflow-y: auto;
}

.my_store .my_ul {
	display: flex;
	flex-wrap: wrap;
}

.my_store hr {
	margin:  0 -30px;
}

.my_store .card {
	display: inline-block;
	width: 347px;
	margin:  0 20px 20px 0 !important;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 30px;
}

.my_store .card:hover {
	box-shadow: 1px 1px 1px 1px #ccc;
}
.my_store .desc{
	text-align: center;
	font-size: 16px;
	margin: 20px;
	font-weight: 400;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.my_store .desc i,.my_store .desc span{
	color:#333;
	font-weight:400;
}
.my_store .top {
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	cursor:pointer;
}
.my_store .top img {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	border: 1px solid #ccc;
}
.my_store .top .detail {
	display: flex;
	flex-direction: column;
}

.my_store .top .detail h2 {
	font-weight: 500;
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #4A4A4A;
	align-self: flex-end;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:200px;
}
.my_store .top .detail .span {
	font-family: STHeitiSC-Light;
	font-size: 14px;
	color: #9B9B9B;
	text-align: right;
	margin-bottom: 12px;
}

.add_kill_button{
	border: 1px solid #3794FF;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	background: #fff;
	color: #3794FF;
	padding: 2.5px 0;
	width: 70px;
	align-self: flex-end;
}
.add_kill_button:hover{
	background: #3794FF;
	color: #fff;
}

.my_store .card {
	display: inline-block;
	width: 350px;
	margin:  20px;
	background: #fff;
	border: 1px solid #eee;
	position: relative;
	overflow: hidden;
}

.my_store .card.succ .status {
	background:  #5cc124;
}

.my_store h1 {
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #4A4A4A;
	letter-spacing: 0;
	padding: 0;
	padding-bottom: 20px;
	position: relative;
}

.my_store .my_down {
	position: absolute;
	right: 20px;
	top: 13px;
}

.my_store .my_down button {
	background: transparent;
}

.my_ul_down {
	min-width: 0;
	width: 100px;
	left: -20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.remove-skill-button{
	font-family: PingFangSC-Regular !important;
	font-size: 14px !important;
	color: #FFFFFF !important;
	background: #B8C4D1 !important;
	border: 1px solid #B8C4D1 !important;
	height: 27px;
	align-self: flex-end;
}
.remove-skill-button:hover{
	background: #aab0b7 !important;
}








