.skill-container{
	height:100%;
	background-color:#fff;
}
.skill-container .skill-content{
	position:relative;height:100%;padding-left:300px;width:100%;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
.skill-container .skill-content-left{
	position:absolute;left:0;top:0;
	width:300px;height:100%;
	overflow: hidden;
    overflow-y: auto;
    border:1px solid #dcdddd;
    border-right:0;
}
.skill-container .skill-content-right{
	width:100%;height:100%;
	border:1px solid #dcdddd;
}
.skill-container .skill-content-intro{
	padding:20px;
}
.skill-container .skill-content-intro .content-intro-title{
	font-size:16px;
}
.skill-container .skill-content-intro .content-intro{
	font-size:14px;
	margin-top:8px;
	margin-bottom:30px;
	color:#A4A9AF;
}
.skill-container .faq-test-example{
	
}
.skill-container .faq-test-example li{
	font-size: 14px;
    color: #6885A6;
    background: #efefef;
    padding: 8px;
    margin-top: 10px;
    border-radius: 6px;
    text-align: center;
    cursor:pointer;
}
.skill-container .faq-test-example li:hover{
	background-color:#f3f1f1;
}