<!DOCTYPE html>
<html ng-app="appManagerApp" ng-controller="appManagerAppCtrl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css?20161012">
	<link rel="stylesheet" type="text/css" href="css/app_manager.css?20161014">
	<link rel="stylesheet" type="text/css" href="console/css/loading.css">
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_qlr8kbgvlwyiudi.css">
	<title>机器人管理</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f7ec6bda1ae48b34de486984c876bcd7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<style>
	body {
		/*overflow: hidden;*/
	}
	.nav>li>a{
	    padding: 2px 15px;
	    border: 1px solid rgba(0,0,0,0);
	}
	.nav > li > a:hover, .nav > li > a:focus{
		background-color:#191E24;
	}
	.nav-box-ul li a {
	    font-size: 12px !important;
	    cursor: pointer;
	    margin-top: 2px;
	    padding-top: 2px;
	}
	.nav-box {
        background-color: #191E24;
	    padding-right: 30px;
	    cursor: default;
	    padding: 4px 25px 6px;
	}
	.tips-text {
	    width: 100%;
	    height: 100%;
	    text-align: center;
	    color: #D5DBE0;
	    font-size: 30px;
	    margin-left: -17px;
	}
	.tips-text .loading {
	    padding-top: 28%;
	    padding-left: 46%;
	}
	.robot-box {
		width: 1200px;
	}
	.maxThree {
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-align: justify;
	}
	.media-body p label {
		border-radius: 4px;
	    background: #18E514 100%;
	    color: #fff;
	    padding: 2px 4px;
	    margin-right: 10px;
	    font-size: 12px;
	}
	.media-body .succ label  {
		background: #2c82e4;
	}
	.media-body .deny label {
		background: #abacaf;
	}
	.skill-status {
		color: #fff;
		background: #ccc;
		position: absolute;
		height: 40px;
		width: 200px;
		top: -8px;
		text-align: center;
		font-size: 12px;
		left: -82px;
		line-height: 60px;
		transform: rotateZ(-35deg);
	}
	.skill-status-ok {
		color: #fff;
		background: #18E514;
		position: absolute;
		height: 40px;
		width: 200px;
		top: -8px;
		text-align: center;
		font-size: 12px;
		left: -82px;
		line-height: 60px;
		transform: rotateZ(-35deg);
	}
	.my_para{
		margin-top: -5px;
		margin-bottom: 5px;
	}
	.my_para a {
		/* text-decoration: underline; */
		font-size: 12px;
	}
</style>
<body>
<input type="text" id="myappkey" style="position:fixed;top:-100000px;" />
<nav class="clearfix nav-box" style="padding-bottom:4px;">
	 <div class="pull-left" data-act="skip-to-index">
	 	<img src="img/example-icon/ruyiai-icon.svg" class="ruyiai-icon">
	 </div>
	 <div class="pull-left ruyiai-beta" data-act="skip-to-index">
	 	&nbsp;&nbsp;测试版
	 </div>
	<ul class="nav nav-pills nav-box-ul">
		  <li role="presentation"><a href="index.html" style="margin-top:3px;">首 页<div></div></a></li>
		  <li role="presentation" id="help"><a href="http://docs.ruyi.ai/" target="_blank" style="margin-top:3px;">开发者文档<div></div></a></li>
		  <li role="presentation" id="nav-mylogin"><a href="#" class="nav-btn-login" data-toggle="modal" data-target="#login">登录</a></li>
		  <!-- <li role="presentation" id="nav-register"><a href="#" class="nav-btn-login" data-toggle="modal" data-target="#qr-code">注册</a></li> -->
		  <li role="presentation" id="nav-user-info">
			<ul class="nav navbar-nav navbar-right">
	            <li class="dropdown" id="fat-menu">
	              <a aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#" id="drop3">
	                <span data-act="myemail"></span><span class="caret"></span>
	              </a>
	              <ul aria-labelledby="drop3" class="dropdown-menu" style="border-radius:0;font-size:18px;padding:0;margin-top:8px; border: none;">
	                <!-- <li><a data-toggle="modal" data-target="#appkey" href="#" id="appkey-manager">机器人信息列表</a></li> -->
	                <li><a href="#" data-toggle="modal" data-target="#change-password">修改密码</a></li>
	                <li><a href="#" id="mylogout">退出登录</a></li>
	              </ul>
	            </li>
	          </ul>
		  </li>
	</ul>
</nav>
<div class="tips-text" data-act="tips-text" ng-hide="appList">
	<div class="loading" style="padding-top:24%;">
		<div class="spinner loading-icon">
		    <div class="spinner-container container1">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container2">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		    <div class="spinner-container container3">
		        <div class="circle1"></div>
		        <div class="circle2"></div>
		        <div class="circle3"></div>
		        <div class="circle4"></div>
		    </div>
		</div>
	</div>
</div>
<div class="robot-box">
	<!-- <table class="table table-bordered robot-box-item" ng-repeat="appObject in appList">
			<caption ng-if="$index == 0" style="margin-bottom: 16px;font-size: 16px;">机器人列表</caption>
			<tr>
				<td class="a-head-desc-box" style="overflow:hidden;position: relative;max-width: 530px;min-width:530px;word-wrap:break-word;word-break:break-all">
					<div class="media" style="margin-left: 30px;">
						<a class="pull-left" href="javascript:;" style="cursor:default;">
							<img class="media-object a-header" ng-if="appObject.appModel.headUrl && appObject.appModel.headUrl != 'img/default-robot.svg'" ng-src="{{appObject.appModel.headUrl}}" alt="机器人头像">
							<img class="media-object a-header" ng-if="!appObject.appModel.headUrl || appObject.appModel.headUrl == 'img/default-robot.svg'" src="https://dn-vbuluo-static.qbox.me/default-robot.svg" alt="机器人头像">
						</a>
						<div class="media-body">
							<h4 class="media-heading a-robot-name" ng-bind="appObject.appModel.appName"></h4>
							<p class="my_para">
								<label>ruyi skill store</label>
								<span href="javascript:void(0)" style="color:#a0a1a7;">审核成功</span>
								<label>思必驰</label>
								<label>小米水滴</label>
								<label>Rokid</label>
								<label>百度度秘</label>
							</p>
							<p class='maxThree'>{{appObject.appModel.appDesc}}</p>
						</div>
					</div>
					<div class='skill-status'>
						审核成功
					</div>
				</td>
				<td style="min-width:400px; max-width: 400px;">
					<section class="a-message-count-box pull-left" style="padding-right:10px;">
					   <div class="a-message-title">AppKey</div>
					   <div class="a-appkey-value" style="width:100%;word-wrap: break-all;"><span>{{appObject.appModel.appKey}}</span><span class="a-robot-small-box" data-act="copy-btn" style="margin-left:6px;" ng-click="copyAppKeyFunc(appObject.appModel.appKey)">复 制</span></div>
					</section>
				</td>
				<td style="min-width:180px; max-width: 180px;">
					<section class="a-message-count-box pull-left" style="padding-right:10px;">
					   <div class="a-robot-small-margin"><span class="a-robot-small-box a-manager-btn" ng-click="goConsoleManagerFunc(appObject.appModel.id,appObject.appModel.appName,appObject.appModel.appKey)">管 理</span></div>
					</section>
					<section class="a-message-count-box pull-left">
					   <div class="a-robot-small-margin"><span class="a-robot-small-box" style="font-size: 14px;padding: 6px 12px;" ng-click="exportHtml5LinkFunc(appObject.appModel.appName,appObject.appModel.id)">推 广</span></div>
					</section>
				</td>
			</tr>
	</table> -->
	
	<table class="table table-bordered robot-box-item" ng-repeat="botObj in botList">
			<caption ng-if="$index == 0" style="margin-bottom: 16px;font-size: 16px;">机器人列表</caption>
			<tr>
				<td class="a-head-desc-box" style="overflow:hidden;position: relative;max-width: 530px;min-width:530px;word-wrap:break-word;word-break:break-all">
					<div class="media" style="margin-left: 30px;">
						<a class="pull-left" href="javascript:;" style="cursor:default;">
							<img class="media-object a-header" ng-if="botObj.agents[0].agent.logo && botObj.agents[0].agent.logo != 'img/default-robot.svg'" ng-src="{{botObj.agents[0].agent.logo}}" alt="机器人头像">
							<img class="media-object a-header" ng-if="!botObj.agents[0].agent.logo || botObj.agents[0].agent.logo == 'img/default-robot.svg'" src="https://dn-vbuluo-static.qbox.me/default-robot.svg" alt="机器人头像">
						</a>
						<div class="media-body">
							<h4 class="media-heading a-robot-name" ng-bind="botObj.agents[0].agent.name"></h4>
							<p class="my_para">
								<span ng-if="botObj.developSkillStatus == 'VERIFY'">
									<label style="background-color:#a0a1a7;">ruyi skill store</label>
									<span style="color:#a0a1a7;">待审核</span>
								</span>
								<span ng-if="botObj.developSkillStatus == 'REJECTED'">
									<label style="background-color:#a0a1a7;">ruyi skill store</label>
									<span style="color:#a0a1a7;">审核未通过</span>
								</span>
								<span ng-if="botObj.developSkillStatus == 'VALID'">
									<label style="background-color:#18E514;">ruyi skill store</label>
									<span style="color:#18E514;">审核成功</span>
								</span>
							</p>
							<p class='maxThree'>{{botObj.agents[0].agent.description}}</p>
						</div>
					</div>
					<div class='skill-status' ng-if="botObj.developSkillStatus == 'VERIFY'">
						待审核
					</div>
					<div class='skill-status' ng-if="botObj.developSkillStatus == 'REJECTED'">
						审核未通过
					</div>
					<div class='skill-status-ok' ng-if="botObj.developSkillStatus == 'VALID'">
						审核通过
					</div>
				</td>
				<td style="min-width:400px; max-width: 400px;">
					<section class="a-message-count-box pull-left" style="padding-right:10px;">
					   <div class="a-message-title">AppKey</div>
					   <div class="a-appkey-value" style="width:100%;word-wrap: break-all;"><span>{{botObj.agents[0].agent.appKey}}</span><span class="a-robot-small-box" data-act="copy-btn" style="margin-left:6px;" ng-click="copyAppKeyFunc(botObj.agents[0].agent.appKey)">复 制</span></div>
					</section>
				</td>
				<td style="min-width:180px; max-width: 180px;">
					<section class="a-message-count-box pull-left" style="padding-right:10px;">
					   <div class="a-robot-small-margin"><span class="a-robot-small-box a-manager-btn" ng-click="goConsoleManagerFunc(botObj.agents[0].agent.id,botObj.agents[0].agent.name,botObj.agents[0].agent.appKey,botObj.id,botObj.companionSkillId)">管 理</span></div>
					</section>
					<section class="a-message-count-box pull-left">
					   <div class="a-robot-small-margin"><span class="a-robot-small-box" style="font-size: 14px;padding: 6px 12px;" ng-click="exportHtml5LinkFunc(botObj.agents[0].agent.name,botObj.agents[0].agent.id)">推 广</span></div>
					</section>
				</td>
			</tr>
	</table>
</div>
<div class="create-robot-box">
	<a href="create-robot.html"><span>+</span> 创建机器人</a>
</div>
<!-- 视频和系统消息 start -->
<div class="video-notification-box clearfix container">
   <div class="row">
   	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right:40px;">
   	  	<div class="pull-right">
   	  		<h3 style="font-size: 20px; padding-left: 12px; border-left: 4px solid #000; margin-bottom: 10px;">帮助视频</h3>
	   		<img data-act="create-robot-video" style="margin-top: 18px;" data-src="https://dn-vbuluo-static.qbox.me/0-ruyi.ai%E5%B9%B3%E5%8F%B0%E4%BB%8B%E7%BB%8D-%E9%AB%98%E6%B8%85mp4.mp4" class="video-image" src="https://dn-vbuluo-static.qbox.me/create-robot-video.jpg" />
	   		<p style="padding:12px 0 8px 0;">更多视频，点击<a href="http://docs.ruyi.ai/344948" target="_blank"> 这里 </a>查看</p>
   	  	</div>
   	  </div>
   	  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left:40px;">
   		<h3 style="font-size: 20px; padding-left: 12px; border-left: 4px solid #000; margin-bottom: 24px;">系统消息</h3>
   	    <ul class="notification-ul">
   	    	<!--	<li><a href="https://docs.ruyi.ai/ban_ben_geng_xin.html" title="版本更新-ruyi-api新功能更新公告" target="_blank">版本更新-ruyi-api新功能更新公告<span class="pull-right">2016-11-18</span></a></li>
   	    	<li><a href="https://mp.weixin.qq.com/s?__biz=MzI1MzA5NjE3MA==&mid=2650205746&idx=1&sn=3838548de5fa18ea3d8b039d8894c7bf&chksm=f1dbf7b7c6ac7ea174b82ef73e9b463ec61a2918f2b4d83286955664b1b8ca069e8369421276&mpshare=1&scene=1&srcid=1118KUOf4dUmPU5ZYpUUvrNr&key=fe4410a4c5efc39ca160b5955e0a25490df2fc0fcfdae821a604ee0df19c8ef3800ea9faf76102af5a4e33f975b08a81&ascene=0&uin=MTk0NjIxMDU%3D&devicetype=iMac12%2C1+OSX+OSX+10.10.5+build(14F27)&version=11020201&pass_ticket=8GhUhnRd9iBxpUzl3iPQcEQdNSn5CKs7xK%2FgshPRreI%3D" title="创博会三日游 | 讲真， 我从未见过如此多才多艺的宝宝" target="_blank">创博会三日游 | 讲真， 我从未见过如此多才多艺的宝宝<span class="pull-right">2016-11-07</span></a></li>
   	    	<li><a href="https://mp.weixin.qq.com/s?__biz=MzA3MDA5OTgyOA==&mid=2651137062&idx=1&sn=ecaeb68c0a71e9447ff7ea9b95d953c7&chksm=8530723db247fb2bfbcec5bd30b26122ba932dd24506a129a0c3310ce8bc453ade147932daa8&mpshare=1&scene=1&srcid=1022U9m5BfBlxgS0Vggw6FfT&key=c3acc508db7203761435c8d78e54e11aedb7b676ce6b78151ca5dd390cabc6f710b8c503e30c2a3ea72dfbf905513b51&ascene=0&uin=MTk0NjIxMDU%3D&devicetype=iMac12%2C1+OSX+OSX+10.10.5+build(14F27)&version=11020201&pass_ticket=HdhLIOf96a3M%2Fma6ujdyCyyPiaO%2FpJbUnGa2Ut%2FXbxg%3D" title="比赛报名-PKU Brain bot大赛，等你来战！" target="_blank">比赛报名-PKU Brain bot大赛，等你来战！<span class="pull-right">2016-10-22</span></a></li>
   	    	<li><a href="https://docs.ruyi.ai/36_you_sheng_zi_yuan.html" title="有声技能插件更新啦，更多点播方式全面上线" target="_blank">有声技能插件更新啦，更多点播方式全面上线<span class="pull-right">2016-10-01</span></a></li>
   	    	<li><a href="https://docs.ruyi.ai/31_cha_xun_tian_qi.html" title="天气技能插件有升级啦，快来围观。" target="_blank">天气技能插件有升级啦，快来围观。<span class="pull-right">2016-10-01</span></a></li>  -->
   	    	<li><a href="http://www.leiphone.com/news/201703/53mZ9RuRFpXnPlmg.html?type=preview" title="从CES到AWE，未来智能家居的语音控制/交互趋势" target="_blank">从CES到AWE，未来智能家居的语音控制/交互趋势<span class="pull-right">2017-3-17</span></a></li>
   	    	<li><a href="http://blog.ruyi.ai/2017/03/ruyi-ai干货ceo教你如何自己动手做个机器人/" title="海知CEO教你如何自己动手做个机器人" target="_blank">海知CEO教你如何自己动手做个机器人<span class="pull-right">2017-3-17</span></a></li>
   	    	<li><a href="http://blog.ruyi.ai/2017/03/从零到一，设计一个chatbot/" title="从零到一，设计一个Chatbot" target="_blank">从零到一，设计一个Chatbot<span class="pull-right">2017-3-16</span></a></li>
   	    	<li><a href="https://www.jqr.com/news/000271" title="黑马or黑骆驼？海知智能ruyi.ai个性化机器人大脑平台低调亮相AWE2017" target="_blank"><span class="long-content">黑马or黑骆驼？海知智能ruyi.ai个性化机器人大脑平台低调亮相AWE2017</span><span class="pull-right">2017-3-13</span></a></li>
   	    	<li><a href="http://www.toutiao.com/i6394737059923231233/?tt_from=weixin&utm_campaign=client_share&from=singlemessage&app=news_article&utm_source=weixin&isappinstalled=0&iid=8405296902&utm_medium=toutiao_android&wxshar" title="“两会”特写：首位机器人“见习记者”大脑张江造" target="_blank">"两会"特写：首位机器人"见习记者"大脑张江造<span class="pull-right">2017-3-07</span></a></li>
   	    </ul>
   	  </div>
   </div>
</div>
<!-- 视频和系统消息 end -->
<!-- 导出html5链接 Modal start-->
<div class="modal fade" id="export-html5-link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					Html5推广链接
				</h4>
			</div>
			<div class="modal-body" style="padding:0;">
				<div class="modal-body default-answer-box" style="padding:40px 40px 20px;">
				  复制以下文本框中的链接，在浏览器打开，用户无需关注公众号即可与你的聊天机器人直接对话体验，建议在推广时使用。
			      </div>
			      <div class="form-group footer-box" style="padding:0 40px 42px;">
			      	 <input type="text" class="form-control link" style="border-bottom-color:#dcdddd;" ng-model="htmlLink" id="html5-link"/>
			      	 <div class="pull-right btn btn-primary" style="margin-top:16px;" data-act="copy-link">复制链接</div>
			      </div>
				</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 导出html5链接 Modal end-->
<!-- evaluate Modal start-->
<div class="video-box">
	<span>&nbsp;</span>
	<iframe style="margin-top:20px;" data-act="video-iframe" runat="server" src="" width="100%" height="100%;" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
</div>
<!-- evaluate Modal end-->
<!-- change-password Modal start-->
<div class="modal fade" style="padding-right: 15px; top: 0; margin-top: 0;" id="change-password">
  <div class="modal-dialog mydialog">
    <div class="modal-content register">
      <div class="modal-header">
        <div style="cursor:pointer;"><div class="close-modal iconfont icon-close1 pull-right">&nbsp;</div></div>
        <h4 class="modal-title font-size-style modal-title">修改密码</h4>
      </div>
      <div class="modal-body">
       	<form class="form-horizontal" autocomplete="off">
		  <div class="form-group" style="margin-bottom: 0;">
		    <div class="col-md-10  col-md-offset-1">
		      <input style="border-radius: 0px; box-shadow: none;" type="password" required="required" class="form-control" id="oldpasswd" placeholder="输入原始密码">
		    </div>
		  </div>
		  <div class="form-group" style="margin-bottom: 0;">
		    <div class="col-md-10  col-md-offset-1">
		      <input style="border-radius: 0px; box-shadow: none;" type="password" required="required" class="form-control" id="newpasswd" placeholder="输入新密码">
		    </div>
		  </div>
		  <div class="form-group" style="margin-bottom: 25px;">
		    <div class="col-md-10  col-md-offset-1">
		      <input style="border-radius: 0px; box-shadow: none;" type="password" required="required" class="form-control add-bottom" id="re-newpasswd" placeholder="确认新密码">
		    </div>
		  </div>
		  <div class="form-group footer-box">
		    <div class="col-md-offset-1 col-md-10 clearfix footer-modal">
		      <div class="pull-right submit-modal" data-act="change-password">保存</div>
		      <a class="pull-right cancel-modal">取消</a>
		    </div>
		  </div>
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- change-password Modal end-->
<!-- 新用户提示 start-->
<div class="modal fade" style="padding-right: 15px; top: 0; margin-top: 0;" id="new_robot_appid">
  <div class="modal-dialog mydialog" style="width:600px;">
    <div class="modal-content register" style="width:600px;height:262px;margin-top:120px;">
      <div class="modal-body">
		  <div class="form-group">
		    	<div style="font-size:17px;">
		    		<i class="iconfont icon-xingxing xingxing-guide"></i>
		    		恭喜您，已成功创建机器人“{{newRobotAppName}}”
		    	</div>
		    	<button class="new-user-guide" ng-click="newUserGuideClick()">进入新手引导</button>
		  		<div><span class="old-user-text" ng-click="oldUserClick()">我是老用户</span></div>
		  </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 新用户提示 end-->
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/components.js"></script>
<script src="https://dn-vbuluo-static.qbox.me/jquery.cookie.js"></script>
<script src="js/global-util.js?20161012"></script>
<script src="js/common.js?20161012"></script>
<script src="js/app_manager.js"></script>
</body>
</html>